.ui-joy-carousel {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%; }

.ui-joy-carousel .wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 10000px;
  height: 100%;
  -webkit-perspective: 800;
  -webkit-backface-visibility: hidden;
  -moz-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in; }

.ui-joy-carousel .jump-to-slide {
  position: absolute;
  top: 0;
  right: 10px;
  overflow: auto;
  width: auto;
  height: 25px;
  z-index: 9; }

.ui-joy-carousel .jump-to-slide .dot {
  border-radius: 50px;
  background-color: #ddd;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  float: left;
  text-align: center;
  margin-left: 2px;
  width: 8px;
  height: 8px;
  border: 1px solid #444; }

.ui-joy-carousel .jump-to-slide .dot.active {
  background: #a9db80;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5ZGI4MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NmM1NmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #a9db80 0%, #96c56f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9db80), color-stop(100%, #96c56f));
  background: -webkit-linear-gradient(top, #a9db80 0%, #96c56f 100%);
  background: -o-linear-gradient(top, #a9db80 0%, #96c56f 100%);
  background: -ms-linear-gradient(top, #a9db80 0%, #96c56f 100%);
  background: linear-gradient(top, #a9db80 0%, #96c56f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 );
  box-shadow: inset 0, 0 1px 0 #fff; }

.ui-joy-carousel .jump-to-slide .dot a {
  text-decoration: none; }

.ui-joy-carousel .forward,
.ui-joy-carousel .back {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #f6f6f6;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM2JSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcxJSIgc3RvcC1jb2xvcj0iI2U5ZTllOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f6f6f6 0%, #f1f1f1 36%, #e9e9e9 71%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(36%, #f1f1f1), color-stop(71%, #e9e9e9), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #f6f6f6 0%, #f1f1f1 36%, #e9e9e9 71%, #e5e5e5 100%);
  background: -o-linear-gradient(top, #f6f6f6 0%, #f1f1f1 36%, #e9e9e9 71%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #f6f6f6 0%, #f1f1f1 36%, #e9e9e9 71%, #e5e5e5 100%);
  background: linear-gradient(top, #f6f6f6 0%, #f1f1f1 36%, #e9e9e9 71%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#e5e5e5',GradientType=0 );
  border: 1px solid #b1b1b1;
  border-radius: 50px;
  text-align: center;
  z-index: 99;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.ui-joy-carousel .forward:active,
.ui-joy-carousel .back:active {
  background: #e5e5e5;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI5JSIgc3RvcC1jb2xvcj0iI2U5ZTllOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY0JSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #e5e5e5 0%, #e9e9e9 29%, #f1f1f1 64%, #f6f6f6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(29%, #e9e9e9), color-stop(64%, #f1f1f1), color-stop(100%, #f6f6f6));
  background: -webkit-linear-gradient(top, #e5e5e5 0%, #e9e9e9 29%, #f1f1f1 64%, #f6f6f6 100%);
  background: -o-linear-gradient(top, #e5e5e5 0%, #e9e9e9 29%, #f1f1f1 64%, #f6f6f6 100%);
  background: -ms-linear-gradient(top, #e5e5e5 0%, #e9e9e9 29%, #f1f1f1 64%, #f6f6f6 100%);
  background: linear-gradient(top, #e5e5e5 0%, #e9e9e9 29%, #f1f1f1 64%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#f6f6f6',GradientType=0 );
  border: 1px solid #aaa;
  border-radius: 50px;
  text-align: center;
  z-index: 99;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer; }

.ui-joy-carousel .forward.disabled,
.ui-joy-carousel .back.disabled,
.ui-joy-carousel .forward.disabled:active,
.ui-joy-carousel .back.disabled:active {
  cursor: default;
  opacity: .6; }

.ui-joy-carousel .forward img,
.ui-joy-carousel .back img {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAoCAYAAAD+MdrbAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIE1hY2ludG9zaCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo2NTdCMUI3NjUwM0QxMUUxQTY0M0U2NTg2RTE3NTAxOSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo2NTdCMUI3NzUwM0QxMUUxQTY0M0U2NTg2RTE3NTAxOSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjY1N0IxQjc0NTAzRDExRTFBNjQzRTY1ODZFMTc1MDE5IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjY1N0IxQjc1NTAzRDExRTFBNjQzRTY1ODZFMTc1MDE5Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+/ClTQAAAAsNJREFUeNrMlruKIkEUhqu962iggSgidDCKrjBoaGKgZga7Ghu04AOYiGaDiRcMfQA3MN99AQ3MzGSCEWSDScRL2ogXvGz9jT0Ma/dMtQzDFhTdSvlxTtWp88mdz2fymUNHPnkYWBe63e4ox3GPeKdZ1Var1VhpHceSstfrjZrN5iFd65B+xHHidrt9WCwWL5pT9vl80bu7u6HFYnHQQex2OzGZTA6e50uaU5ZhAFAgMRgM5HQ6kd1uR7LZLK8JKMNoqg76JADqdDpyOBxIJpMhlUrlN/Me/guzWq1IE4dBkskkqVarP+myAlOEajB6ECSdTpNyuawKUzwUv99fw57JMAomer2eCaYIjEQi37BfmIDhIJDqcrn88xFMEVgsFp+dTicxGo0SDKkCOBqN7mOxWFczMB6PP3Y6HRH1pjCEQCDQ1XqXx6FQKNFqtUSkjegQJfYRUdMp0KLuam0O42AwmKjX6xIUQMDwfjkogR6eoLXbvEIBQVGjfGRoKpX6cUv7kqCNRkNEGQGKSF0uFymVSi83dxs6otPpdNjr9RzH45Hk83kxHA4/0O+voQAyziidvy4zqraO++8V8DVOYfUH0yl7PB6e1trTW3/QDp2Yz+fjm1KGK9C+cJfhELgE/RF98iYgXIGbgEIGFFML9AoIV+RyOemK2Wy2V+ilg38IVavDbrPZFAaDgdQY9vs92Ww2ZL1ew3gifSZms5lm0Xfb7bbQ7/elG8AKfc/LBeoQRChFCh28ua4O2iBq9PW71sIuwCWIEDoAVPYN3KP5nwMcQkvnHoeDvQQU7QvOgXs0Xb2LO666Mk4czoF7mIFwBtyBaOAS2XxIFa6Bc9B8WUUvwBkobgAABRDv0AE6uBpMEQhXyDA4BG0fn1lgikC4As5AZIDhCsIpLDC1wuYnk8kT/IH9gz9YYe85hckfX+KUvwIMABVvnbwgBKKdAAAAAElFTkSuQmCC) no-repeat 0 0;
  width: 20px;
  height: 20px;
  margin: 5px; }

.ui-joy-carousel .back {
  left: 10px; }

.ui-joy-carousel .back img {
  background-position: 0 0;
  margin-left: 4px; }

.ui-joy-carousel .forward {
  right: 10px; }

.ui-joy-carousel .forward img {
  background-position: 0 -20px;
  margin-left: 7px; }
