:javascript
  function edgeCreateFire(response) {
    if (window.cURL && window.rURL) {
      var src = '<iframe src="'+ window.cURL +'" width="1" height="1" frameborder="0" style="display:none"></iframe>';
      $("body").append(src);
      setTimeout(function() {
        window.location = window.rURL;
      }, 250);
    }
  }

  function initiateFacebook (options, onReady) {
    window.fbAsyncInit = function() {
      FB.init({
        appId  : options.appId,
        status : true,
        cookie : true,
        oauth : true,
        xfbml : true
      });

      if (onReady !== undefined) {
        onReady();
      }

      if (options.subscribeEdgeCreate) {
        FB.Event.subscribe('edge.create', function(response) {
          edgeCreateFire(response);
        });
      }
    };

    (function() {
      var e = document.createElement('script'); e.async = true;
      e.src = document.location.protocol + '//connect.facebook.net/' + options.locale + '/all.js';
      document.getElementById('fb-root').appendChild(e);
    }());
  }

  function checkPermission (withPerm) {
    FB.api('/me/permissions', function (response) {
      if (response['data'][0]['publish_stream']) {
        withPerm();
      } else {
        $('.error').text('Please grant us Facebook permission').show();
      }
    });
  }
