= stylesheet_link_tag 'top_bar'
.brand-gradient.clearfix#topbar
  .clearfix
    #back-btn
// placeholder to move any content below the top bar.
.placeholder

:javascript
  var back = document.getElementById('back-btn');
  back.addEventListener('click', function(){
    window.history.back()
  });
