.truste
  %a{ :href => "https://privacy-policy.truste.com/certified-policy/mobile/app/en/Tapjoy.com/", :title => "TRUSTe online privacy certification", :target => "_blank" }
    %img{ :style => "border: none", :src => "https://privacy-policy.truste.com/certified-seal/wps/en/www.tapjoy.com/seal_s.png", :alt => "TRUSTe online privacy certification" }
