.truste
  %a{ :href => "//privacy.truste.com/privacy-seal/Tapjoy/validation?rid=2d44e22d-60fe-4340-8d33-90a36356964a", :title => "TRUSTe online privacy certification", :target => "_blank" }
    %img{ :style => "border: none", :src => "//privacy-policy.truste.com/certified-seal/wps/en/www.tapjoy.com/seal_s.png", :alt => "TRUSTe online privacy certification" }
