%p
  Use Pay-Per-Action to encourage your users to engage with your application. Pay-Per-Action allows you to set up actions such as "Register for XYZ", "Complete the Tutorial", or "Beat Level One" that allow you to pay for a user to engage with your app.
  %ul
    %li You cannot incentivize actions that require payment.
    %li All actions need to be able to be completed in less than 3 minutes.
    %li You must have the name of the app in the name of the action.
    %li Actions will be reviewed by Tapjoy support before they are enabled.
%p= "If you have any questions about whether an action is suitable for PPA, please email #{mail_to "mobilesupport@tapjoy.com"}."
