!!! Strict
%html
  %head
    %title
      = @page_title
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %meta{ 'name' => 'viewport', 'content' => 'initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, target-densitydpi=device-dpi, width=device-width, user-scalable=no' }
    %style{ :type => 'text/css' }
      = yield :page_styles
  %body
    = yield
    %script{ :type => 'text/javascript', :charset => 'utf-8' }
      = yield :page_javascript
