<html>
<head>
  <title><%= yield :title %> </title>
  <style type='text/css'>
    body{
      -webkit-text-size-adjust:none;
      font-family:Helvetica, Arial, Verdana, sans-serif;
      background:url("/images/stripes.png") repeat scroll 0 0 #C7C7C7;
    }
    #main {
      padding: 5px;
      background:#fff;
      border: 1px solid #d5d5d5;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
      margin: 0 3%;
    }
    <%= yield :style %>
  </style>
  <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
</head>
<body>
<div id="main">
<%= yield %> 
</div>
</body>
</html>