!!! Strict
%html
  %head
    %title Tapjoy :: Fueling Great Apps
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %link{ :rel => 'shortcut icon', :href => '/favicon.ico' }
    = stylesheet_link_tag 'reset', 'common', 'home'
  %body
    #header_wrapper
      #header
        %a#logo{:href => "/"}
        #nav
          %a#nav_home.nav_link{:href => ""}
          %a#nav_developers.nav_link{:href => ""}
          %a#nav_advertisers.nav_link{:href => ""}
          %a#nav_about.nav_link{:href => "/site/about_us"}
    #content_wrapper
      #content
        = yield
    #press_wrapper
      #press
        %img{:src => "images/maybe_youve_heard_of_us.png"}/
        %a{:href => "http://venturebeat.com/2011/01/06/tapjoy-funding-seriesc/"}
          %img{:src => "images/mobilebeat.jpg"}/
        %a{:href => "http://techcrunch.com/2011/03/23/app-distributor-tapjoy-launches-publishing-platform-for-game-developers/"}
          %img{:src => "images/techcrunch.jpg"}/
        %a{:href => "http://www.insidemobileapps.com/2011/01/03/tapjoy-rebound/"}
          %img{:src => "images/insidemobileapps.jpg"}/
    #footer_wrapper
      #footer
        #clients
          %img.header{:src => "images/checkout_a_few_of_our_clients.png"}/
          .clear
          %a.client{:href => "#"}
            %img{:src => "images/gunbros.png"}/
            %span.appname Gun Bros
            %span.company Glu
          %a.client{:href => "#"}
            %img{:src => "images/tapzoo.png"}/
            %span.appname Tap Zoo
            %span.company Pocket Gems, Inc.
          %a.client{:href => "#", :title => "ngmoco"}
            %img{:src => "images/werule.png"}/
            %span.appname We Rule
            %span.company ngmoco, Inc.
          .clear
          %a.client{:href => "#", :title => "pinger"}
            %img{:src => "images/pinger.png"}/
            %span.appname Pinger
            %span.company Textfree
          %a.client{:href => "#"}
            %img{:src => "images/google.png"}/
            %span.appname Google Search
            %span.company Google
          %a.client.on{:href => "#", :title => "kayak"}
            %img{:src => "images/kayak.png"}/
            %span.appname Kayak Mobile
            %span.company Kayak
        #quote
          %img.header{:src => "images/heres_what_they_are_saying_about_us.png"}/
          #kayak.show
            .quote_content
              %p Tapjoy produced great results, giving us effective engagement with their network as well as with..
            %a.view_case_study{:href => ""}
            #byline
              %img{:src => "images/edward_hoa.jpg"}/
              %span.appname Edward Hoa
              %span.company Kayak
          #pinger
            .quote_content
              %p We are both a publisher and an advertiser with Tapjoy, and they've provided tremendous value..
            %a.view_case_study{:href => ""}
            #byline
              %img{:src => "images/edward_hoa.jpg"}/
              %span.appname Joe Sipher
              %span.company Pinger
          #ngmoco
            .quote_content
              %p Tapjoy is a key monetization partner for ngmoco:).  The team is knowledgeable, honest..
            %a.view_case_study{:href => ""}
            #byline
              %img{:src => "images/edward_hoa.jpg"}/
              %span.appname Nate Morgan
              %span.company ngmoco :)
        #footer_divider
        #footer_content
          #about_tapjoy
            %img.header{:src => "/images/about_tapjoy.png"}/
            .clear
            %ul
              %li
                %a{:href => "/site/team"} Meet the team
              %li
                %a{:href => "/press"} Tapjoy in the press
              %li.last
                %a{:href => "http://blog.tapjoy.com"} Read our blog
            %ul
              %li
                %a{:href => "/site/careers"} Work at Tapjoy
              %li.last
                %a{:href => "/site/contact"} Contact us
          #legal_stuff
            %img.header{:src => "/images/legal_stuff.png"}/
            %p
              All content © 2011 Tapjoy. Website created with love in downtown San Francisco, CA
            .clear
      .clear
    = javascript_include_tag 'jquery-1.4.2.min', 'tapjoy'