!!! Mobile

%html
  %head
    %meta{:content => 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', :name => 'viewport'}
    %title
      = @page_title
    %style{ :type => 'text/css' }
      = yield :page_styles
    = yield :included_stylesheets
  = yield
