- @page_title = 'Partners'

%h1 Partners
- if permitted_to? :new, :dashboard_partners
  = link_to 'Create a New Partner Account', new_partner_path

= render :partial => "shared/partner_table",
  :locals => { :search_path => partners_path, :partners => @partners,
    :agency_user => nil }
= will_paginate(@partners)

