- @page_title = 'Password Reset'

%h1 Password Reset

- form_for(:gamer, @gamer, :url => { :action => :update }, :html => { :method => :put }) do |f|
  .field
    = f.label :password
    = f.password_field :password
    = error_message_on @gamer, :password
  .field
    = f.submit 'Submit'
