= render 'instructions_fb_visit'

- @load_facebook = true
- @load_facebook_sdk = true

- content_for :page_javascript do
  :plain
    $(function($){
      var iURL = "#{@impression_tracking_url.first}",
          src = '<iframe src="'+ iURL +'" width="1" height="1" frameborder="0" style="display:none"></iframe>';
      $("body").append(src);
      window.cURL = "#{@conversion_tracking_url.first}";
      window.rURL = "#{@complete_action_url}";
      var fbOpts = $.parseJSON($("#fb-root").attr("data-fb-options"));
      fbOpts["subscribeEdgeCreate"] = true;
      if (fbOpts) {
        initiateFacebook(fbOpts);
      }
    });
