
@font-face {
	font-family: 'AvantGardeDemiRegular';
	src: url('/fonts/avantgarde-demi-webfont.eot');
	src: url('/fonts/avantgarde-demi-webfont.woff') format('woff'), url('/fonts/avantgarde-demi-webfont.ttf') format('truetype'), url('/fonts/avantgarde-demi-webfont.svg#webfontlKSTtLGG') format('svg');
	font-weight: normal;
	font-style: normal;
}

