#fund_details
  %h1
    Apply for the
    %span $5 million
    Tapjoy
    = succeed "Android" do
      %br/
    Fund
  %h2 Looking for a reason to port your game to Android?
  %p
    How about the fact that Android recently overtook iOS and RIM for #1 in market share among global mobile operating systems. Or the fact that nearly 500,000 new Android-enabled devices are activated every day?
    %br/
    %b Simply put, Android is where it's at.
  %a#apply_btn{:href => "/androidfund/apply"}
#phone
  .gunbros.screenshot.show
    %img{:src => "/images/android/gunbros_screenshot.jpg"}
  .pps.screenshot
    %img{:src => "/images/android/pps_screenshot.jpg"}
  .dragracing.screenshot
    %img{:src => "/images/android/dragracing_screenshot.jpg"}
  .bb.screenshot
    %img{:src => "/images/android/bb_screenshot.jpg"}
#icons
  %a.icon.selected#gunbros{:href => "#"}
    %img{:src => "/images/android/gunbros.jpg"}/
  %a.icon#pps{:href => "#"}
    %img{:src => "/images/android/pps.jpg"}/
  %a.icon#dragracing{:href => "#"}
    %img{:src => "/images/android/dragracing.jpg"}/
  %a.icon#bb{:href => "#"}
    %img{:src => "/images/android/bb.jpg"}/
#bottom_info
  #left
    %h3
      What does Tapjoy's <span>Android Fund</span> offer developers?
    %ul#benefits
      %li
        %img{:src => "/images/android/money.jpg"}/
        %span
          Working Capital
        %p
          Get the monetary support you need to port your game over to Android, backed by the $5 million Tapjoy Android Fund. We've got you covered.
      %li
        %img{:src => "/images/android/houses.jpg"}/
        %span
          Porting Services
        %p
          We'll provide porting and testing services to ensure your app works on all leading Android handsets. That's one giant burden lifted off your shoulders, one giant headache gone.
      %li
        %img{:src => "/images/android/credits.jpg"}/
        %span
          Free Marketing Credits
        %p
          Receive free marketing credits for new user acquisition through our industry-leading ad network. We drive high-value, highly monetizable users. Did we mention it's free?
  #right
    %h3
      Hear what our developers say
    %ul#testimonials
      %li
        %span
          Benjamin Vu, SkyVu
        #testimonial_line
        %p
          "Tapjoy's development funds and expertise have really helped SkyVu accelerate its Android development cycles."
      %li
        %span
          Tom Ricket, Inert Soap
        #testimonial_line
        %p
          "We are excited to port Fingerzilla to Android - we've been getting requests for an Android version for a long time, but just haven't had the time or resources to do it before now."
  -#.#video
    -#%img{:src => "/images/android/video_coming_soon.jpg"}/
