//-------------------------------------------
// Line item structure
//-------------------------------------------
.line-item {
  .hd {
    margin-right: percentage(12/480);
  }
  .bd {
    width: percentage(316/480);
    margin-right: 0 percentage(12/480);
  }
  .ft {
    width: percentage(69/480);
  }
}
.image-caption {
  .bd {
    width: auto;
  }
}

.list-button-container.earn-theme .big-title {
  max-width: 250px !important;
}

.ui-list-action-label {
  margin-top: 0;
  padding-bottom: 2px;
}

.app {
  .details {
    width: 60% !important;
  }
}