.list-button a {
  -webkit-text-size-adjust: 110%;
  -moz-text-size-adjust: 110%;
  -o-text-size-adjust: 110%;
  -ms-text-size-adjust: 110%;
}


#tjmTopbar .banner {
  .more {
    top: 30%;
    .text {
      -webkit-text-size-adjust: 60%;
      -moz-text-size-adjust: 60%;
      -o-text-size-adjust: 60%;
      -ms-text-size-adjust: 60%;
    }

    .circle {
      background: -moz-linear-gradient(top, #e82c2c 0%, #de2627 25%, #ce1f21 50%, #c31a1d 75%, #b41317 100%);
      background: -webkit-linear-gradient(top, #e82c2c 0%, #de2627 25%, #ce1f21 50%, #c31a1d 75%, #b41317 100%);
      background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e82c2c), color-stop(25%,#de2627), color-stop(50%,#ce1f21), color-stop(75%,#c31a1d), color-stop(100%,#b41317));
      border-bottom: 1px solid #720101;
      box-shadow: 0 1px 2px rgba(0,0,0, .5), inset 0 -2px 0 rgba(221, 52, 56, 1);
      border-radius: 90px;

      img {
        background-size: 18px 18px;
        width: 18px;
        height: 18x;
        margin: 2px 3px 0px 5px;
      }
    }

    .circle.active {
      img {
        margin: 3px 3px 0px 5px;
      }
    }
  }
}

.list-button-container.earn-theme .big-title,
.list-button-container.earn-theme .info,
div.app .title {
  width: 136px !important;
}

.list-button-container.earn-theme .list-button a {
  font-size: 1em;
}

.list-button-container.earn-theme .list-button a .big-title{
  font-size: 1.8em;
}


.content {
  width: 300px;
}


#more-games {
  .app {
    margin: 0;
    .details {
      small.description {
        height: 40px;
        overflow: hidden;
        width: 60%;
      }
    }
  }
}


#recommendations .app {
  .details {
    span.title {
      width: 200px !important;
    }
  }
}

#footer {
  .links {
    ul {
      li {
        a {
          font-size: .5em;
        }
      }
    }
  }
  small {
    font-size: .4em;
  }
}

/**
 * Earnings screen
 */
.app-info {
  width: percentage(300/320);
  left: 96px;
  margin: 0;

  .big-title {
    width: percentage(300/320);
    font-size: 1.8em;
  }
}
.earn-btn {
  top: 25px;

  .collect {
    font-size: 1.2em;
    line-height: 1.3em;
    margin-top: 2px;
  }

  .greenblock {
    width: 50px;
    font-size: 1.3em;
    line-height: 2em;
  }
}

.list-button-container.earn-theme .list-button {
  padding: 0;
}

.list-button-container.earn-theme .list-button a {
  padding: 7px 0 0 3px;
}
