@import "tj-mixins.scss";

/* ============== Basic Setup */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.border-box {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  font-family: "Gill Sans", Arial, Helvetica, sans-serif;
  background-color: #edf0f3;
}

.mod {
  padding: 10px 10px;
}

.elip {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.current {
  z-index: 10;
  display: block;
}

.wrap {
  position:relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}


/* Icons */
.social {
  background: url('/images/games/social.png') no-repeat 0 0;
}
.social-med {
  background: url('/images/games/social-med.png') no-repeat 0 0;
}
.score {
  background: url('/images/games/thumbs-up.png') no-repeat 0 0;
}
.score-med {
  background: url('/images/games/thumbs-up-med.png') no-repeat 0 0;
}
.ui-icon {
  padding-left: 20px;
}
.ui-icon-med {
  padding-left: 28px;
}


/* =============== get-app specific */

/* button */
.ui-joy-button {
  @include rounded-corners(4px);
  @include shadow(#ddd, 1px);
  @include txt-shadow(0, -1px, 1px, #888888);
  display: block;
  color: white;
  text-align: center;
  font-size: 1.1em;
  -webkit-appearance: none;
}

input.ui-joy-button {
  padding: 6px 8px 7px 8px;
  width: 100%;
}

.button-group {
  @extend .clearfix;
  padding: 0;

  .ui-joy-button {
    @extend .border-box;
    width: 49%;
    float: left;
  }
  .ui-joy-button:first-child {
    margin-right: 2%;
  }
}

.orange-action {
  @include gradient-top(#ffc000,#ffb300, #ff9200, #ff8600);
  border: 1px solid #f49700;
  border-top: 1px solid #ffebab;
  border-bottom: 1px solid #a35500;
}

.grey-toggle, .grey-action {
  @include gradient-top(#d3d3d3,#c9c9c9, #bdbdbd, #b7b7b7);
  box-shadow: 0 1px 0 #e9e9e9 inset;
  border: 1px solid #a5a5a5;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #9b9b9b;
  padding-bottom: 0px;

  a.text-center {
    padding-bottom:0;
  }
  .active-image {
    display: none;
  }
  .inactive-image {
    display: block;
  }
}

.grey-toggle.active {
  @include gradient-top(#d9d9da,#e1e2e3, #f2f3f4, #ededee);
  box-shadow: 0 1px 0 #c7c9cc inset;
  border: 1px solid #d5d5d5;
  border-top: 1px solid #8f8f8f;
  border-bottom: 1px solid #e4e4e5;

  .inactive-image {
    display: none;
  }
  .active-image {
    display: block;
  }
}

/* form input elements */
.ui-joy-input {
  @include rounded-corners(4px);
  box-shadow: 0 2px 2px #dfdfdf inset;
  border: 1px solid #bfbfbf;
  padding: 10px 2.5%;
  width: 95%;
}

.form-section {
  padding: 0;
  margin-top: 5px;
}

.review-form {

  input {
    font-size: 1.0em;
  }
  textarea {
    height: 80px;
    font-size: 1.0em;
  }
}

/* specific elements */
.social-info {
  box-shadow: 0 0px 1px rgba(169, 169, 169, 1.0) inset, 0 1px 0 rgba(200, 200, 200, 1.0);
  position: relative;
  z-index: 30;
}

.menu-head {
  @include gradient-top(#dcdce1,#dadadf,#cbced3,#c1c5ca);
  border-top: 1px solid #f8f8f9;
  box-shadow: 0 1px 1px #535353;
  text-shadow: 0 1px 0 #ffffff;
  position: relative;
  z-index: 30;
}

.get-app {
  padding-bottom: 15px;
}

/* listing layout and details */
.line-item {
  @extend .clearfix;
  @extend .light;
  height: 60px;
  margin: 0;
  padding: 20px 10px;

  .title {
    font-size: 1.2em;

    .aside {
      font-size: .7em;
      font-style: italic;
    }
  }
  .sub-title {
    font-size: .9em;
    color: #a1a1a1;
  }
  .hd {
    margin-right: percentage(12/300);
    width: percentage(69/300);
    float: left;

    img {
      @include set-box-shadow(0px, 0px, 3px, #000);
      @include rounded-corners(45%);
      max-height: 60px;
      max-width: 100%;
    }
  }
  .bd {
    margin-right: 0 percentage(12/300);
    width: percentage(138/300);
    float: left;
  }
  .ft {
    width: percentage(69/300);
    float: right;
    text-align: right;
    line-height: 60px;
  }
}

.image-caption {
  .hd {
    width: 60px;
  }
  .bd {
    width: auto;
    overflow: hidden;
    float: none;
  }
}

.score-summary {
  padding-top: 20px;
  padding-bottom: 20px;

  .percentage {
    font-size: 1.5em;
  }
  .description {
    color: #a1a1a1;
  }
  img {
    background: url(/images/games/thumbs-up-lg.png) no-repeat 0 0;
    width: 31px;
    height: 32px;
    vertical-align: middle;
  }
}

.page-header {
  @extend .image-caption;

  padding-bottom: 10px;
}

.review {
  font-size: .9em;

  .author, .date {
    color: #a1a1a1;
    float: left;
  }
  .author {
    padding-right: 10px;
  }
  .date {
    text-align: right;
    float: right;
  }
  .score {
    float: left;
  }
  .text {
    clear: both;
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
  }
}

.titled-group {

  .group-title {
    padding-left: 10px;
  }
  >.bd {
    position: static;
    overflow: hidden;
    margin-top: 10px;
    @include rounded-corners(4px);
    border: 1px solid #abacad;
  }
}

.short-detail {
  background-color: #eeeeee;
  padding: 5px 10px;
  border-bottom: 1px solid #c8c4c4;
  box-shadow: 0 1px 0 #ffffff inset;

  .hd {
    font-size: .9em;
    color: #a1a1a1;
  }
  .bd {
  }
}
.short-detail:last-child {
  border-bottom: none;
}

.simple {
  padding: 10px 20px;
  background-color: #eeeeee;
  border-bottom: 1px solid #c8c4c4;
  box-shadow: 0 1px 0 #ffffff inset;
}
.simple:first-child {
  border-top: 1px solid #c8c4c4;
}
.simple:last-child {
  box-shadow: 0 1px 0 #ffffff inset, 0 1px 0 #ffffff;
}

.footer-nav {
  margin-top: 20px;
}
