//-------------------------------------------
// Global Mixins
//-------------------------------------------

@import "tj-mixins";

//-------------------------------------------

.logo {
  background: transparent url("/images/games/old/v2/logo_hd.png") no-repeat;
  background-size: 100%;
  height: 38px;
  width: 84px;
}
