//-------------------------------------------
// Global Mixins
//-------------------------------------------

@import "tj-mixins";

//-------------------------------------------

.logo {
  background: transparent url('/images/games/logo.png') no-repeat;
}
.loading_animation {
  background: transparent url('/images/games/loader.gif') no-repeat;
}
.main_scene {
  background: transparent url('/images/games/main-scene.jpg') no-repeat center;
}