//-------------------------------------------
// Global Mixins
//-------------------------------------------

@import "tj-mixins";

//-------------------------------------------

//-------------------------------------------
// TODO: Old design. Remove once other pages ported over.
//
.old {
  .logo {
    background: transparent url('/images/games/old/v2/logo_hd.png');
  }
  input[type=checkbox]:checked {
    background: transparent url('/images/games/checkmark.png') no-repeat;
  }
  .wifi_icon {
    display: inline-block; height: 11px; width: 15px; background:url('/images/games/wifi.png') no-repeat scroll 0 0 transparent; margin: -2px 0;
  }
}
//-------------------------------------------

.new {
  input[type=checkbox]:checked {
    background: transparent url('/images/games/checkmark.png') no-repeat;
  }
  .logo {
    background: transparent url('/images/games/logo.png') no-repeat center center;
  }
  @media screen and (max-width: 480px) {
      .logo {
        background: transparent url('/images/games/logo-mobile.png') no-repeat center center;
      }
  }
  .loading_animation {
    background: transparent url('/images/games/loader.gif') no-repeat;
  }
  .main_scene {
    background: transparent url('/images/games/main-scene.jpg') no-repeat center;
  }
  .main_phone {
    background: transparent url('/images/games/main-phone.png') no-repeat center 18px;
  }
  .sign_up_message {
    background: transparent url('/images/games/unlock-mobile-joy.png') no-repeat center bottom;
  }
  .register_form {
     select {
       background: transparent url('/images/games/select-bg.png') no-repeat center right;
     }
  }
  .devices {
    background: transparent url('/images/games/devices.jpg') no-repeat center center;
  }
  .knows_apps {
    background: transparent url('/images/games/knows-apps.jpg') no-repeat center left;
  }
  .icon.advertisers {
    background: transparent url('/images/games/advertisers-icon.png') no-repeat center center;
  }
  .icon.developers {
    background: transparent url('/images/games/publishers-icon.png') no-repeat center center;
  }
  .wifi_icon {
    display: inline-block; height: 11px; width: 15px; background:url('/images/games/wifi.png') no-repeat scroll 0 0 transparent; margin: -2px 0;
  }
}
