@import "tj-mixins.scss";
$page-width-1024: (944/16)em;
$page-padding-1024: 0 (40/16)em;

.clear {
  clear:both;
}
.container {
  max-width: 944px;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}
@media only screen and (max-width: 800px) {
  .container {
    padding: 0;
  }
}

h2 {
  margin: 0;
  font-family: "MuseoSlab 500";
  font-size: 14pt;
  font-weight: bold;
}
body {
  padding:0;
  margin:0;
  font-family: 'Gill Sans';
  font-size: 100%;
}
.header {
  @include gradient(#EA1927, #cf0506);
  font-size: 12pt;

  .container {
    height: 35px;
    background: transparent url('/images/games/logo-navbar.png') no-repeat scroll center center;
    background-size: auto 29px;
    color: #fff;

    .nav-menu {
      height: 100%;
      div {
        float: left;
        padding: 0 16px;
        line-height: 35px;

        .selected {
          background-color: #cd0202;
        }
      }
      .device-icon {
        background: transparent url('/images/games/iphone-nav.png') no-repeat scroll center center;
        padding: 0;
        height:100%;
        width: 13px;
      }
      .left {
        padding: 0;
      }
      .right {
        padding: 0;
        float: right;
        margin-right: -14px;
      }
    }
  }
}
.sub-head {
  padding: 14px 0px;
  background-color: #ebeef1;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 1px 2px #ccc;
     -moz-box-shadow: 0px 1px 2px #ccc;
          box-shadow: 0px 1px 2px #ccc;
  .ad {
    background-color: #ddd;
    height: 55px;
  }
}
.main {
  padding: 23px 0;
  @include gradient(rgba(210, 210, 210, 1.0), rgba(233, 237, 241, 1.0));
}
.app {
  float: left;
  margin: 18px 1.69491525%;
  margin-right: 6.56779661%;
  width: 12.9237288%;
  img {
    max-width: 100%;
  }
  font-size:10pt;
}
.app:nth-child(5), .app:nth-child(10) {
  margin-right: 0;
}
.game-list {
  clear: both;
  margin-bottom: 23px;
  .hd {
  }
  .bd {
    text-align: center;
    .game-image {
      img {
        @include rounded-corners(100%);
  -webkit-box-shadow: 0px 0px 3px #000;
     -moz-box-shadow: 0px 0px 3px #000;
          box-shadow: 0px 0px 3px #000;
      }
    }
    .title {
    }
    .description {
      color: #797979;
    }
  }
}
