//-------------------------------------------

@import "tj-mixins";

//-------------------------------------------

#login {

  .nav {
    height: 124px;
    max-width: 320px;
    width: 100%;

    .nav_container {

      .aside_login {
         float: none;
         margin: 0 auto;
         padding: 0;

        .login {
          
          .form_fields {
            margin: 0 auto;
            width: 280px;
            
            input {
              margin: 0 4px;
            }
            ul.row {
              float: none;
              
              li.field.login_error {
                margin: 6px 0;
              }
            }
          }
        }
      }
      .logo {
        background-size: 99px 47px;
        float: none;
        height: 47px;
        width: 99px;
        margin: 0 auto;
      }
      .nav_buttons a {
        float: none;
      }
    }
  }
  .main_scene {

    .content_box {
      height: 282px;
      margin: 24px 0 12px;
      max-width: 300px;

      .main_scene_content {
        width: 300px;

        .sign_up_message {
          display: none;
          float: none;
          margin: 0 auto;
        }
        .sign_up {
          float: none;
          margin: 0 auto;
          width: 295px;
          
          .sign_up_content {
            postiton: relative;
            top: 24px;
            
            input[type=email], input[type=password] {
              width: 260px;
            }
            input[type=submit] {
              width: 100px;
            }
            .register_form {
              .row {
                width: 260px;
                
                .field_tos {
                  .field_checkbox {
                    margin-right: 6px;
                  }
                  .field_tos_text {
                    margin-right: 6px;
                  }
                }
              }
            }
          }
        }
        .main_phone {
          display: none;
        }
      }
    }
  }
  .overview {
    display: none;
  }
  .b2b {
    height: 200px;
    margin-top: 12px;
    width: 100%;

    .block {
      max-width: 320px;
      width: 100%;
    }
  }
}

body.old {
.nav {
  padding: $nav-padding-v/2 $nav-padding-h/2;

  .nav_container {

    .aside_nav {
      font-size: 0.7em;
      font-weight: bold;
      float: right;
      margin-right: 3px;
      position: relative;
      top: 24px;
    }
    .aside_login {
      width: 300px;
    }
    .logo {
      background: transparent url('/images/games/old/v2/logo_mobile.png') no-repeat;
      height: 38px;
      margin: 0 auto;
      margin-bottom: $logo-bottom-margin/2;
      width: 84px;
    }
    .nav_buttons ul li {
      @include inset-button(16px, 6px 2px);
      font-size: 0.7em;
      width: 60px;
    }
  }
}

#login .content_box{
  margin: 0 auto;
  padding: 10px;
  width: 280px;
}

.content_wrapper {

  .content {
  }

  .register_header {
    background-size: 100%;
    height: 28px;
    margin: 0 auto 12px;
    width: 200px;
  }
  .sign_up_icon {
    background-size: 100%;
    height: 20px;
    margin: 0 auto;
    width: 67px;
  }
  form#new_gamer {
  }

} //.content_wrapper
}
