/*--------------------*/

@import "games_mixins";

/*--------------------*/

.nav {
  padding: $nav-padding-v/2 $nav-padding-h/2;

  .nav_container {
    
    .aside_nav {
      font-size: 0.7em;
      font-weight: bold;
      float: right;
      margin-right: 3px;
      position: relative;
      top: 24px;
    }
    .logo {
      background: transparent url('/images/games/v2/logo_mobile.png') no-repeat;
      height: 38px;
      margin: 0 auto;
      margin-bottom: $logo-bottom-margin/2;
      width: 84px;
    }
    .nav_buttons {
    }
    .nav_buttons ul li {
      @include inset-button(16px, 6px 2px);
      font-size: 0.60em;
      width: 60px;
    }
  }
}
