- @page_title = "About Tapjoy"
- content_for :page_head, stylesheet_link_tag('about_us')

#about_us
  #left
    = render :partial => 'homepage/sub_nav'
  #right
    %img.header{:src => "/images/about_tapjoy_header.png"}/
    %h1
      Fueling the growth of the largest social and mobile games since 2007.
    %p
      Tapjoy is the success engine for mobile application distribution, engagement and revenue. The company's turnkey in-app advertising platform helps developers acquire cost-effective, high-value new users, drive engagement within their applications, and create incremental income by providing an ad-funded payment method. The Tapjoy network spans over 9,000 applications and 200 million global consumers on iOS, Android and emerging mobile platforms, delivering more than 1.5 million advertising completions per day to applications developers and advertisers.
    %p
      Tapjoy is backed by top-tier investors including J.P. Morgan Asset Management, Rho Ventures, North Bridge Venture Partners, InterWest Partners and D.E. Shaw Ventures. Headquartered in San Francisco, the company also has offices in New York, London and Tokyo.
    %h2
      Check out the links to the left to learn more or
      %a{:href => "/site/contact"}
        contact us right now!
.clear
