- @page_title = "Home"
#left
  %img{:src => "/images/app_developers_header.png"}/
  %p
    Integrate our monetization tools and drive significant revenue to your app
  %a.learn_more{:href => "/site/app_developers"}
#right
  %img{:src => "/images/advertisers_header.png"}/
  %p
    Reach millions of users and gain exposure for your products
  %a.learn_more{:href => "/site/advertisers"}
.clear
.clear
