#earn .big-title {
  width: 200px;
}

.big-title {
  -webkit-text-size-adjust: 67%;
  -moz-text-size-adjust: 67%;
  -o-text-size-adjust: 67%;
  -ms-text-size-adjust: 67%;
}

.list-button,
.collect,
.greenblock {
  -webkit-text-size-adjust: 82%;
  -moz-text-size-adjust: 82%;
  -o-text-size-adjust: 82%;
  -ms-text-size-adjust: 82%;
}

.list-button .collect {
  margin-top: 2px;
}

.list-button .big-title, div.app .title {
}

.squircle {
  width: 66px;
  height: 66px;
  background-size: 66px 66px;
}

.squircle img {
  width: 64px;
  height: 64px;
}
