//-------------------------------------------

$image_path: "/images/marketplace/themes/tjm";
@import "../../tjm-mixins.scss";

//-------------------------------------------

.view-all .row-title {
  display: block;
}
//-------------------------------------------
// Line item structure
//-------------------------------------------
.content .wrap {
  max-width: 768px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.line-item {
  .hd {
    margin-right: percentage(12/768);
  }
  .bd {
    width: percentage(600/768);
    margin-right: 0 percentage(12/768);
  }
  .ft {
    width: percentage(69/768);
  }
}

.app {
  width: 131px !important;
}

.image-caption {
  .bd {
    width: auto;
  }
}

.forward,
.back {
  display: block !important;
}

.no-bevel, .no-bevel:before, .no-bevel:after {
  border: none;
  box-shadow: none;
}

.row {
  width: 100%;
  clear: all;
}

.row.borders {
  border-bottom: 1px solid #b1b4b6;
  border-top: 1px solid #fff;
}

.row .games .app:first-child {
  margin-top: 2px;
}

#more-games .app {
  margin: 0 30px;
}
