%p
  %b First name:
  =h @employee.first_name

%p
  %b Middle name:
  =h @employee.middle_name

%p
  %b Last name:
  =h @employee.last_name

%p
  %b Title:
  =h @employee.title

%p 
  %b Department:
  =h @employee.department

%p
  %b Email:
  =h @employee.email

%p
  %b Comments:
  =h @employee.comments


= link_to 'Edit', edit_employee_path(@employee) 
|
= link_to 'Back', employees_path