#earn.current
  .panel
    .page-header
      .container.mt20
        ssdsd
    .section.dark
      .toggle.left
        %img.downarrow.icon32{ :src => BLANK_IMAGE}
      .heading
        = t('text.games.browse_offers')
    .review-area
      - cached_app_list.each do |cached_app|      
        %ul.list-button-container
          %li.list-button
            .container.mt5
              .left.pt3
                .squircle
                  //= image_tag(@external_publisher.get_icon_url(:size => 114, :source => :cloudfront))
                  %img.downarrow.icon32{ :src => BLANK_IMAGE}
                  .action-item
                    $
              .left.ml10
                .container
                  .big-title.slate.elip
                    Coin Dozer for Pro for iPad
                .container
                  sadasdad                
-content_for :included_javascripts do
  = javascript_include_tag "games/src/marketplace"

