.app-list.current
  .panel.clearfix
    .row.borders.pn
      - cached_app_list.each do |cached_app|
        .app
          - @encrypt_app_id = ObjectEncryptor.encrypt(cached_app.id)
          - link_to(games_get_app_path(:eid => @encrypt_app_id)) do
            .app-icon
              %img{ :src => BLANK_IMAGE, :source => cached_app.icon_url }
          .details
            %span.title.elip
              = cached_app.name
            %span.description.elip
              = cached_app.description
