.top_nav_bar.toolbar.hide
  .nav_content
    - if current_gamer.present?
      .nav_item.right
        = mail_to 'mobilehelp@tapjoy.com', 'Support', :id => 'support'
      .divider.right
      .nav_item.right
        = link_to 'My Account', "#my_account", :class => "flip"
    - else
      .right
        = link_to 'Login', games_login_path                                                                                                                    