#jqt
  #recommended.current
    .container.vertical-scroll
      .scroller.with-scrollbar
        .top_nav_bar
        .page
          .logo
            .slide_nav
              .slider_wrapper.right 
                .slider.slider_active.slider_right
                  %span.title.small
                    More Games
                .slide_arrow_wrapper.bottom_arrow
                  .slide_arrow
              %a{ :href => games_root_path }
                .slider_btn.left
                  .slider.slider_left
                    %span.title
                      My Apps
          .content
            .tab_wrapper.clearfix
              #top_grossing_games_tab.tab_right.hide
                #top_grossing_games_button.tab_button.grey
                  .tab_content
                    Popular Games
                #top_grossing_games_button_arrow.tab_button_bottom_arrrow_wrapper.hide
                  .tab_button_bottom_arrrow
              #recommended_games_tab.tab_left
                #recommended_games_button.tab_button.dark_grey
                  .tab_content
                    Tapjoy Recommends
                #recommended_games_button_arrow.tab_button_bottom_arrrow_wrapper
                  .tab_button_bottom_arrrow
            #more_games_content
              = render 'editor_picks_block'


= render 'my_account'


- content_for :page_javascript do
  :plain
    $(window).load(function() {
      var jQT = new $.jQTouch({
        slideSelector: '#jqt .slide_nav',
      });
      var install = TJG.utils.getParam("register_device");
      if (install.indexOf("true") != -1) {
        TJG.utils.centerDialog("#register_device");
        $("#register_device").fadeIn(350); 
      }
      function getTopGames() {
        TJG.moreAppOfferWall = $("#more_games_content").html();
        $("#top_grossing_games_tab").click(function() {
          $("#top_grossing_games_button").addClass("dark_grey").removeClass("grey");
          $("#recommended_games_button").addClass("grey").removeClass("dark_grey");
          $("#recommended_games_button_arrow").hide();
          $("#top_grossing_games_button_arrow").show();
          $("#recommended_games_tab").click(function() {
            $("#recommended_games_button").addClass("dark_grey").removeClass("grey");
            $("#top_grossing_games_button").addClass("grey").removeClass("dark_grey");
            $("#top_grossing_games_button_arrow").hide();
            $("#recommended_games_button_arrow").show();
            if (TJG.moreAppOfferWall) {
              TJG.ui.hideLoader();
              $("#more_games_content").html(TJG.moreAppOfferWall);
              $("#more_games_content").fadeIn(450);
            }
          });
      
          if (TJG.topAppOfferWall) {
            $("#more_games_content").html(TJG.topAppOfferWall);
            $("#more_games_content").fadeIn(450);
          }
          else {
            TJG.ui.showLoader();
            $("#more_games_content").fadeOut(450,function() {
              $("#more_games_content").empty();
            });
            $.ajax({ 
              url: TJG.top_apps_path + "?ajax=1",
              timeout: 15000,
              success: function(c) {
                TJG.topAppOfferWall = c;
                TJG.ui.hideLoader();
                $("#more_games_content").html(c);
                $("#more_games_content").fadeIn(450); 
              },
              error: function () {
                var m = [
                  '<div>There was an issue. Please try again</div>'
                ].join('');
                $("#more_games_content").html(m); 
                $("#more_games_content").fadeIn(450);
              }
            });
          }          
        });
      }                                                                             
      TJG.path =  "#{games_root_path}";
      TJG.top_apps_path =  "#{games_more_games_path}" + "/top";
      getTopGames(); 
    });  