- @page_title = 'Tapjoy SDKs'

%h1 Tapjoy SDKs
%dt
  %dd
    %h3 iOS Library (#{@iphone_version})
    %ul
      %li
        - sdk_link 'iOS Advertiser Library with UDID', 'iphone-adv'
      %li
        - sdk_link 'iOS Publisher Library with UDID', 'iphone-pub'
      %li
        - sdk_link 'iOS Advertiser Library without UDID', 'iphone-advoptout'
      %li
        - sdk_link 'iOS Publisher Library without UDID', 'iphone-puboptout'
    %div{:style => 'float:right; font-size:16px;'}
      %b Note: 
      Tapjoy is mindful that app developers may wish to deprecate the use of UDID in their apps and, as such, we provide the option to capture or opt not to capture UDID during this transition period.
      %br/
      %br/
      %br/

    %h3 Android Library (#{@android_version})
    %ul
      %li
        - sdk_link 'Android Advertiser Library', 'android-adv'
      %li
        - sdk_link 'Android Publisher Library', 'android-pub'

    %h3 Windows Phone Library (#{@windows_version})
    %ul
      %li
        - sdk_link 'Windows Phone 7.5 (XNA + Silverlight) Advertiser Library', 'windows-adv'
      %li
        - sdk_link 'Windows Phone 7.5 (XNA + Silverlight) Publisher Library', 'windows-pub'

    %h3 Third-party Plugins
    %ul
      %li
        - sdk_link 'Unity Plugin for iOS and Android', 'iphone-unity'
      %li
        - sdk_link 'Phonegap Plugin for iOS', 'iphone-phonegap'
      %li
        - sdk_link 'Phonegap Plugin for Android', 'android-phonegap'
      %li
        - sdk_link 'Adobe Air Plugin for iOS and Android', 'iphone-air'

- content_for :page_head, stylesheet_link_tag('facebox')
- content_for :included_javascripts, javascript_include_tag('facebox')
- content_for :page_javascript do
  :plain
    $(document).ready(function($) {
      $('a[rel*=facebox]').facebox({
        closeImage : '/images/closelabel.png'
      });
    });
