@import "../mixins/global";
@import "../games/tj-mixins";
body {
  background: transparent url("/images/games/old/v2/nav_bg_hd.png");
  color: #444;
  font-size: 1em;
}
.container {
  min-height: 100%;
  padding: 12px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
#main {
  background-color: rgba(255,255,255,0.75);
  padding: 18px;
  @include rounded-corners(12px);
  @include shadow(#CECECE, 8px);
}
#survey_complete {
  text-align: center;
}
.message, .message_error {
  color: #505F6D;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 18px;
  text-align: center;
}
.message_error {
  color: $tj-red;
  font-size: 18px;
}
.field {
  margin-bottom: 12px;
  line-height: 1.4;
  width: 100%;
}
.question {
  float: left;
  margin-bottom: 6px;
}
.answer {
  margin-bottom: 6px;
}
.question_number {
  border: 1px solid $border-color;
  float: left;
  font-size: 0.75em;
  display: block;
  height: 16px;
  margin-right: 12px;
  padding: 4px 8px;
  width: 8px;
  @include rounded-corners(16px);
  @include shadow(#CECECE, 4px);
}
.answer {
  float: right;
}
.radio_item {
  display: inline-block;
  margin-right: 12px;
}
.radio_item:last-child {
  margin-right: 0;
}
.button {
  background-color: #CF1623;
  border-style: none;
  color: #FFF;
  cursor: pointer;
  display: block;
  font-size: 1.1em;
  margin: 0 auto;
  width: 120px;
  @include button(16px, 10px 16px);
  @include inset-text-shadow;
  @include gradient(#EA1927, #CF1623);
}
label {
  line-height: 1.4;
  margin-bottom: 6px;
}
label[for=question] {
  margin-bottom: 6px;
}
select {
  background: #FFF url('/images/games/select-bg.png') no-repeat center right;
  border: 1px solid $border-color;
  color: $main-font-color;
  padding: 6px;
  -moz-appearance: none;
  -webkit-appearance: none;
  @include inset-shadow;
  @include rounded-corners(6px);
}
input[type="text"] {
  border: 1px solid $border-color;
  padding: 0.6em;
  width: 210px;
  @include rounded-corners(12px);
  @include inset-shadow;
}
input[type="text"]:focus {
  @include inset-shadow(#FFF, 6px);
  @include shadow($border-color, 6px);
}
input[type="checkbox"] {
  cursor: pointer;
  width: 18px;
  height: 18px;
  @include rounded-corners(2px);
}
