/*-------------------------------------
  Android Landscape
 -------------------------------------*/

  .offers-wrapper {
    overflow: hidden;
    max-height: 133px;
    overflow-y: scroll;
  }

  @media screen and (max-width: 600px) and (orientation: landscape){
    .ui-joy-panel {
      .header {
        .heading {
          font-size: 110%;
          padding: 10px 0;
        }
      }

      .instructions {
        .blurb {
          font-size: 90%;
        }
      }


      .button,
      .blurb {
        font-size: 90%;
      }

      .blurb {
        margin: 2px;
      }

      .offers-wrapper {
        overflow: hidden;
        max-height: 133px;
        overflow-y: scroll;
      }

      ul#offers li {
        background: -moz-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(247,247,247,1) 50%, rgba(242,242,242,1) 85%, rgba(240,240,240,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,251,251,1)), color-stop(50%,rgba(247,247,247,1)), color-stop(85%,rgba(242,242,242,1)), color-stop(100%,rgba(240,240,240,1)));
        background: -webkit-linear-gradient(top, rgba(251,251,251,1) 0%,rgba(247,247,247,1) 50%,rgba(242,242,242,1) 85%,rgba(240,240,240,1) 100%);
        background: -o-linear-gradient(top, rgba(251,251,251,1) 0%,rgba(247,247,247,1) 50%,rgba(242,242,242,1) 85%,rgba(240,240,240,1) 100%);
        background: -ms-linear-gradient(top, rgba(251,251,251,1) 0%,rgba(247,247,247,1) 50%,rgba(242,242,242,1) 85%,rgba(240,240,240,1) 100%);
        background: linear-gradient(top, rgba(251,251,251,1) 0%,rgba(247,247,247,1) 50%,rgba(242,242,242,1) 85%,rgba(240,240,240,1) 100%);
        border-bottom: 1px solid #aaa;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1);
        height: 65px;
        position: relative;
        width: 100%;

        .offer {
          margin-left: 8px;
          overflow: hidden;
          vertical-align: middle;

          .about {
            margin-left: 5px;
            .action {
              line-height: 130%;
            }
          }
          .desc {
            color: rgba(0,0,0, .5);
            display: none;
            font-size: 70%;
            margin-top: 2px;
          }

          .icon {
            margin-top: 2px;
            top: 2px;
            height: 38px;
            width: 54px;

            img.frame {
              background-size: 50% 50%;
              box-shadow: 0 0 2px rgba(0,0,0, .5);
              height: 20px;
              width: 40px;
            }
          }
        }
        span.big {
          font-size: 140%;
          line-height: 110%;
        }
      }
    }
  }

  @media screen and (max-width: 533px) and (orientation: landscape) and (min-device-width : 243px){
    .blurb {
      font-size: 75%;
      margin: 0px;
    }

    .ui-joy-panel {
      .instructions {
        padding: 5px;
      }
    }

    .offers-wrapper {
      overflow: hidden;
      max-height: 130px;
      overflow-y: scroll;
    }

    ul#offers {
      li {
        height: 63.5px;

        .offer {
          .icon {
            margin-top: 0;
            top: 0px;

            .desc {
              color: rgba(0,0,0, .5);
              display: none;
              font-size: 60%;
              margin-top: 2px;
            }
          }

          .about {
            .action {
              line-height: 110%;
            }
          }
        }

        .reward {
          span.big {
            font-size: 140%;
            line-height: 105%;
            margin-top: 0;
          }
          span.earn, span.points {
            font-size: 70%;
          }
        }
      }
    }

    .button-wrapper {
      .button {
        font-size: 75%;
        padding: 5px 0;
      }
    }
  }

  @media (max-width:425px){
    .button-wrapper {
      .button {
        font-size: 90%;
      }
    }

    .blurb {
      color: #555;
      font-size: 100%;
      line-height: 120%;
    }

    ul#offers {
      li {
        .offer {
          .icon {
            width: 45px;
          }

          .about {
            font-size: 80%;
            margin-left: 10px;
            width: 59%;

            .action {
              line-height: 150%;
            }
          }
        }
      }
    }
  }
