%h3= @page_title

%p= link_to "Example Conversion Rates Setup", example_app_currency_conversion_rates_path(:currency_id => @currency.id, :app_id => @app.id)

= render 'conversion_rates_list'

%br
= button_to("Create new Conversion Rate", new_app_currency_conversion_rate_path(:app_id => @app.id, :currency_id => @currency.id), :method => :get)

- content_for :page_styles do
  :plain
    table {
      width: 80%;
      text-align: center;
    }

    td {
      padding:8px;
    }
