#main
  %h1
    Earn 
    %span.amount
      #{@currency.get_visual_reward_amount(@offer)} 
    #{@currency.name}!
  %p.offertext
    Just download and run
  %img{ :src => @offer.get_large_icon_url, :class => 'icon' }
  .offername
    #{@offer.name}
  .clear
  %a{ :class => 'skip', :href => 'dismiss' } Skip
  %a{ :class => 'download', :href => @offer.get_click_url(@publisher_app, params[:publisher_user_id], params[:udid], params[:source], params[:app_version], @viewed_at, nil, params[:exp]) }
    Download
  .showOffers
    %a{ :href => 'showOffers' } Show more apps
  .adsby
    Ads by
    %img{ :src => "http://s3.amazonaws.com/tapjoy/images/tapjoylogo-small.png", :alt => "Tapjoy"}

- content_for :page_styles do
  :plain
  
    h1 {
      color: #004E09;
      font-size: 22px;
    }
    
    p {
      margin: 10px 0;
    }
  
    #main {
      font-size: 20px;
      text-align: center;
      height: 100%;
      min-height: 465px;
      position: relative;
    }
    
    .amount {
      color: #008810;
    }
    
    .offertext {
      color: #004E09;
    }
    
    .offername {
      font-weight: bold;
      color: #008810;
      margin-bottom: 20px;
    }
    
    img.icon {
      border: 1px solid #aaa;
      display: block;
      margin: 0 auto;
      padding: 3px;
      width: 256px;
      height: 256px;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
    }
    
    .skip,
    .download {
      border: 1px solid #aaa;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px; 
      text-decoration: none;
    }
    
    .skip {
      padding: 5px; 
      margin-right: 20px;
      color: #555;
      background-color: #ccc;
    }
    
    .download {
      background: url("/images/arrow-right.png") no-repeat scroll 98% 50% #eee;
      color: #004E09;
      display; block;
      padding: 5px 50px 5px 40px;
      font-weight: bold;
    }
    
    .showOffers {
      position: absolute;
      bottom: 5px;
      left: 5px;
      font-size: 12px;
      text-decoration: none;
    }
    
    .adsby {
      position: absolute;
      bottom: 5px;
      right: 5px;
      font-size: 12px;
    }
    
    .adsby img {
      vertical-align: bottom;
    }
      