- @job_title = "Accounting Operations Manager"

%h2
  Overview
%p Based in San Francisco, Tapjoy is a key player in the exciting market of mobile applications and is looking to expand its finance and accounting team with an Accounting Operations Manager.
%h2
  Roles and Responsibilities
%p Tapjoy is a rapidly growing company with strong revenues and solid market share, and needs an experienced Financial Controller to help the company manage its accounting operations, contribute to its continued growth and help the company transition to the next stage, including a possible IPO. This position will report to the Finance Program Manager wand will also work closely with the Revenue Accountant and the Accounts Receivable Specialist. Essential duties and responsibilities may include, but are not limited to, the following as additional roles and/or focus will be needed as the company and department continues to grow and evolve:

%ul
  %li
    Review all journal entries and account reconciliations prepared by staff
  %li
    Ensure accuracy and timeliness of all invoicing
  %li
    Review and publish monthly AR aging report
  %li
    Manage and lower DOS
  %li
    Ensure company-wide adherence to current credit policy
  %li
    Review all bank reconciliations prepared for the month and ensure accuracy of cash reporting

%h2
  Professional Experience and Personal Qualities
%ul
  %li
    Undergraduate degree in Accounting and/or Finance
  %li
    A minimum of five years experience in all areas of accounting and three years hands-on experience as a manager with a rapidly growing, venture-funded startup
  %li
    Prior accounting experience within a social media or online gaming environment is a plus
  %li
    Proficiency in Quickbooks and Excel
  %li
    Highly detail oriented; ability to meet deadlines and effective problem solving skills
  %li
    Ability to operate independently with minimal supervision
  %li
    Ability to work cooperatively and collaboratively with all levels of employees and management
  %li
    A mature, self-motivated person with a positive, professional attitude
  %li
    High capacity to operate effectively in a turbulent startup environment
  %Li
    Progressive, consistent work history and excellent references

%h2
  Qualified and Interested Candidates
%p If this position sounds like a fit with your past experience and future interests - and you want to be part of the excitement of a rapidly growing business - we want to hear from you. We have a competitive compensation structure with a generous option plan and very good benefits. Please send a resume to = mail_to('mark.fabela@tapjoy.com'). For more information on Tapjoy, visit #{link_to('www.tapjoy.com', 'www.tapjoy.com.')}.

&h2
  About Tapjoy
%p Tapjoy is the leader in discovery, engagement, and monetization services for mobile applications. The company's turnkey in-app advertising platform helps developers acquire cost-effective, high-value new users, drive engagement within their applications, and create incremental income by providing an ad-funded payment method. The Tapjoy network spans over 10,000 apps and 220 million global consumers on iOS, Android and other emerging mobile platforms, delivering more than 1.5 million advertising actions per day to app developers and brand advertisers. Tapjoy is headquartered in San Francisco with offices in Silicon Valley, London and Tokyo. Investors include Interwest Capital, North Bridge Venture Parters, D.E. Shaw Ventures, Rho Ventures and J.P. Morgan Asset Management.