- @job_title = "Developer Outreach Associate"

%h2
  Roles and Responsibilities
%ul
  %p  We are seeking a Developer Outreach Associate in our San Francisco office. Essential duties and responsibilities may include, but are not limited to, the following as additional roles and/or focus will be needed as the company and department continues to grow and evolve: 
  %li
    Develop outbound leads by attending industry events, researching and calling into target accounts, identifying appropriate contacts, qualifying the lead and developing opportunities
  %li
    Collaborate with Developer Relations & Outreach teams to executing on strategies to develop business with new developers
  %li
    Manage and track developer accounts in the lead database through Salesforce. Track and report lead metrics
  %li
    Collaborate with marketing on lead generation activities
  %li
    Help support our developer partners
    
%h2
  Your Background
%ul
  %li
    BA/BS from a leading university
  %li
    Smart, creative and humble individual who can work in a high-growth, fast-paced environment and get things done with and without structure
  %li
    Highly interested in the mobile app/games space, and eager to learn the ins and outs of the industry
  %li
    Outgoing, friendly personality. Comfortable and excited about going to industry events to meet new developers
  %li
    Self-motivated, team player with a customer-focused attitude and excellent communication skills
    
%h2
  Qualified and Interested Candidates
  %p If this position sounds like a fit with your past experience and future interests, and you want to be part of a rapidly growing business, we want to hear from you. We have a competitive compensation structure with a generous options plan and great benefits. Please send your resume to careers@tapjoy.com. 
