- @job_title = "Director, Advertising Sales (San Francisco and New York)"

%h2
  Roles and Responsibilities

%p
  We are searching to find an experienced and accomplished sales executive to drive new revenue in the Online Media/Advertising space. This individual contributor will be responsible for closing new business with Advertisers, Ad Agencies, and Ad Networks.

%ul
  %li
    Identify and close new sales opportunities; meet or exceed target sales goals
  %li
    Plan, prepare, and execute high impact meetings with prospects and partners
  %li
    Identify and develop a strong understanding of core objectives and challenges
  %li
    Maximize revenue growth within existing accounts/territory
  %li
    Adopt the corporate selling methodology
  %li
    Contribute strategically to the growth and direction of Tapjoy's products and services
  %li
    Represent Tapjoy at industry events and conferences
  %li
    Accurately forecast revenue growth; achieve revenue goals as defined by management
  %li
    Execute in a fast-paced, team environment

%h2
  Professional Experience and Personal Qualities
%ul
  %li
    A record of selling success for 5-10+ years working in online advertising sales or affiliate marketing.
  %li
    An extremely strong network of active relationships within the target community, both leading ad agencies and direct advertisers.
  %li
    Successful experience selling to Online Media: Advertisers, Ad Agencies, and Ad Networks
  %li
    A history of meeting and exceeding annual sales quotas between $2.5 million and $5 million
  %li
    Experience with performance-based online advertising is ideal
  %li
    An undergraduate degree in Marketing, Sales, or Advertising is ideal
  %li
    Superb organization skills, a proactive nature
  %li
    A commitment to providing positive customer service and following-through to close deals and build relationships
  %li
    Proficiency with salesforce.com and MS Office
