- @job_title = "Financial Controller"

%h2
  Overview
%p Based in San Francisco, Tapjoy is a key player in the exciting market of mobile applications and is looking to expand its finance and accounting team with a world class Financial Controller. Tapjoy has a fast paced, fun, team-driven environment that needs additional financial leadership by a person who has the proven experience to streamline our processes and to quickly deliver financial reports and other key data/metrics that the employees, management and board need to drive the business forward.
%h2
  Roles and Responsibilities
%p Tapjoy is a rapidly growing company with strong revenues and solid market share, and needs an experienced Financial Controller to help the company streamline its financial processes, contribute to its continued growth and help the company transition to the next stage, including a possible IPO.

The Financial Controller will lead the accounting and finance team to streamline its processes, ensure a timely and accurate monthly close and financial reporting, interface closely with internal customers (Sales, Management, etc.) as well as external stakeholders (auditors, attorneys, etc.) and help guide decision making within the company. The ideal candidate will be self-driven, motivated, experienced with both private and public companies (prior IPO experience a plus) as well as experience with a public accounting firm. This position will report to the VP of Finance and will also closely work with the CFO and executive team. Essential duties and responsibilities may include, but are not limited to, the following as additional roles and/or focus will be needed as the company and function continues to grow and evolve:

%ul
  %li
    Lead the processes for financial reporting, consolidations, revenue recognition, account billing, collections, payroll, sales commissions, taxes stock option accounting and other accounting functions
  %li
    Coordinate with the FP&A team in key areas including financial projections, planning, advertiser and publisher analytics, etc.
  %li
    Assist with the integration of companies that are acquired through mergers and acquisitions, play a key role in international expansion including the establishment and management of additional international subsidiaries, play a key role in the preparation of SEC filings including S-1 and quarterly/annual filings.

%h2
  Professional Experience and Personal Qualities
%ul
  %li
    Proficient with GAAP and minimum 8-10 years experience
  %li
    Experience in a public accounting firm, as well as operating experience in a similar role in both private and public companies 
  %li
    Bachelors in Accounting or Finance required, CPA required

%h2
  Qualified and Interested Candidates
%p If this position sounds like a fit with your past experience and future interests - and you want to be part of the excitement of a rapidly growing business - we want to hear from you. We have a competitive compensation structure with a generous option plan and very good benefits. Please send a resume to = mail_to('mark.fabela@tapjoy.com'). For more information on Tapjoy, visit #{link_to('www.tapjoy.com', 'www.tapjoy.com.')}.

&h2
  About Tapjoy
%p Tapjoy is the leader in discovery, engagement, and monetization services for mobile applications. The company's turnkey in-app advertising platform helps developers acquire cost-effective, high-value new users, drive engagement within their applications, and create incremental income by providing an ad-funded payment method. The Tapjoy network spans over 10,000 apps and 220 million global consumers on iOS, Android and other emerging mobile platforms, delivering more than 1.5 million advertising actions per day to app developers and brand advertisers. Tapjoy is headquartered in San Francisco with offices in Silicon Valley, London and Tokyo. Investors include Interwest Capital, North Bridge Venture Parters, D.E. Shaw Ventures, Rho Ventures and J.P. Morgan Asset Management. 