- @page_title = "Work at Tapjoy"
- content_for :page_head, stylesheet_link_tag('about_us')
- content_for :page_head, stylesheet_link_tag('careers')

#about_us
  #left
    = render :partial => 'homepage/sub_nav'
  #right
    %img.header{:src => "/images/work_at_tapjoy.png"}/
    .clear
    %h2
      What is Tapjoy?
    %p
      Tapjoy is the leader in discovery, engagement, and monetization services for mobile applications. Our turnkey in-app advertising platform helps developers acquire cost-effective, high-value new users, drive engagement within their applications, and create incremental revenue by providing an ad-funded payment method.
    %p
      The Tapjoy ad marketplace spans over 10,000 apps and 280 million global consumers on iOS, Android, Windows Phone 7 and other emerging mobile platforms, delivering more than 1.5 million advertising actions per day to developers and brand advertisers. Tapjoy is headquartered in San Francisco with offices in London and Tokyo. Investors include InterWest Partners, North Bridge Venture Partners, D.E. Shaw Ventures, Rho Ventures and J.P. Morgan Asset Management.
    %h2
      So, how do we do it?
    %p
      At Tapjoy, we value innate intelligence, the curiosity to learn more, and the ability to solve problems - and we provide a ton of autonomy in which to do this. We try not to take ourselves too seriously and foster a culture of openness and collaboration. We're a competitive and passionate bunch, which you can see reflected in everything from our ad products to our beer pong tournaments.
    %ul
      %li
        Tapjoy is the leader of an exciting new branch of advertising, mobile performance marketing, which focuses on driving app discovery, engagement and monetization via incentivized ads
      %li
        Tapjoy currently completes 1M+ transactions per day, has 90%+ market share in this emerging sector of the market and is growing exponentially
      %li
        Our SDK is currently utilized by 5,000 iOS and Android applications, spanning 280M+ unique devices and reaching 50M+ monthly active users
      %li
        Both publisher and advertiser applications generate significant data and the Tapjoy system currently averages 5,000 transactions per second
      %li
        We are well-funded ($70M raised to date), profitable and expanding as we grow out our San Francisco headquarters and expand our London and Tokyo offices
    %h2
      It's an exciting job with awesome perks, in the fastest and largest growing industry in the world.
    %ul
      %li
        Competitive compensation package include generous bonus and equity grants
      %li
        Comprehensive medical, dental, vision benefits, gym subsidy, cell phone subsidy and 401(k) plan
      %li
        A downtown San Francisco office, easily accessible by public transit
      %li
        Work on the latest MacBook Pro/Airs and iOS/Android/WP7 devices and tablets
      %li
        Free food. Lunch is on us and the kitchen is always stocked
      %li
        Did we mention the two office kegerators?
    %p
      The mobile app space is a huge opportunity and will only continue to grow. We've done well so far and we clearly know where we need to go - and now we need your help to get there!
    %h2
      Bottom Line: If you're a fun, hardworking person interested in joining the best team in mobile, apply!
    %p
      = link_to 'View our open positions on JobScore!', 'http://tapjoy.jobscore.com', :id => "jobscore"
.clear
