- @job_title = "Sales Development Rep"

%h2
  Roles and Responsibilities

%p
  The Lead Recruiter will be responsible for proactive hiring with an emphasis on direct recruiting, effective networking, leveraging external targeted research, and promoting internal referrals. The budget for external vendors will be limited to a small and defined portion of the total need; up to this point, external/contingency recruiting has produced only a minor percentage of our headcount growth. The Lead Recruiter must have previous start-up experience (essential) and maintain uncompromising hiring standards. The right candidate will have a strong sense of purpose and excellent customer service skills. This role is based in San Francisco and cannot be accomplished remotely or with part-time presence.

%ul
  %li
    Above all, you must be an excellent recruiter, not just a good recruiter. You are a problem-solver who has contributed materially to an emerging technology company by proactively recruiting the right candidates to support a period of high growth. And you have lived with these results over time.
  %li
    At least 5 years of success as an individual recruiter within a startup - direct, proactive recruiting: the ability to learn what drives a candidate; how this aligns with the needs of the role; how to speak to these drivers with Tapjoy's opportunity and our value proposition in the marketplace; and how to close the candidates we want to hire.
  %li
    The ability to recruit software engineers and related technical roles. While a technical background is not required, you need to understand how to evaluate the appropriate technical categories in order to inform the hiring teams about high-level fit. You must be able to speak to the value propositions of technical and non-technical roles.
  %li
    The ability to build relationships with hiring managers and interview teams, and drive decisions. This requires practical intelligence, active listening, organization, accountability, effective persuasion, complete comfort with asking others to fill-in knowledge gaps, flexibility, and a permeating positive attitude.
  %li
    The ability to make things happen. Strong personal drive, integrity, good humor, and honesty.