- @job_title = "Sales Development Rep"

%h2
  Roles and Responsibilities

%ul
  %li
    Develop outbound leads by researching and calling into target accounts, identifying appropriate contacts, qualifying the lead and developing opportunities
  %li
    Qualify and develop inbound leads and convert them into opportunities
  %li
    Collaborate with sales to hand-off qualified opportunities and generate and execute on strategies to develop business in assigned territories
  %li
    Manage and track leads in the lead database through salesforce.com. Track and report lead metrics
  %li
    Collaborate with marketing on lead generation activities

%h2
  Professional Experience and Personal Qualities
    
%ul
  %li
    Smart, creative, and assertive individual who can work well in a high-growth, fast-paced environment and get things done with and without structure. Strong work ethic with a strong can-do attitude
  %li
    Fortitude to cold call into organizations and to find the right contacts. Tenacity and dedication to penetrate large organizations and meet aggressive targets
  %li
    Energetic, conscientious, and enthusiastic persona with strong problem solving skills.
  %li
    2+ yrs Lead Generation/Sales Development, Marketing or Sales experience, preferably in the social media ecosystem (app development, online advertising, gaming, etc.)
  %li
    Undergraduate degree
  %li
    Experience and aptitude with salesforce.com
  %li
    Excellent verbal communication skills
  %li
    Team player with a customer-focused attitude
  %li
    Ability to work trade shows and industry events
  %li
    Self-motivator; gets high quality work done without a lot of noise
  %li
    High capacity, able to operate effectively in turbulent environment