- @job_title = "Sales Technical Support Engineer"

%h2
  Roles and Responsibilities

%p
  This Sales Support Engineer will be responsible for enabling customer success by ensuring that customer environments are integrated and go live with the Tapjoy platform within 24 hours. This is a key client-facing role that is the point-of-contact for providing post-sales solutions, resolving technical challenges, and finding the answers to open issues during the integration process and ongoing account technical support. A secondary responsibility is to work closely with the sales organization to provide pre-sales technical support to help close new customer accounts. Broadly speaking, this Engineer will:

%ul
  %li
    Configure and integrate social applications, open web and mobile applications to the Tapjoy platform
  %li
    Manage and troubleshoot integration issues on an on-going basis with our Publisher network
  %li
    Support sales/account management teams with technical questions and issues, including demos, Q&A, and sales tools, etc.
  %li
    Quickly resolve technical publisher issues with our platform and products for new and existing accounts
  %li
    Work closely with engineering and QA organizations and provide feedback to improve product and customer self-service automation
  %li
    Think of new ways to delight and please our publishers from a technical perspective with our products

%h2
  Professional Experience and Personal Qualities
%ul
  %li
    Ideally, 2-5 years as a technical advertising operations engineer, sales engineer, technical consultant, or client services engineer with an Internet advertising and/or software company
  %li
    Another potential background could be a software engineer (or QA Engineer) who has had specific customer responsibilities; a recent college grad with excellent technical & communication skills could also be a fit
  %li
    Required hands-on technical skills includes HTML basics, SQL experience, HTTP/FTP and other Internet protocols. Experience with database technologies (MySQL or Oracle) is a plus.
  %li
    Knowledge of iOS and Android software a plus.
  %li
    Solid customer skills from a previous customer-facing role, or as an engineer with customer responsibilities
  %li
    Travel is minimal. Most work is conducted on the phone, via email, and online.
  %li
    Excellent written and verbal communication skills
  %li
    Well organized, with strong attention to detail
  %li
    Must be able to excel working cross-functionally, supporting multiple groups within the company
  %li
    We need a self-starter, someone who manages multiple projects simultaneously and drives to completion
  %li
    Flexibility, resourcefulness, and the ability to thrive in a dynamic, fast-paced environment
  %li
    Undergraduate degree in Computer Science is desired