- @job_title = "Senior Manager/Director, Financial Planning & Analysis (FP&A)"

%h2
  Roles and Responsibilities

%p
  Tapjoy is searching to find an experienced and insightful finance professional to build and own the FP&A function.

%p  
  This position will work with all areas of the business for providing key financial analysis to enable both tactical and strategic decisions. Daily responsibilities include owning and managing financial reporting, forecasting and budgeting, operational analysis, and other ad hoc financial analysis. This position will report to the Vice President of Finance, and is a role that will have broad exposure, visibility, and impact throughout the organization. The role also includes work with corporate development and business development analysis and execution.

%ul
  %li
    Own the company financial model, including forecasting, budgeting and long-range planning of income statement, balance sheet, and cash flow statement
  %li
    Lead the development and maintenance of budgets, forecasts and management reporting
  %li
    Support the requirements of the business groups for financial forecasting and reporting
  %li
    Create and maintain real-time dashboard reporting the key metrics (KPIs) across the business units
  %li
    Prepare, compile, analyze and communicate information for financial reporting and analysis
  %li
    Prepare and distribute monthly financial package
  %li
    Develop and present timely analysis for operating results on a monthly basis
  %li
    Provide financial guidance and execution support for corporate development activities
  %li
    Provide financial guidance for new business development and corporate development
  %li
    Manage and/or execute ad-hoc analytic requests
  %li
    Support corporate functional groups as lead finance person in reporting and forecasting
  %li
    Research and analysis of financial and operational performance of comparable companies

%h2
  Professional Experience and Personal Qualities
%ul
  %li
    7+ years of progressively responsible experience in a financial management function
  %li
    Experience in the mobile/social media ecosystem, internet, or software as a service industries strongly preferred
  %li
    BA/BS degree in Finance, Accounting or related field, MBA preferred.
  %li
    Exceptional financial modeling and scenario analysis skills, with an expert understanding of Microsoft Excel (macros), Access, and SQL
  %li
    Knowledge of standard business intelligence software a plus
  %li
    High performer with track record of collaborating with cross-functional teams to deliver results.
  %li
    Must have a proven ability to manage significant initiatives across organizations and across geographies.
  %li
    Excellent project management skills a must.
  %li
    Must demonstrate strong leadership skills, high energy, initiative and creativity.
  %li
    Outstanding written and verbal communication skills and high level of comfort presenting analysis and information to senior management.
  %li
    Ability to handle multiple tasks under tight deadlines
  %li
    Strong organizational skills and attention to detail
  %li
    The ability to work hands-on and in a team environment