- @job_title = "Senior Product Marketing Manager"

%h2
  Overview

%p
  Tapjoy is the world's largest provider of monetization and distribution services for social and mobile applications. We work with thousands of clients who build great apps on Facebook, iOS, Android, the open Web, and other leading social and gaming platforms.
  
%p
  We offer an opportunity to help build the largest mobile platform company in the world - you will have an immediate and significant impact on the business and contribute to Tapjoy's financial and industry success as our first product marketing hire.

%h2
  Roles and Responsibilities
  
%ul
  %li
    Work directly with the product team to executing marketing and PR campaigns to support major product launches
  %li
    Interface with partners on distribution opportunities, case studies and cross promotions
  %li
    Communicate among a cross-functional team, interacting with Product Managers, Engineers, Sales, Business Development and Account Managers to coordinate product launches
  %li
    Conduct and analyze market research data to identify consumer needs, find market trends and monitor the competitor activity
  %li
    Define the Tapjoy brand and position it within a rapidly shifting competitive landscape
  %li
    Perform data analysis to inform user segmentation and help guide product development
  %li
    Optimize the funnel and own user acquisition efforts

%h2
  Professional Experience and Personal Qualities
  
%ul
  %li
    3-4 years experience in technology product marketing
  %li
    Experience with mobile a plus
  %li
    BS/BA degree from a leading institution, MBA preferred
  %li
    Experience in developer marketing and executing successful campaigns to the developer community
  %li
    Excellent analytics skills
  %li
    Demonstrated ability to manage multiple products at once
  %li
    Ability to work in a cross-functional team ability to communicate with engineers as well as the sales team
  %li
    Strong self motivation and an ability to get things done
  %li
    Experience and excitement for working in a fast-paced environment
  %li
    Strong organizational skills and attention to detail with proven experience in managing projects to successful completion
  %li
    High capacity and the able to operate effectively in a turbulent environment