- @job_title = "Senior Acountant"

%h2
  Roles and Responsibilities

%p
  We are seeking a senior accountant who will help with G/L, financial reporting, AP, AR, and other areas in finance. Reporting to the Accounting Manager, this individual will be responsible for critical areas of the monthly close, proper application of GAAP for daily transactions, and serve as a liaison between the finance team and the other departments. The ideal candidate will have a strong understanding of pertinent GAAP, the ability to implement processes to improve operational efficiency, work with cross-functional teams, and handle analysis related to revenue recognition and operational accounting issues.

%ul
  %li
    Prepare journal entries and account reconciliations for Revenue, AR, AP, and Deferred Revenue
  %li
    Prepare analysis reports for publisher team; provide financial schedules for sales and business development
  %li
    Assist in revenue recognition matters including preparation of data analysis, proposing entries, reconciling against database figures, and providing supporting documentation
  %li
    Manage partner relations and communicate directly with outside vendors and customers
  %li
    Assist with month-end cutoff and capturing of expenses
  %li
    Perform various analysis related to revenue, cost of sales, and gross to net issues
  %li
    Oversee implementation of accounting policies especially related to fixed asset accounting
  %li
    Assist with financial statements and supporting schedules according to month-end close procedures
  %li
    Assist with AP invoice coding and inquires
  %li
    Assist with transactional data entries and filings
  %li
    Assist with weekly ACH and AP check run review
  %li
    Assist with procedure documentation and implementing processes within the company
  %li
    Assist with internal documentation and draft policies
  %li
    Assist with quarterly financial reviews and annual audit
  %li
    Assist with budget to actual preparation, analysis, and review
  %li
    AR analysis including AR aging detail, cash application review, collection support, and AR reserve
  %li
    AP including payment processing, review, vendor maintenance, and ongoing vendor support
  %li
    Assist with schedules for the preparation of tax returns and corporate reporting requirements
  %li
    Special projects as required

%h2
  Professional Experience and Personal Qualities
  
%ul
  %li
    Bachelor's or higher degree in Accounting or Finance
  %li
    5+ years accounting/finance experience required
  %li
    CPA preferred; strong understanding of accounting theory and GAAP
  %li
    Highly detail oriented; ability to meet deadlines and effective problem solving skills
  %li
    Excellent communication and interpersonal skills
  %li
    Ability to operate independently with minimal supervision
  %li
    Advanced in MS Excel and strong ERP system skills
  %li
    Ability to work cooperatively and collaboratively with all levels of employees and management
  %li
    Strong knowledge of Quickbooks Enterprise
  %li
    A mature, self-motivated person with a positive, professional attitude
  %li
    High capacity to operate effectively in turbulent startup environment