- @job_title = "Software Engineers"

%h2
  Roles and Responsibilities
%ul
  %li
    Help build and maintain a publisher-facing Website used by thousands of developers from the largest mobile Publishers
  %li
    Engineer backend Web services for the site with tens of millions of daily users
  %li
    Code new APIs for Publishers
  %li
    Pitch-in with new projects, ad hoc work, and whatever is needed in this high-growth phase
    
%h2
  Your Background
%ul
  %li
    Strong engineering foundation - we hire people with great core skills who want to learn more
  %li
    A Computer Science degree - and a clear sense of how you want to contribute to real-world technology
  %li
    About 2 years working on engineering projects or products with software that has shipped
  %li
    Previous work checking-in code, fixing bugs, optimizing a scalable system, etc.
  %li
    Knowledge of Ruby on Rails and open source development strongly desired