- @job_title = "Software Engineer - Ruby on Rails"

%h2
  Roles and Responsibilities
%ul
  %p We're looking for software engineers who come with a strong engineering background, have great core skills, and who want to learn more. At Tapjoy you'll work on products that touch all areas of computer science including distributed computing, data compression, security, large-scale system design and artificial intelligence. Your projects will be varied, from working on massive scalability and storage solutions to front end user experience design.
  %p In general we value innate intelligence, the curiosity to learn more, and the ability to solve problems - and we provide a ton of autonomy in which to do this. Some of your responsibilities will include:  
  %li
    Help build and maintain an advertiser and publisher facing website used by thousands of developers from the largest mobile developers to up and coming indie game studios
  %li
    Engineer backend web services for applications with tens of millions of daily active users
  %li
    Code new APIs for advertisers, publishers and partners
  %li
    Pitch-in with new projects, ad hoc work, and whatever is needed in this high-growth phase
    
%h2
  Your Background
%ul
  %li
    BS, MS or PhD in Computer Science - and a clear sense of how you want to contribute to real-world technology
  %li
    Strong experience with Ruby on Rails and open source development
  %li
    A solid foundation in computer science with skill sets in data structures, algorithms and software design
  %li
    Minimum two years working on engineering projects or products with software that has shipped
  %li
    Previous work checking-in code, fixing bugs, optimizing a scalable system, etc.
  