- @job_title = "Senior Technical Recruiter"

%h2
  Overview

  %p Tapjoy is the world's largest provider of monetization and distribution services for social and mobile applications. We work with thousands of clients who build great apps on Facebook, iOS, Android, Windows Phone 7, and other leading social and gaming platforms. We offer an opportunity to help build the largest mobile ad marketplace in the world, and this PeopleOps professional will play a key role in Tapjoy's operational, financial, and industry success.

%h2
  Roles and Responsibilities

  %p Recruiting plays an essential role in fueling a startup’s growth with extraordinary talent. This position demands a balance of creativity and drive, along with interpersonal savvy, ability to work independently and self-direct while dealing with ambiguity. Top candidates will have a proven ability to consistently and positively contribute in a fast-paced, fluid work environment as well as the ability to prioritize multiple functions and tasks and manage work efficiently.

%ul
  %li
    Sourcing, hiring and recruiting the best and brightest engineers
  %li
    Manage the entire hiring process from sourcing to offer acceptance
  %li
    Partnering directly with the hiring manager in regards to strategizing and executing on recruiting goals

%h2
  Professional Experience and Personal Qualities
%ul
  %li
    At least 3 years proven search experience in a technical search firm, start-up or corporate environment company
  %li
    Experience hiring Ruby on Rails developers a plus
  %li
    Proven track record sourcing and hiring passive candidates from direct competitors
  %li
    Knowledge of the mobile space and competitive landscape 
  %li
    Expert knowledge in direct sourcing and effective interviewing techniques.  Past start-up experience is a plus but not required
  %li
    Ability to work in a team environment, manage multiple clients and provide strong consultative skills throughout the search process
  %li
    Proven organizational skills with attention to detail and the ability to prioritize and manage competing demands
  %li
    Excellent verbal and written communication skills with an emphasis on confidentiality, tact and diplomacy
  %li
    Ideal candidate will be spirited, self directed, highly motivated with a strong sense of urgency
    
%h2
  Qualified and Interested Candidates

  %p If this position sounds like a fit with your past experience and future interests - and you want to be part of the excitement of a rapidly growing business - we want to hear from you. We have a competitive compensation structure with a generous option plan and very good benefits. Please send a resume to mark.fabela@tapjoy.com. For more information on Tapjoy, visit www.tapjoy.com.