- orders = @orders.select {|o| o.created_at.month == statement.month && o.created_at.year == statement.year }.sort
- payouts = @payouts.select {|o| o.created_at.month == statement.month && o.created_at.year == statement.year }.sort

%div.hidden{:id => "details_#{statement.to_date}"}
  %h3= Date::MONTHNAMES[statement[:month].to_i] + " " + statement[:year].to_s
  - unless orders.blank?
    %table
      %thead
        %tr
          %th{:colspan => 4, :style => 'text-align: center;'} Payments
        %tr
          %th &nbsp;
          %th Amount
          %th Method
          %th Status
      %tbody
        = render :partial => 'order', :collection => orders, :locals => {:format => :table}
  - else
    .none No payments made during this time
  - unless payouts.blank?
    %table
      %thead
        %tr
          %th{:colspan => 4, :style => 'text-align: center;'} Payouts
        %tr
          %th &nbsp;
          %th Amount
          %th Method
          %th Status
      %tbody
        = render :partial => 'payout', :collection => payouts, :locals => {:format => :table}
  - else
    .none No payouts made during this time
