- orders = @orders.select {|o| o.created_at >= statement[1][:start_time] && o.created_at < statement[1][:end_time] }.sort
- payouts = @payouts.select {|o| o.created_at >= statement[1][:start_time] && o.created_at < statement[1][:end_time] }.sort

%div.hidden{:id => "details_#{statement[0]}"}
  %h3= statement[1][:text_month]
  - unless orders.blank?
    %table
      %thead
        %tr
          %th{:colspan => 4, :style => 'text-align: center;'} Payments
        %tr
          %th &nbsp;
          %th Amount
          %th Method
          %th Status
      %tbody
        = render :partial => 'order', :collection => orders, :locals => {:format => :table}
  - else
    .none No payments made during this time
  - unless payouts.blank?
    %table
      %thead
        %tr
          %th{:colspan => 4, :style => 'text-align: center;'} Payouts
        %tr
          %th &nbsp;
          %th Amount
          %th Method
          %th Status
      %tbody
        = render :partial => 'payout', :collection => payouts, :locals => {:format => :table}
  - else
    .none No payouts made during this time
