- @page_title = 'Transfer Funds'
= render :partial => 'actions'

.left-indented
  %h2 Transfers temporarily disabled
  We apologize for the inconvenience - transfers will be re-enabled on
  December 23rd (Pacific time).
