%h3 Future Currency Sales
- if @future_currency_sales.present?
  %table
    = render 'table_header'
    = render :partial => 'sales_list', :locals => { :sales => @future_currency_sales }
  = will_paginate(@future_currency_sales)
- else
  %h4 No currency sales planned.
