<html>
<head>
  <title>Tapjoy Status</title>
  <link rel="stylesheet" href="../stylesheets/themes/blue/style.css" type="text/css" media="print, projection, screen" />
  <style type='text/css'>
    table.tablesorter thead tr .header {
      background-position: right bottom;
    }
    .appkey {
      font-size:50%;
    }
    
    .appname {
      width: 100px;
      overflow: hidden;
    }
    
    #last_updated {
      position: absolute;
      right: 5px;
      top: 35px;
      font-weight: bold;
      font-size: 14px;
    }
    
    #refresh {
      position: absolute;
      top: 3px;
      right: 5px;
    }
    
    #do_refresh {
      cursor: pointer;
      text-decoration: underline;
      color: #A7A3FF;
    }
    
    .hidden {
      display: none;
    }
  </style>
  <script type="text/javascript" src="/javascripts/jquery-1.4.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.tablesorter.js"></script>
  <script type="text/javascript">
    function mapIdentity(value) {
      return value;
    }
    
    function mapToDollars(value) {
      return '$' + (value / 100).toFixed(2);
    }
    
    function sumArray(array) {
      sum = 0;
      for (var i = 0; i < array.length; i++) {
        sum += array[i]
      }
      return sum;
    }
  
    function getRowHtmlForStat(statArray, mapper) {
      if (mapper == null) {
        mapper = mapIdentity;
      }
      mappedStatArray = []
      for(var i = 0; i < statArray.length; i++) {
        mappedStatArray[i] = mapper(statArray[i])
      }
      
      return "<td><span title='" + mappedStatArray.join(', ') + "'>" + 
          mapper(sumArray(statArray)) + '</span></td>';
    }
    
    function toggleAuto() {
      autoRefresh = !autoRefresh;
      $("#toggle_refresh").empty();
      $("#toggle_refresh").append(autoRefresh ? 'enabled' : 'disabled');
      if (autoRefresh) {
        loadApps();
      } else {
        clearTimeout(loadAppsTimeout);
      }
    }
    
    function loadApps() {
      clearTimeout(loadAppsTimeout);
      
      $("#loading").removeClass('hidden');
      $("#loaded").addClass('hidden')
      
      $.get("/statz.json", function(json) {
        data = eval(json);
        $("#last_updated").empty();
        $("#last_updated").append("Last updated: " + data["last_updated"]);
        $("#install_count_24hours").empty();
        $("#install_count_24hours").append("Total installs: " + data["install_count_24hours"]);
        
        for (var i = 0; app = data['apps'][i]; i++) {
          rowHtml = '';
          rowHtml += '<td><img width="56px" height="56px" src="' + app['icon_url'] + '" /></td>';
          rowHtml += '<td><div class="appname">' + app['name'] + '<br /><span class="appkey">' +
              app['key'] + '</span></div></td>';
          rowHtml += getRowHtmlForStat(app['stats']['paid_installs']);
          rowHtml += getRowHtmlForStat(app['stats']['paid_clicks']);
          rowHtml += getRowHtmlForStat(app['stats']['installs_spend'], mapToDollars)
          rowHtml += "<td><span title='" + app['stats']['cvr'].join(', ') + "'>" +
              ((sumArray(app['stats']['paid_installs']) / 
              sumArray(app['stats']['paid_clicks'])) || 0).toFixed(2) +
              '</span></td>';
          rowHtml += getRowHtmlForStat(app['stats']['logins']);
          rowHtml += getRowHtmlForStat(app['stats']['new_users']);
          rowHtml += getRowHtmlForStat(app['stats']['daily_active_users']);
          rowHtml += getRowHtmlForStat(app['stats']['monthly_active_users']);
          rowHtml += '<td>' + mapToDollars(app['price']) + '</td>';
          rowHtml += '<td>' + mapToDollars(app['payment_for_install']) + '</td>';
          rowHtml += '<td>' + mapToDollars(app['balance']) + '</td>';
          rowHtml += '<td>' + (app['daily_budget'] || 0)+ '</td>';
          rowHtml += '<td>' + parseFloat(app['show_rate'] || 0).toFixed(2) + '</td>';
          
          rowHtml += getRowHtmlForStat(app['stats']['published_installs']);
          rowHtml += getRowHtmlForStat(app['stats']['installs_opened']);
          rowHtml += getRowHtmlForStat(app['stats']['installs_revenue'], mapToDollars);

          rowHtml += getRowHtmlForStat(app['stats']['offers']);
          rowHtml += getRowHtmlForStat(app['stats']['offers_opened']);
          rowHtml += getRowHtmlForStat(app['stats']['offers_revenue'], mapToDollars);

          rowHtml += getRowHtmlForStat(app['stats']['ratings']);
          
          rowHtml += getRowHtmlForStat(app['stats']['rewards_revenue'], mapToDollars);
          
          rowHtml += getRowHtmlForStat(app['stats']['hourly_impressions']);
          
          if ($('#' + app['key']).length > 0) {
            $('#' + app['key']).empty()
            $('#' + app['key']).append(rowHtml)
          } else {
            $("#apps_tbody").append('<tr id="' + app['key'] + '">' + rowHtml + '</tr>');
          }
        }
        $("#apps_table").trigger('update');
        
        $("#loading").addClass('hidden');
        $("#loaded").removeClass('hidden');
        
        if (autoRefresh) {
          loadAppsTimeout = setTimeout(loadApps, 60000);
        }
      });
    }

    $(function() {
      loadAppsTimeout = null;
      autoRefresh = false;
      $("#do_refresh").bind('click', loadApps)
      
      $("#apps_table").tablesorter({widgets: ['zebra'],
        headers: {
          0: {sorter: false}
        }
      });
      loadApps()
    });  
  </script>
</head>
<body>
  <h1>Tapjoy stats for last 24 hours</h1>
  <h3 id="install_count_24hours"></h3>
  <div id="last_updated"></div>
  
  <div id='refresh'>
    <div id="loading">
      <img src='/images/load-bar.gif' alt='loading' />
    </div>
    <div id="loaded" class="hidden">
      <span id="do_refresh">Refresh</span>
    </div>
  </div>
  
  <table id="apps_table" class="tablesorter">
    <thead>
    <tr>
      <th class="{sorter: false}"></th>
      <th>App</th>
      <th>Paid installs</th>
      <th>Paid clicks</th>
      <th>Installs spend</th>
      <th>CVR</th>
      <th>Connects</th>
      <th>New users</th>
      <th>DAUs</th>
      <th>MAUs</th>
      <th>Price</th>
      <th>Payment for install</th>
      <th>Balance</th>
      <th>Daily Budget</th>
      <th>Show rate</th>
      <th>Published installs</th>
      <th>Published clicks</th>
      <th>Installs revenue</th>
      <th>Offers completed</th>
      <th>Offers clicked</th>
      <th>Offers revenue</th>
      <th>Ratings</th>
      <th>Total revenue</th>
      <th>Ad impressions</th>
    </tr>
    </thead>
    
    <tbody id="apps_tbody">
    </tbody>
  </table>
</body>
</html>