#jqt
  #register_device.current
    .top_nav_bar.toolbar
      .nav_content
        .right
          = mail_to 'support@tapjoy.com', 'Support', :id => 'support'
        .right
          = link_to 'My Account', "#my_account", :class => "flip"
    .container.vertical-scroll
      .scroller.with-scrollbar
          .logo
            .slide_nav
              .slider.slider_right.right
                %span.title.small
                  More Games
              .slider_btn.left
                .slider.slider_active.slider_left
                  %span.title
                    My Apps
                .slide_arrow_wrapper.bottom_arrow
                  .slide_arrow
          #no_device.content.message.hide
            .message_title.title
              Phone not linked!
            .message_header
              You must link your device in order to view your apps!
            .message_content
              %span.button.grey
                = link_to "Please link your device now", new_games_gamer_device_path

  #my_account.tan
    .container.vertical-scroll
      .scroller.with-scrollbar
        .page
          .logo
            .slide_nav.left
              .left
                .slide_arrow_wrapper.left_arrow
                  .slide_arrow
              .slider.slider_active.slider_left.left
                .title
                  = link_to 'Back', "#", :class => "back"
          .content.hide

#bad_news.dialog_wrapper.hide
  .dialog
    .dialog_header_wrapper
      .dialog_header_wrapper
      .dialog_header_right
      .dialog_header_left
      .dialog_title.title_2 Bad News
    .dialog_header Incompatible Device
    .dialog_content To complete account registration please visit us on a supported mobile device.

#loader.dialog_wrapper.hide
  .dialog
    .dialog_title
      Loading
    .dialog_image

- content_for :page_javascript do
  - if Rails.env.production?
    :plain
      $(window).load(function() {
        if (TJG.vars.isIos == false) {
          $("#no_device").html('');
          TJG.utils.centerDialog("#bad_news");
          $("#bad_news").fadeIn();
        }
        $("#no_device").show();
        var jQT = new $.jQTouch({
          slideSelector: '#jqt .slide_nav',
        });
      });
  - else
    :plain
      $(window).load(function() {
        $("#no_device").show();
        var jQT = new $.jQTouch({
          slideSelector: '#jqt .slide_nav',
        });
      });
