<% content_for :title do %>  
  Confirmed
<% end %>

Thank you, your email address <b><%= @signup.email_address%></b> has been confirmed. You will receive your <%= @currency.currency_name %> for <%= @publisher_app.name %> shortly.
