<% content_for :title do %>  
  Confirmed
<% end %>

Thank you, your email address <b><%= @signup.email_address%></b> has been confirmed. You will receive your <%= @publisher_app.name %> <%= @currency.currency_name %> shortly.
