// logged out view
.header-button {
  font-size: 1.4em;
  text-align: center;
  padding: 5px 30px 5px 30px;  
  margin-bottom: 12px;
}

.btn {
  font-size: 1.4em !important;
  padding-top: 6px !important;
}
