- redesign = defined?(redesign) ? redesign : false

#currencies
  - @currencies.each do |currency|
    %span>= get_currency_link(currency)

- content_for :page_styles do
  :plain
    #currencies {
  
  - if redesign
    :plain
      margin: 4px 3%;
      font-size: 100%;
  - else
    :plain
      margin: 10px 3%;
      font-size: 90%;
  
  :plain
      font-weight: bold;
      text-align: center;
    }
    #currencies a {
      display: inline-block;
      padding: 5px;
      border: 1px solid #888;
      border-right: 0;
      background: -moz-linear-gradient(top, #fff, #ccc);
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
      color: #{redesign ? '#0F4EB6' : '#004E09'};
      
  -if redesign
    :plain
      text-decoration: none;
      font-size: 15px;
  
  :plain
    }
    #currencies span:first-child a {
      -moz-border-radius: 5px 0 0 5px;
      -webkit-border-radius: 5px 0 0 5px;
    }
    #currencies span:last-child a {
      border-right: 1px solid #888;
      -moz-border-radius: 0 5px 5px 0;
      -webkit-border-radius: 0 5px 5px 0;
    }
    #currencies a.current {
  
  - if redesign
    :plain
      background: -moz-linear-gradient(top, rgb(83, 121, 184), #0F4EB6);
      background: -webkit-gradient(linear, left top, left bottom, from(rgb(83, 121, 184)), to(#0F4EB6));
  - else
    :plain
      background: -moz-linear-gradient(top, rgb(0, 136, 16), #004E09);
      background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 136, 16)), to(#004E09));
    
  :plain
      color: #fff;
    }
