#currencies
  - @currencies.each do |currency|
    = get_currency_link(currency)

- content_for :page_styles do
  :plain
    #currencies {
      margin: 10px 3%;
      font-size: 90%;
      font-weight: bold;
      text-align: center;
    }
    #currencies a {
      display: inline-block;
      padding: 5px;
      border: 1px solid #888;
      background: -moz-linear-gradient(top, #fff, #ccc);
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
      color: #004E09;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
    }
    #currencies a.current {
      background: -moz-linear-gradient(top, rgb(0, 136, 16), #004E09);
      background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 136, 16)), to(#004E09));
      color: #fff;
    }
