- if @ios_sdk9
  %script{ :type => 'text/javascript'}
    :plain
      document.addEventListener('DOMContentLoaded', function(){
        topbar = document.getElementById('branding');
        topbar.style.position = 'fixed';
        topbar.style.zIndex = '100';
        topbar.style.width = '100%';
        topbar.style.height = '40px';
        document.getElementsByClassName('right')[0].style.margin = '7px 35px 0 0';
        document.getElementById('offers').style.marginTop = '40px';
        topbar.style.marginTop = '-40px';
        document.getElementsByClassName('text')[0].style.fontSize = '125%';
        document.getElementsByClassName('text')[0].style.padding = '3px 0 0 4px';
      });
