!!! 5
%html
  %head
    %title The Gallery
    %meta{'name' => "viewport", 'content' => "initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no, width = 320"}
    %meta{'name' => "viewport", 'content' => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"}
    %meta{'name' => "apple-mobile-web-app-capable", 'content' => "yes"}
    %meta{'name' => "apple-mobile-web-app-status-bar-style", 'content' => "black"}
    = javascript_include_tag 'jquery-1.4.2.min', 'sencha-touch'
    %style{:type => "text/css", :media => "screen"}
      @import "/stylesheets/sencha-touch.css";

    %script
      :plain
        var offers = #{@gallery.to_json};
        var currencyName = #{@currency.name.to_json};
        var offerItems = new Array();
        var maxImages = 10;
        var length = offers.length;
        for (var i = 0; i < length; i++) {
          var obj = offers[i];
          var iconSRC = '<div class="item-icon"><img src="' + obj.icon_url + '"></div>';
          var starSpan = [];
          var stars = Math.max(0,Math.min(5, Math.floor(obj.user_rating)));
          for (var j = 0; j < stars; j++) {
            starSpan.push('<img src="/images/star_on.png"/>');
          }
          if (stars < 5) {
            var middle = obj.user_rating - stars;
            if (middle < 0.3) {
              starSpan.push('<img src="/images/star_off.png"/>');
            } else if (middle < 0.8) {
              starSpan.push('<img src="/images/star_half.png"/>');
            } else {
              starSpan.push('<img src="/images/star_on.png"/>');
            }
            for (var j = stars+1; j < 5; j++) {
              starSpan.push('<img src="/images/star_off.png"/>');
            }
          }
          var itemHTML = [
            '<a href="', obj.click_url, '">',
            '<div class="widget"><div class="item box-border box-rounded box-shadow">',
            iconSRC,
            '<div class="offer_name">',
              obj.name,
            '</div>',
            '<div class="category-wrapper">',
                '<div class="category">',
                  '<span class="offer_category_stars">',
                    starSpan.join(''),
                   '</span>',
                   '<span class="category-title">Category</span>',
                   '<span class="category-corner"></span>',
                     obj.primary_category,
                '</div>',
              '</div>',
            '<div class="offer_details">',
            '<div class="offer_details_title">',
              'The details:',
            '</div>',
            '<div class="offer_action">',
              obj.action,
            '</div>',
            '</div>',
            '<div class="button">',
              '<button class="blue">',
                '<span class="amount">', obj.visual_reward, '</span> ',
                currencyName,
              '</button>',
            '</div></div>',
            '</a>'
          ];
          offerItems.push({html: itemHTML.join('')});
        }
        Ext.setup({
          glossOnIcon: false,
          onReady: function() {
            var carousel = new Ext.Carousel({
              defaults: {
                cls: 'main'
               },
              items: offerItems
            });
            new Ext.Panel({
              fullscreen: true,
                layout: {
                  type: 'vbox',
                  align: 'stretch'
                },
                defaults: {
                  flex: 1
                },
                items: [carousel]
            });
         }
      });
    %style
      :plain
        body {
          background:#525252 url('/images/bg.png');
          color:#333;
          font-size:16px;
        }
        a, a:visited, a:hover {
          color:#000;
          text-decoration:none;
        }
        .currency_value {
          color: #cfc;
        }
        .main {
          background: #525252 url('/images/bg.png');
          color: #333;
         }
        .widget {
          margin-top: 12px;
          padding:0px 8px;
        }
        .item, .item-detail {
          background-color:#FFF;
          min-height:380px;
          width:100%;
          padding:12px;
        }
        .item-detail {
          background-color: #E6E6E6;
          height: 100%;
          min-height: 420px;
        }
        .offer_name {
          color: #3E3E3E;
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 8px;
        }
        .category-wrapper {
          margin-bottom: 8px;
          padding:0 2px;
        }
        .category {
          background-color: #FFF;
          border:1px solid #EAEAEA;
          font-size: 11px;
          height: 32px;
          overflow: hidden;
          -webkit-border-radius: 12px;
          -webkit-border-radius: 5px;
        }
        .category-title {
          color: #747474;
          font-weight: bold;
          float: left;
          position: relative;
          border-right-style: none;
          background-color: #F7F7F7;
          height: 32px;
          padding: 6px 6px 10px;
          width: 65px;
          z-index: 2;
          -webkit-border-radius: 12px;
          -webkit-border-radius: 5px;
        }
        .category-corner {
          float: left;
          background-color: #F7F7F7;
          border-width: 1px;
          border-color: #EAEAEA;
          border-right-style: solid;
          border-top-style: solid;
          position: relative;
          right: 20px;
          top: -15px;
          height: 60px;
          width: 30px;
          z-index: 1;
          -webkit-transform: rotate(45deg) scale(1, 0.5);
        }
        .category-name {
          color: #929292;
          float: left;
          position: relative;
          right: 46px;
          height: 30px;
          padding: 7px 6px 10px;
        }
        .instructions {
          color: #626262;
          font-size: 13px
        }
        .box-border {
        }
        .box-shadow {
          -webkit-box-shadow:0px 0px 6px #111111;
        }
        .box-rounded {
          -webkit-border-radius: 10px;
        }
        .item-icon {
          text-align: center;
        }
        .item-icon img {
          border: 2px solid #999;
          -webkit-background-clip: padding-box;
          -webkit-border-radius: 12px;
          -webkit-box-shadow: 1px 1px 3px rgba(61, 61, 61, 0.3);
          margin:12px 0;
          padding: 10px;
          width: 160px;
          height: 160px;
        }
        .offer_category {
          font-size: 14px;
        }
        .offer_category_title {
          font-weight: bold;
        }
        .offer_details {
          font-size: 14px;
          color: #7A7A7A;
          margin-bottom: 8px;
        }
        .offer_details_title {
          font-weight: bold;
        }
        .offer_category_stars {
          float: right;
          position: relative;
          top: 2px;
          right: 4px;
        }
        .offer_action, button.blue {
          white-space: nowrap;
          overflow-x: none;
        }
        .button {
          margin-top: 10px;
        }
        button.blue {
          background: #486A9A;
          background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #8C9CBf), color-stop(0.5, #6A86AC), color-stop(0.5, #486A9A), color-stop(1, #3D5691));
          border: 1px solid #172D6E;
          border-bottom: 1px solid #0E1D45;
          -webkit-border-radius: 5px;
          -webkit-box-shadow: inset 0 1px 0 0 #B1B9CB;
          color: #FFF;
          font-family: "helvetica neue", helvetica, arial, sans-serif;
          font-size: 16px;
          font-weight: bold;
          padding: 7px 0 8px 0;
          text-decoration: none;
          text-align: center;
          text-shadow: 0 -1px 1px #000F4D;
          width: 160px;
        }
        button.blue a {
          color: #FFF;
        }
        button.blue span.amount {
           color: #CDEDA7;
        }
        button.blue:hover {
          background: #2F477D;
          background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #7F8DAD), color-stop(0.5, #4A5E8C), color-stop(0.5, #2F477D), color-stop(1, #364C80));
          cursor: pointer;
        }
        button.blue:active {
          -webkit-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 #fff;
          cursor: pointer;
        }

  %body
