!!! 5
%html
  %head
    %title The Gallery
    %meta{'name' => "viewport", 'content' => "initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no, width = 320"}
    %meta{'name' => "viewport", 'content' => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"}
    %meta{'name' => "apple-mobile-web-app-capable", 'content' => "yes"}
    %meta{'name' => "apple-mobile-web-app-status-bar-style", 'content' => "black"}
    = javascript_include_tag 'jquery-1.4.2.min', 'sencha-touch'
    %style{:type => "text/css", :media => "screen"}
      @import "/stylesheets/sencha-touch.css";

    %script
      :plain
        var offers = #{@gallery.to_json};
        var currencyName = #{@currency.name.to_json};
        var offerItems = new Array();
        var maxImages = 10;
        var length = offers.length;
        for (var i = 0; i < length; i++) {
          var obj = offers[i];
          var iconSRC = '<div class="item-icon"><img src="' + obj.icon_url + '" width="160" height="160"></div>';
          var starSpan = [];
          var stars = Math.floor(obj.user_rating);
          for (var j = 0; j < stars; j++) {
            starSpan.push('<img src="/images/star_on.png"/>');
          }
          if (stars < 5) {
            var middle = obj.user_rating - stars;
            if (middle < 0.3) {
              starSpan.push('<img src="/images/star_off.png"/>');
            } else if (middle < 0.8) {
              starSpan.push('<img src="/images/star_half.png"/>');
            } else {
              starSpan.push('<img src="/images/star_on.png"/>');
            }
            for (var j = stars+1; j < 5; j++) {
              starSpan.push('<img src="/images/star_off.png"/>');
            }
          }
          var itemHTML = [
            '<a href="', obj.click_url, '">',
            '<div class="widget"><div class="item box-border box-rounded box-shadow">',
            iconSRC,
            '<span class="offer_name">',
            obj.name,
            '</span>',
            '<div class="offer_category">',
            '<span class="offer_category_stars">',
            starSpan.join(''),
            '</span>',
            '<span class="offer_category_title">Category</span>',
            obj.primary_category,
            '</div>',
            '<div class="x-button x-button-action" style="width: 129px; ">',
              '<span class="x-button-label" id="ext-gen1134">',
                '<span class="currency_value">', obj.visual_reward, '</span> ',
                currencyName,
              '</span>',
            '</div>',
            '</div></div>',
            '</a>'
          ];
          offerItems.push({html: itemHTML.join('')});
        }
        Ext.setup({
          glossOnIcon: false,
          onReady: function() {
            var carousel = new Ext.Carousel({
              defaults: {
                cls: 'main'
           	  },
              items: offerItems
            });
            new Ext.Panel({
              fullscreen: true,
                layout: {
                  type: 'vbox',
                  align: 'stretch'
                },
                defaults: {
                  flex: 1
                },
                items: [carousel]
            });
         }
      });
    %style
      :plain
        body {
          background:#525252 url('/images/bg.png');
          color:#333;
          font-size:16px;
        }
        a, a:visited, a:hover {
          color:#000;
          text-decoration:none;
        }
        .currency_value {
          color: #cfc;
        }
        .main {
          background:#525252 url('/images/bg.png');
          color:#333;
         }
        .widget {
          margin-top:12px;
          padding:0px 10px;
        }
        .item, .item-detail {
          background-color:#FFF;
          min-height:360px;
          width:100%;
          padding:10px;
        }
        .item-detail {
          background-color:#e6e6e6;
          height:100%;
          min-height:420px;
        }
        .box-border {
        }
        .box-shadow {
          -webkit-box-shadow:0px 0px 6px #111111;
        }
        .box-rounded {
          -webkit-border-radius: 10px;
        }
        .item-icon {
          text-align: center;
        }
        .item-icon img {
          border: 2px solid #999;
          -webkit-background-clip: padding-box;
          -webkit-border-radius: 12px;
          -webkit-box-shadow: 1px 1px 3px rgba(61, 61, 61, 0.3);
          margin:12px 0;
          padding: 10px;
        }
        .offer_name {
          font-weight: bold;
        }
        .offer_category {
          font-size: 14px;
        }
        .offer_category_title {
          font-weight: bold;
        }
        .offer_category_stars {
          float: right;
        }

  %body
