- @page_title = 'Tapjoy SDKs'

%h1 Tapjoy SDKs
%dt
  %dd
    %h3 iOS Library (#{@iphone_version})
    %ul
      %li
        - sdk_link 'iOS Advertiser Library', 'iphone-adv'
      %li
        - sdk_link 'iOS Publisher Library', 'iphone-pub'
      %li
        - sdk_link 'iOS Publisher Library (+ Virtual Goods)', 'iphone-vg'

    %h3 Android Library (#{@android_version})
    %ul
      %li
        - sdk_link 'Android Advertiser Library', 'android-adv'
      %li
        - sdk_link 'Android Publisher Library', 'android-pub'
      %li
        - sdk_link 'Android Publisher Library (+ Virtual Goods)', 'android-vg'

    %h3 Windows Library (#{@windows_version})
    %ul
      %li
        - sdk_link 'Windows Advertiser Library', 'windows-adv'
      %li
        - sdk_link 'Windows Publisher Library', 'windows-pub'

    %h3 Third-party Plugins
    %ul
      %li
        - sdk_link 'Unity Plugin for iOS', 'iphone-unity'
      %li
        - sdk_link 'Unity Plugin for Android', 'android-unity'
        %li
        - sdk_link 'iOS Marmalade Extension (requires Marmalade/Airplay 5.x or higher)', 'iphone-marmalade'
      %li
        - sdk_link 'Android Marmalade Extension (requires Marmalade/Airplay 5.x or higher)', 'android-marmalade'

- content_for :page_head, stylesheet_link_tag('facebox')
- content_for :included_javascripts, javascript_include_tag('facebox')
- content_for :page_javascript do
  :plain
    $(document).ready(function($) {
      $('a[rel*=facebox]').facebox({
        closeImage : '/images/closelabel.png'
      });
    });
