- @page_title = 'Thank you for registering!'

%h1 Thank you!

%p Your account has been registered but must be reviewed by the Tapjoy Team.

%p
  If you have any questions, or would like to set up a call with a Tapjoy
  member, please email
  = mail_to('support@tapjoy.com')
