%script{:type => "text/template"}
  :plain
    <% var freeText = "#{t('text.offerwall.free')}"; %>
    <% for (var i = 0, ii = OfferArray.length; i < ii; i++) { %>
      <% if (!OfferArray[i].IconURL || !OfferArray[i].Name) { continue; } %>
      <a href="<%= OfferArray[i].RedirectURL %>">
        <li class="list-button">
          <div class="container mt5">
            <div class="left pt3">
              <div class="squircle">
                <img src="<%= OfferArray[i].IconURLMedium %>" />
                <% if (OfferArray[i].Cost !== freeText) { %>
                  <div class="action-item">
                    <%= OfferArray[i].Cost %>
                  </div>
                <% } %>
              </div>
            </div>
            <div class="left ml10">
              <div class="container">
                <div class="big-title slate elip">
                  <%= OfferArray[i].Name %>
                </div>
              </div>
              <div class="container">
                <div class="ui-icon-medium social icon24 p5 left ml10">
                  &nbsp;
                </div>
                <% if (OfferArray[i].WifiOnly) { %>
                  <div class="container">
                    <div class="ui-icon-medium wifi icon24 p5 left">
                      #{t("text.games.wifi_required")}
                    </div>
                  </div>
                <% } %>
              </div>
            </div>
            <div class="right">
              <div class="collect center mt5">
                  <%= i18n.t("games.amount_and_currency", {amount: OfferArray[i].Amount, currency: CurrencyName}) %>
              </div>
              <div class="greenblock mt5">
                #{t('text.shared.earn_verb')}
              </div>
            </div>
          </div>
        </li>
      </a>
    <% } %>
