%script{:type => "text/template"}
  :plain
    <% for (var i = 0, ii = OfferArray.length; i < ii; i++) { %>
      <% if (!OfferArray[i].IconURL || !OfferArray[i].Name) { continue; } %>
      <li class="beveled">
        <div class="mod line-item">
          <div class="hd app-icon">
            <img src="<%= OfferArray[i].IconURL %>" />
          </div>
          <div class="bd">
            <div class="title elip">
              <%= OfferArray[i].Name %>
            </div>
            <div class="app-summary clearfix">
              <div class="ui-icon score">
                &nbsp;
              </div>
              <div class="ui-icon social">
                &nbsp;
              </div>
            </div>
            <div class="app-detail clearfix">
              <a href="/games/homepage/get_app/?eid=<%= OfferArray[i].EnId %>">
                Reviews
              </a>
            </div>
            <div class="highlight-green">
              <%= i18n.t("games.amount_and_currency", {amount: OfferArray[i].Amount, currency: CurrencyName}) %>
            </div>
          </div>
          <div class="ft">
<<<<<<< HEAD
            <a href="<%= OfferArray[i].RedirectURL %>">
=======
            <a href="#{games_get_app_path}?id=<%= OfferArray[i].Id %>">
>>>>>>> 3ffb7f2ef9b5e8fda35dbcf34ca1fb900f172fd4
              <div class="right-arrow">
                <div class="ui-list-action-label">
                  <%= i18n.t("shared.collect") %>
                </div>
              </div>
            </a>
          </div>
        </div>
      </li>
    <% } %>
