.app_review.full
  %a{ :href => "#" }
    .app_item.clearfix
      .app_image
        %img{:src => "https://d21x2jbj16e06e.cloudfront.net/icons/114/ed344f88682bd19b42f3db9af003e1ce6715fe8661ffb6e414a559e9b78308b8.jpg"}
      .app_text
        .app_title.title
          Gun Bros
        .app_info
          Enlist with the Gun Bros today! Mow down your enemies with tons of insanely powerful guns, armor and other explosive power-ups in the F.R.A.G.G.E.D Armory.