.feat_review.min
  .feat_toggle.collaspe
  .feat_content
    .staff_info
      .staff_img
        %img{:src => @featured_review.author.get_photo_url(:source => :cloudfront) }
      .staff_meta
        .staff_title
        .staff_name
          by 
          %span.author
            = @featured_review.author.first_name
    .app_review.hide
      %a{ :href => "#", :class => "feat_app_url" }
        .app_item.clearfix
          .feat_arrow.right
          .app_image
            %img{:src => Offer.get_icon_url(:size => '57', :source => :cloudfront, :icon_id => Offer.hashed_icon_id(@featured_review.app_id)) }
          .app_text
            .app_title.title
              = @featured_review.app.name
            .app_info
              = truncate(@featured_review.text, :length => 65)
