.app_review.full
  .app_item.clearfix
    .app_image
      %img{:src => "https://d21x2jbj16e06e.cloudfront.net/icons/114/ed344f88682bd19b42f3db9af003e1ce6715fe8661ffb6e414a559e9b78308b8.jpg"}
    .app_text
      .app_title.title
        Gun Bros
      .app_meta
        Games
      .button.grey
        Download now!
        
  .staff_info.full.clearfix
    .staff_img
      %img{:src => "https://s3.amazonaws.com/tapjoy/employee_photos/6d96a998-ad42-4452-8ae3-7a74972f83d3.png"}
    .staff_meta
      .staff_name
        %span.author
          Daniel says:      