:plain
  $(window).load(function() {
    var jQT = new $.jQTouch({
      slideSelector: '#jqt .slide_nav',
    });
    
    var install = TJG.utils.getParam("register_device");
    if (install.indexOf("true") != -1) {
      TJG.utils.centerDialog("#register_device");
      $("#register_device").fadeIn(350); 
    }
    if (TJG.vars.isIos || TJG.vars.isSafari) {
      TJG.ui.showAddHomeDialog();
    }
    $('#earn .vertical-scroll').swipe(function(evt, data) { 
      TJG.utils.hideURLBar();
    });

    function getOfferWalls() {
      $(".get_offerwall_jsonp").each(function() {
        var i = 0;
        $(this).click(function(){
          TJG.ui.showLoader();
          $("#earn_content").fadeOut(450,function() {
            $("#earn_content").empty();
            jQT.goTo('#earn', 'slideleft');
          });
          var url = $(this).attr("jsonp_url");
          var appId = $(this).attr("id");
          var appName = $(this).attr("app_name");
          var currencyName = $(this).attr("currency");
          if (!TJG.appOfferWall[appId]) {
            TJG.appOfferWall[appId] = {};
          }
          TJG.appOfferWall[appId]['jsonp_url'] = url;
          var title = 'Viewing offers for <span class="bold">' + appName + '</span>';
          $("#app_title").html(title);
          $("#app_title").show();
          if (url) {
            if (!TJG.appOfferWall[appId]['offers']) {
              jQT.goTo('#earn', 'slideleft');
              $.ajax({
                url: url+"&callback=?",
                dataType: 'json',
                timeout: 15000,
                success: function(data) {
                  TJG.ui.hideLoader();
                  if (data.OfferArray) {
                    var offers = data.OfferArray;
                    offerOffset = offers.length;
                    if (data.MoreDataAvailable) {
                      TJG.appOfferWall[appId]['offers_left'] = data.MoreDataAvailable;
                    }
                    else {
                      TJG.appOfferWall[appId]['offers_left'] = 0;
                    }
                    TJG.appOfferWall[appId]['offset'] = offerOffset;
                    TJG.appOfferWall[appId]['offers'] = offers; 
                    var offerRows = TJG.ui.getOffferRow(offers, currencyName);
                    var t = [
                      '<ul id="offerwall_id-', appId ,'">',
                        offerRows,
                      '</ul>',
                    ];
                    if (TJG.appOfferWall[appId]['offers_left'] > 0) {
                      t.push('<div class="more_button_wrapper"><div class="get_more_apps" app_id="' + appId + '"><div class="get_more_apps_content">Load More</div></div></div>');
                    }
                    t = t.join('');
                    $("#earn_content").html(t);
                    $("#earn_content").fadeIn(500);
                    var isLoading = false;
                    $(".get_more_apps").click(function(){
                      if (isLoading) { return; }
                      $(".get_more_apps_content").html('<div class="image_loader"></div>');
                      var appId = $(this).attr("app_id");
                      $(".load_more_loader").show();
                      if (TJG.appOfferWall[appId]['offers_left'] > 0) {
                        var url = TJG.appOfferWall[appId]['jsonp_url'];
                        url = url + "&start=" + TJG.appOfferWall[appId]['offset'] + "&max=25&callback=?";
                        isLoading = true;
                        $.ajax({
                          url: url,
                          dataType: 'json',
                          timeout: 15000,
                          success: function(data) {
                            if (data.OfferArray) {
                              var offers = data.OfferArray;
                              if (data.MoreDataAvailable) {
                                TJG.appOfferWall[appId]['offers_left'] = data.MoreDataAvailable;
                              }
                              else {
                                TJG.appOfferWall[appId]['offers_left'] = 0;
                              }
                              TJG.appOfferWall[appId]['offset'] = TJG.appOfferWall[appId]['offset'] + 25;
                              var moreOfferRows = TJG.ui.getOffferRow(offers, currencyName, i, true);
                              $("#offerwall_id-" + appId).append(moreOfferRows);
                              var el = ".offer_item_" + i;
                              $.each($(el), function(n,o) {
                                $(o).fadeIn(500);
                              });
                              if (TJG.appOfferWall[appId]['offers_left'] > 0) {
                                $(".get_more_apps_content").html("Load More");
                              }
                              else {
                                $(".get_more_apps").hide();
                              }
                              $.each(offers, function(i,o) {
                                TJG.appOfferWall[appId]['offers'].push(o);
                              });
                            }
                            isLoading = false;
                          },
                          error: function () {
                            var m = [
                              '<div>There was an issue fetching more offers. Please try again</div>'
                            ].join('');                               
                            $("#offerwall_id-" + appId).html(m).fadeIn(350);
                            $(".get_more_apps_content").html("Load More");
                            $(".load_more_loader").hide();
                            isLoading = false;
                          }
                        });
                        i++;
                      }
                    });
                  }
                },
                error: function() {
                  var m = [
                   '<div>There was an issue. Please try again</div>'
                  ].join('');
                  $("#earn_content").html(m); 
                  $("#earn_content").fadeIn(450);
                }
              });
            } 
            else if (TJG.appOfferWall[appId]['offers']) {
              TJG.ui.hideLoader();
              var c = TJG.ui.getOffferRow(TJG.appOfferWall[appId]['offers'],currencyName);
              $("#earn_content").html(c);
              $("#earn_content").fadeIn(450);
            }
            else {
               var m = [
                 '<div>There was an issue. Please try again</div>'
               ].join('');
               $("#earn_content").html(m); 
               $("#earn_content").fadeIn(450);
            }
          }
          else {
            var m = [
              '<div>There was an issue. Please try again</div>'
            ].join('');
            $("#earn_content").html(m); 
            $("#earn_content").fadeIn(450);
         }
        });
      }); 
    }

    function reloadOfferWalls () {
      $(".get_offerwall_jsonp").unbind("click");
      getOfferWalls();
    }

    function getMoreGames() {
      $(".more_games_url").click(function() {
        $("#recommended_games_button").addClass("dark_grey").removeClass("grey");
        $("#top_grossing_games_button").addClass("grey").removeClass("dark_grey");
        $("#top_grossing_games_button_arrow").hide();
        $("#recommended_games_button_arrow").show();
        $("#more_games_content").fadeOut(350,function() {
            jQT.goTo('#more_games', 'slideleft');  
        });
        if (TJG.moreAppOfferWall) {
          $("#more_games_content").html(TJG.moreAppOfferWall);
          $("#more_games_content").fadeIn(450);
        }
        else {
          TJG.ui.showLoader();
          $.ajax({ 
            url: TJG.more_games_editor_picks,
            timeout: 15000,
            success: function(c) {
              TJG.moreAppOfferWall = c;
              TJG.ui.hideLoader();
              $("#more_games_content").html(c);
              $("#more_games_content").fadeIn(450); 
            },
            error: function() {
              var m = [
                '<div>There was an issue. Please try again</div>'
              ].join('');
              $("#more_games_content").html(m); 
              $("#more_games_content").fadeIn(450);
            }
          });
        }
      });
    }

    function getTopGames() {
      $("#top_grossing_games_tab").click(function() {
        $("#top_grossing_games_button").addClass("dark_grey").removeClass("grey");
        $("#recommended_games_button").addClass("grey").removeClass("dark_grey");
        $("#recommended_games_button_arrow").hide();
        $("#top_grossing_games_button_arrow").show();

        $("#recommended_games_tab").click(function() {
          $("#recommended_games_button").addClass("dark_grey").removeClass("grey");
          $("#top_grossing_games_button").addClass("grey").removeClass("dark_grey");
          $("#top_grossing_games_button_arrow").hide();
          $("#recommended_games_button_arrow").show();
          if (TJG.moreAppOfferWall) {
            TJG.ui.hideLoader();
            $("#more_games_content").html(TJG.moreAppOfferWall);
            $("#more_games_content").fadeIn(450);
          }
        });

        if (TJG.topAppOfferWall) {
          $("#more_games_content").html(TJG.topAppOfferWall);
            $("#more_games_content").fadeIn(450);
        }
        else {
          TJG.ui.showLoader();
          $("#more_games_content").fadeOut(450,function() {
            $("#more_games_content").empty();
          });
          $.ajax({ 
            url: TJG.more_games_popular,
            timeout: 15000,
            success: function(c) {
              TJG.topAppOfferWall = c;
              TJG.ui.hideLoader();
              $("#more_games_content").html(c);
              $("#more_games_content").fadeIn(450); 
            },
            error: function () {
              var m = [
                '<div>There was an issue. Please try again</div>'
              ].join('');
              $("#more_games_content").html(m); 
              $("#more_games_content").fadeIn(450);
            }
          });
        }
      });
    }
    TJG.path =  "#{games_root_path}";
    TJG.more_games_editor_picks =  "#{games_more_games_editor_picks_path}";
    TJG.more_games_popular =  "#{games_more_games_popular_path}";
    getOfferWalls();
    getMoreGames();
    getTopGames();
  });                  