#my_account.tan
  .container.vertical-scroll
    .scroller.with-scrollbar
      .page
        .logo
          .slide_nav.left
            .left
              .slide_arrow_wrapper.left_arrow
                .slide_arrow
            .slider.slider_active.slider_left.left
              .title
                = link_to 'Back', "#", :class => "back"
        .content.narrow.pad
          .my_account_header_wrapper
            .my_account_header.title_2
              My Account Info 
          .content_box_top_arrow_wrapper
            .content_box_top_arrow
          .content_box_wrapper
            .content_box.clearfix
              - if current_gamer.present?
                .account_info
                  = "Logged in as #{current_gamer.email}"
                .button.lt_blue.logout
                  = link_to "Logout", games_logout_path 