- active ||= ""
- show_device ||= false

.nav
  .menu
    .menu-grid.clearfix
      .box
      .box
      .box
      .box
      .box
      .box
      =# link_to(t('text.shared.help'), games_help_path )
      =# link_to(t('text.shared.logout'), games_logout_path)
      =# link_to(t('text.shared.my_account'), edit_games_gamer_path)
  .logo
    %img{ :src => BLANK_IMAGE }
  .menu-dropdown
    .device-profile
      Content
    .device-select
      Select Device
    .device-form.hide

