.message_title.title
  No apps found!
.message_header
  We didn't find any apps on your device that you can earn currency in.
.message_content.find_games
  %a{ :href => "#", :class => "more_games_url" }
    .slider.slider_right.right
      .button.grey.arrow
        .arrow_bg
          Find cool apps!
