.message_title.title
  Uh Oh!
.message_header
  No Tapjoy Games have been linked to this device.  Why not try out some new games?
.message_content.find_games
  %a{ :href => "#", :class => "more_games_url" }
    .slider.slider_right.right
      .button.grey.arrow
        .arrow_bg  
          Find cool games!
