.offer-wall
  %ul.basic{"data-jsonp-url"=>@external_publisher.get_offerwall_url(@device, @external_publisher.currencies.first, request.accept_language, request.user_agent, current_gamer.id)}
    %li
      %h2 Loading...
  =render "all_offers_template"
