%ul.list-button-container.earn-theme.ajax-loader{ "data-url"  => @offerwall_url, "data-is-jsonp" => 1, "data-params" => { :tjm => 1, :show_wifi_only => 1, :max => 25, :start => 0 }.to_json }
  .ajax-target
  .ajax-placeholder
    %ul.list-button-container.flush.nbb
      %li.list-button.ntb
        #tapjoy_loader
          #loader_t.loader_letter
          #loader_a.loader_letter
          #loader_p.loader_letter
  .ajax-load-more.hidden
    %ul.list-button-container.orange.flush.nbb
      %li.list-button.ntb
        %h2.center.charcoal= t("text.games.load_more")
  .ajax-error.hidden
    - link_to :back do
      %ul.list-button-container.flush.nbb
        %li.list-button.ntb
          %h2.center= t("text.games.cant_fetch_offers")
  = render "all_offers_template"
