- android_market_url = link_to(t("text.games.link_account_messaging_android_href"), GAMES_ANDROID_MARKET_URL, :target => '_blank')
- tjm_url = link_to(t("text.games.link_account_messaging_tjm_href"), WEBSITE_URL)
- messaging_text = t('text.games.link_account_messaging', :android_market_url => android_market_url, :tjm_url => tjm_url).gsub(/\"/, "\'")
- possible_links = { :desktop => games_send_device_link_path, :ios => new_games_device_path, :android => GAMES_ANDROID_MARKET_URL }

#register-message.mod.mb20
  .message-header{'data-desktop-text' => messaging_text}
    = t('text.games.link_account_header')
  .message-content.link-device
    %a{ :href => "#", :id => "link-device", 'data-links' => possible_links.to_json }
      .register-btn.ui-joy-button.orange-action.pt10.pb10
        = t('text.games.connect_my_device')

- js_cache 'marketplace/register-device'
