.message_title.title
  Phone not linked!
.message_header
  You must link your device in order to view your apps!
.message_content.link_device
  %a{ :href => new_games_gamer_device_path }
    .button.grey.arrow
      .arrow_bg
        Please link your device now
