#register_message
  .message_title.title
    Welcome to Tapjoy!
  .message_header
    Tapjoy is your one stop shop to discover the hottest apps while also earning currency in apps you already play. To get the full Tapjoy experience, you'll need to link your device.
  .message_content.link_device
    %a{ :href => "#", :id => "link_device" }
      .button.grey.arrow
        .arrow_bg
          Connect My Device

- content_for :page_javascript do
  :plain
    if (!TJG.vars.isTouch) {
      var msg = [
        "Tapjoy is your one stop shop to discover the hottest apps on iOS and Android while also earning currency in apps you already play. ",
        'In order to get the full Tapjoy experience, you\'ll need to link your iOS or Android device. Simply return to <a href="https://tapjoygames.com">www.tapjoygames.com</a> on your iOS device or ',
        '<a href="#{GAMES_ANDROID_MARKET_URL}" target="_blank"> download the Tapjoy app </a>',
        " on your Android device to get started. In the mean time, feel free to check out the site and create your profile so we can offer you personalized recommendations."
      ].join('');
      $('#register_message .message_header').html(msg);
      $('#register_message .message_content .button .arrow_bg').html('Email device link');
      $('#register_message .message_content.link_device').css({ 'width' : '160px' });
      $('#link_device').unbind('click');
      function sendLinkDevice() {
        var url = "#{games_send_device_link_path}";
        $.ajax({
          type: 'POST',
          url: url,
          cache: false,
          timeout: 15000,
          dataType: 'json',
          success: function(d) {
            if (d.success) {
              $('#link_device').unbind('click');
              $('#register_message .message_content .button .arrow_bg').html('Sent!');
            }
            else {
              $('#register_message .message_content .button .arrow_bg').html('Please try again');
            }
          },
          error: function(d) {
            $('#register_message .message_content .button .arrow_bg').html('Please try again');
          }
        });
      }
      $('#link_device').click(function() {
        $('#register_message .message_content .button .arrow_bg').html('Sending...');
        sendLinkDevice();
      });
    }

