#jqt
  #faq.tan.current 
    #static.container
      .page.no_top_nav_bar
        .logo
        .content.narrow.pad
          .content_box

          
          
#loader.dialog_wrapper.hide
  #progress.dialog
    .dialog_title
      Loading
    .dialog_image 
    
    
- content_for :page_javascript do
  :plain                        