#help.current
  %a{ :href => new_games_support_request_path( :type => 'contact_support' ) }
    .button.support-button
      = t('text.games.contact_support')
  %a{ :href => new_games_support_request_path( :type => 'report_bug' ) }
    .button.support-button
      = t('text.games.report_bug')
  %a{ :href => new_games_support_request_path( :type => 'feedback' ) }
    .button.support-button
      = t('text.games.feedback')
