#jqt
  #home.current
    = render :partial => 'games/homepage/nav_bar'

    .content_wrapper
      #help
        %a{ :href => new_games_support_request_path( :type => 'contact_support' ) }
          .button.center_contact
            Contact Customer Support
        %a{ :href => new_games_support_request_path( :type => 'report_bug' ) }
          .button.center_contact
            Report a Bug
        %a{ :href => new_games_support_request_path( :type => 'feedback' ) }
          .button.center_contact
            Give us Feedback
