#wrapper{ :class => '' }
  #nav_bar
    .nav_content
      .right
        Not on iPhone?
      .left
        Currently using:
  #container
    #scroller
      #main
        #logo
        #offers
          %ul
            %li{ :class => 'offer_item' }
              .offer_button
                %button{ :class => "blue" }
                  %span{  :class => "amount" }
                    Earn More!
              .offer_image
                %img{ :src => 'https://d21x2jbj16e06e.cloudfront.net/icons/57/29254adb06418ac6ac31c3991a6b995f2eae54be8e5e07072c8e8e747b7bd09c.jpg' }
              .offer_text
                %div{ :class => 'offer_title title' }
                  Pretty Pet Salon Extra Text
                .offer_info
            %li{ :class => 'offer_item' }
              .offer_button
                %button{ :class => "blue" }
                  %span{  :class => "amount" }
                    Earn More!
              .offer_image
                %img{ :src => 'https://d21x2jbj16e06e.cloudfront.net/icons/57/29254adb06418ac6ac31c3991a6b995f2eae54be8e5e07072c8e8e747b7bd09c.jpg' }
              .offer_text
                %div{ :class => 'offer_title title' }
                  Pretty Pet Salon Extra Text
                .offer_info
            %li{ :class => 'offer_item' }
              .offer_button
                %button{ :class => "blue" }
                  %span{  :class => "amount" }
                    Earn More!
              .offer_image
                %img{ :src => 'https://d21x2jbj16e06e.cloudfront.net/icons/57/29254adb06418ac6ac31c3991a6b995f2eae54be8e5e07072c8e8e747b7bd09c.jpg' }
              .offer_text
                %div{ :class => 'offer_title title' }
                  Pretty Pet Salon Extra Text
                .offer_info
            %li{ :class => 'offer_item' }
              .offer_button
                %button{ :class => "blue" }
                  %span{  :class => "amount" }
                    Earn More!
              .offer_image
                %img{ :src => 'https://d21x2jbj16e06e.cloudfront.net/icons/57/29254adb06418ac6ac31c3991a6b995f2eae54be8e5e07072c8e8e747b7bd09c.jpg' }
              .offer_text
                %div{ :class => 'offer_title title' }
                  Pretty Pet Salon Extra Text
                .offer_info
            %li{ :class => 'offer_item' }
              .offer_button
                %button{ :class => "blue" }
                  %span{  :class => "amount" }
                    Earn More!
              .offer_image
                %img{ :src => 'https://d21x2jbj16e06e.cloudfront.net/icons/57/29254adb06418ac6ac31c3991a6b995f2eae54be8e5e07072c8e8e747b7bd09c.jpg' }
              .offer_text
                %div{ :class => 'offer_title title' }
                  Pretty Pet Salon Extra Text
                .offer_info                            

  #debug 

- content_for :page_javascript do
  :plain