- @page_design = 'old'

#main.card
  .header
    .headerwrap
      .wrap
        .container
          = render :partial => 'nav_bar', :locals => { :show_device => true, :active => 'my_apps' }

- content_for :page_head do
  %meta{ :name => 'description', :content => t('text.games.meta_description') }
  %meta{ :name => 'keywords', :content => t('text.games.meta_keywords')}

  = stylesheet_link_tag("marketplace/theme/tjm/style")
  =# stylesheet_link_tag("marketplace/theme/tjm/style-768", :media => "only screen and (min-width: 768px)")
  =# stylesheet_link_tag("marketplace/theme/tjm/style-480", :media => "only screen and (min-width: 320px)")
  =# stylesheet_link_tag("marketplace/theme/tjm/style-480", :media => "only screen and (min-width: 480px)")
  =# stylesheet_link_tag("marketplace/theme/tjm/images-hd", :media => "-webkit-min-device-pixel-ratio: 2")

- content_for :page_javascript do
  :plain
    $(window).load(function() {

    });
