#jqt
  #my_apps.current
    %div.top_nav_bar.toolbar
      .nav_content
        .right
          %a{ :href => '#support' }
            Support
        .right
          %a{ :href => '#my_account' } 
            My Account
    %div.container.vertical-scroll
      %div.scroller.with-scrollbar
        %div.page
          %div
            .logo
              %div.slide_nav
                %div.slider_right.right
                  %a{ :href=> '#get_more' }
                    %span.title.small
                      More Games!
                %div.slider_active.slide_left.left
                  %span.title
                    My Apps
            .content
           
              %ul 
                %li.offer_item
                  .offer_button
                    .button.blue
                      %span.amount
                        %a{ :href=> '#earn' }
                          Earn More
                  .offer_image
                    %img{ :src => 'https://d21x2jbj16e06e.cloudfront.net/icons/57/8933109a43c79022166a26445926aec22afb0417ab7b268b666e9f47fb1983cf.jpg' }
                  .offer_text
                    %div.offer_title.title
                      Pretty Pet Salon Extra Text
                    .offer_info
                %li.offer_item
                  .offer_button
                    .button.blue
                      %span.amount
                        %a{ :href=> '#earn' }
                          Earn More!
                  .offer_image
                    %img{ :src => 'https://d21x2jbj16e06e.cloudfront.net/icons/57/42949766b47bce00acbc7840e78bc9a28fa58ba229d93042bacfff840697d291.jpg' }
                  .offer_text
                    %div.offer_title.title
                      Pretty Pet Salon Extra Text
                    .offer_info
                %li.offer_item
                  .offer_button
                    .button.blue
                      %span.amount
                        %a{ :href=> '#earn' }
                          Earn More!
                  .offer_image
                    %img{ :src => 'https://d21x2jbj16e06e.cloudfront.net/icons/57/76b9225070dbeafced8d2ee56d62c48009d37709988780a5905b58332545ed71.jpg' }
                  .offer_text
                    %div.offer_title.title
                      Pretty Pet Salon Extra Text
                    .offer_info
                %li.offer_item
                  .offer_button
                    .button.blue
                      %span.amount
                        %a{ :href=> '#earn' }
                          Earn More!
                  .offer_image
                    %img{ :src => 'https://d21x2jbj16e06e.cloudfront.net/icons/57/37133ffd93aeb0cda87945a9572c86ce6c946b5bba3625b432eb60920b59f539.jpg' }
                  .offer_text
                    %div.offer_title.title
                      Pretty Pet Salon Extra Text
                    .offer_info
                %li.offer_item
                  .offer_button
                    .button.blue
                      %span.amount
                        %a{ :href=> '#earn' }
                          Earn More!
                  .offer_image
                    %img{ :src => 'https://d21x2jbj16e06e.cloudfront.net/icons/57/1e741377cf735763965e3977a8175554db9223445232ad8bdda4128cee902ae6.jpg' }
                  .offer_text
                    %div.offer_title.title
                      Pretty Pet Salon Extra Text
                    .offer_info


  #earn
    %div.top_nav_bar
      .nav_content
        .right
          %a{ :href => '#support' }
            Support
        .right
          %a{ :href => '#my_account' } 
            My Account  
    %div.container.vertical-scroll
      %div.scroller.with-scrollbar
        %div.page
          %div
            .logo
              %div.slide_nav
                %div.slider_right.right
                  %a{ :href => '#get_more' }
                    %span.title.small
                      More Games!
                %div.slide_left.left
                  %a.slideright{ :href => '#my_apps' }
                    %span.title
                      My Apps
            .content  


  #get_more
    %div.top_nav_bar
      .nav_content
        .right
          %a{ :href => '#support' }
            Support
        .right
          %a{ :href => '#my_account' }
            My Account 
    %div.container.vertical-scroll
      %div.scroller.with-scrollbar
        %div.page
          %div
            .logo
              %div.slide_nav
                %div.slider_active.slider_right.right
                  %a{ :href => '#get_more' }
                    %span.title.small
                      More Games!
                %div.slide_left.left
                  %a.slideright{ :href => '#my_apps' }
                    %span.title
                      My Apps
            .content    


  #my_account
    %div.top_nav_bar
      .nav_content
        .right
          %a{ :href => '#support' }
            Support
        .right
          My Account  
    %div.container.vertical-scroll
      %div.scroller.with-scrollbar
        %div.page
          %div
            .logo
              %div.slide_nav
                %div.slider_right.right
                  %a{ :href => '#get_more' }
                    %span.title.small
                      More Games!
                %div.slide_left.left
                  %a.slideright{ :href => '#my_apps' }
                    %span.title
                      My Apps
            .content


  #support
    %div.top_nav_bar
      .nav_content
        .right
          %a{ :href => '#support' }
            Support
        .right
          My Account  
    %div.container.vertical-scroll
      %div.scroller.with-scrollbar
        %div.page
          %div
            .logo
              %div.slide_nav
                %div.slider_right.right
                  %a{ :href => '#get_more' }
                    %span.title.small
                      More Games!
                %div.slide_left.left
                  %a.slideright{ :href => '#my_apps' }
                    %span.title
                      My Apps
            .content


#sign_up_dialog.dialog_wrapper.hide
  %div.dialog
    .close_dialog
      .close_button
    .dialog_title
    #sign_up_content


#loader.dialog_wrapper
  #progress.dialog
    Loading
    .circle
      .circle1
      .circle2
      .circle3
      .circle4

- content_for :page_javascript do
  :plain
     var jQT = new $.jQTouch({
      slideSelector: '#jqt .slide_nav',
    });        