#content.current
  .panel.clearfix
    - if @external_publishers.blank?
      = render 'no_games'
    - else
      .row.borders.nbb
        .games
          - @external_publishers.each do |external_publisher|
            .app
              - @first_encrypt_currency_id = ObjectEncryptor.encrypt(external_publisher.currencies.first[:id])
              - link_to(games_earn_path(:eid => @first_encrypt_currency_id)) do
                .app-icon
                  %img{ :src => BLANK_IMAGE, :source => external_publisher.get_icon_url(:size => 114, :source => :cloudfront)}
              .details
                %span.title.elip
                  = external_publisher.app_name
                %small.publisher
                  [ publisher ]
                %span.ui-icon-small.score.icon16
                  80%
                %span.ui-icon-small.social.icon16
                  15
              - external_publisher.currencies.each do |currency|
                - @encrypt_currency_id = ObjectEncryptor.encrypt(external_publisher.currencies.first[:id])
                .btn
                  - link_to(games_earn_path(:eid => @encrypt_currency_id)) do
                    = t('text.games.collect')
              .ui-list-action
                - link_to(games_earn_path(:eid => @encrypt_currency_id)) do
                  .rightarrow.icon16
                    .ui-list-action-label.pt3
                      = t('text.shared.collect')
