- @hide_login = true

#privacy.current
  .nav
    .nav_container.clearfix
      %a{ :href => games_path, :class => 'slideright' }
        .logo
  #static.container
    .content.narrow.pad
      .content_box
        %div
          = render :partial => 'documents/privacy_policy'
