#jqt
  #privacy.current
    .nav
      .nav_container.clearfix
        %a{ :href => games_root_path, :class => 'slideright' }
          .logo
    #static.container
      .content.narrow.pad
        .content_box
          %div
            = render :partial => 'documents/privacy_policy'
    = render :partial => 'footer'

#loader.dialog_wrapper.hide
  #progress.dialog
    .dialog_title
      Loading
    .dialog_image
