%html
  %head
    = stylesheet_link_tag("games/proto")
    = javascript_include_tag("games/src/tjg.jquery-1.6.2.min")
    = javascript_include_tag("games/src/proto")
  %body
    .page
      .header
        .container
          .nav-menu
            .left
              .item
                %a My Apps
              .item
                %a More Apps
            .logo
            .right
              .device-icon
      .sub-head
        .container
          .ad
            &nbsp;
      .main
        .container
          .game-list.recommendations
            .hd
              %h2 Smart Recommendations
            .bd
              .app
                .icon
                .title
                  Scrabble
                .description
                  Based on the words with friends game
              .app
                .icon
                .title
                  Scrabble
                .description
                  Based on the words with friends game
              .app
                .icon
                .title
                  Scrabble
                .description
                  Based on the words with friends game
              .app
                .icon
                .title
                  Scrabble
                .description
                  Based on the words with friends game
              .app
                .icon
                .title
                  Scrabble
                .description
                  Based on the words with friends game
          .game-list.favorites
            .hd
              %h2 Favorites
            .bd
              .app
                .icon
                .title
                  Scrabble
                .description
                  Based on the words with friends game
              .app
                .icon
                .title
                  Scrabble
                .description
                  Based on the words with friends game
              .app
                .icon
                .title
                  Scrabble
                .description
                  Based on the words with friends game
              .app
                .icon
                .title
                  Scrabble
                .description
                  Based on the words with friends game
              .app
                .icon
                .title
                  Scrabble
                .description
                  Based on the words with friends game
          .game-list.mine
            .hd
              %h2 My Games
            .bd
              .app
                .icon
                .title
                  Scrabble
                .description
                  Based on the words with friends game
              .app
                .icon
                .title
                  Scrabble
                .description
                  Based on the words with friends game
              .app
                .icon
                .title
                  Scrabble
                .description
                  Based on the words with friends game
              .app
                .icon
                .title
                  Scrabble
                .description
                  Based on the words with friends game
              .app
                .icon
                .title
                  Scrabble
                .description
                  Based on the words with friends game
              .app
                .icon
                .title
                  Scrabble
                .description
                  Based on the words with friends game
              .app
                .icon
                .title
                  Scrabble
                .description
                  Based on the words with friends game
              .app
                .icon
                .title
                  Scrabble
                .description
                  Based on the words with friends game
              .app
                .icon
                .title
                  Scrabble
                .description
                  Based on the words with friends game
              .app
                .icon
                .title
                  Scrabble
                .description
                  Based on the words with friends game

