#main
  %p
    Earn currency in your favorite games!
  %table
    %thead
      %tr
        %th
        %th App name
        %th Offerwall links
    %tbody
      -@external_publishers.each do |external_publisher|
        %tr
          %td= image_tag(external_publisher.get_icon_url(:source => :cloudfront))
          %td= external_publisher.app_name
          %td
            - external_publisher.currencies.each_with_index do |currency, i|
              - link_to(external_publisher.get_offerwall_url(@device, currency)) do
                = currency[:name]
              = " | " if i != external_publisher.currencies.size - 1
  
- content_for :page_styles do
  :plain
    #main {
      margin: 20px auto 0;
    }
    
    table {
      width: 80%;
    }