#jqt
  #link_device.current
    = render 'nav_bar'
    .container.vertical-scroll
      .scroller.with-scrollbar
        .page
          .logo
            .slide_nav
              %a{ :href=> games_more_games_path }
                .slider.slider_right.right
                  %span.title.small
                    More Games 
              .slider_btn.left
                .slider.slider_active.slider_left
                  %span.title
                    My Apps
                .slide_arrow_wrapper.bottom_arrow
                  .slide_arrow
          #no_device.content.message.hide
            .message_title.title
              Phone not linked!
            .message_header
              You must link your device in order to view your apps!
            .message_content
              %a{ :href => new_games_gamer_device_path }
                %span.button.grey.arrow  
                  Please link your device now

  = render 'my_account'

- content_for :page_javascript do
  - if Rails.env.production?
    :plain
      $(window).load(function() {
        if (TJG.vars.isIos == false) {
          $("#no_device").html('');
          TJG.utils.centerDialog("#bad_news");
          $("#bad_news").fadeIn();
        }
        $("#no_device").show();
        var jQT = new $.jQTouch({
          slideSelector: '#jqt .slide_nav',
        });
      });
  - else
    :plain
      $(window).load(function() {
        $("#no_device").show();
        var jQT = new $.jQTouch({
          slideSelector: '#jqt .slide_nav',
        });
      });
