- @page_title = 'New Re-Engagement Offer'

%h3 New Re-Engagement Offer

%p Re-Engagement offers enable you to provide a daily bonus to users for returning to your application. A message will appear the first time the application is opened, asking users to return the next day for a currency bonus. When users return in consecutive days, they are rewarded according to the number of days the re-engagement offer runs for, and the currency type and currency amount for each day you construct.

.tjform
  = render "day"