.offer-wall
  %ul.slats.with-icons{"data-jsonp-url"=>@external_publisher.get_offerwall_url(@device, @external_publisher.currencies.first, request.accept_language, request.user_agent, current_gamer.id)}
    %li.slat
      %h2 Incoming...
  =render "all_offers_template"
