#profile_info_display
  .info_expand
    .center_container
      %table
        %tr
          %td
            - link_to current_gamer.get_avatar_profile_url, :target => '_blank' do
              .large_avatar
                = image_tag current_gamer.get_avatar_url
          %td
            .gamer_name
              = current_gamer.get_gamer_nickname
            .gamer_email
              = current_gamer.email
            .gamer_signup_date
              = t('text.games.member_since', :date => l(current_gamer.created_at, :format => :day_long))
  .info_expand_bottom_arrow_wrapper
    .info_expand_bottom_arrow
