#profile_info_display
  .info_expand
    .center_container
      %table
        %tr
          %td
            %a{ :href => @gamer.get_avatar_profile_url, :target => '_blank' }
              .large_avatar
                %img{ :src => @gamer.get_avatar_url }
          %td
            .gamer_name
              = @gamer.get_gamer_nickname
            .gamer_email
              = @gamer.email
            .gamer_signup_date
              = t('text.games.member_since', :date=>l(@gamer.created_at, :format => :day_long))
  .info_expand_bottom_arrow_wrapper
    .info_expand_bottom_arrow
