#jqt
  #manage_account.tan.account.current
    .container
      .page.no_top_nav_bar
        = render(:partial => 'header', :locals => { :back_button => games_root_path })
        .content.narrow
          .header_wrapper
            .content_box_wrapper
              #account_options.content_box.clearfix
                %a{ :href => edit_games_gamer_gamer_profile_path }
                  .slider.bottom_line.clearfix
                    .profile_arrow.right
                    .field
                      .label
                        Edit My Profile
                %a{ :href => "#" }
                  .slider.bottom_line.clearfix
                    .profile_arrow.right
                    .field
                      .label
                        Currently Using:
                      .value
                        My iPad
                %a{ :href => @gamer.get_gravatar_profile_url, :target => '_blank' }
                  .slider.bottom_line.clearfix
                    .profile_arrow.right
                    .field
                      .label
                        Gravatar:
                      #user_gravatar.image
                        %img{ :src => @gamer.get_avatar_url(30) }
                %a{ :href => password_games_gamer_path }
                  .slider.clearfix
                    .profile_arrow.right
                    .field
                      .label
                        Reset Password
            .title_2
              Invite Your Friends!
            #invite_friends.clearfix
              %a{ :href => "#" }
                .social_btn.fb
              %a{ :href => "#" }
                .social_btn.email
            .title_2
              Contact Tapjoy
            .content_box_wrapper
              %a{ :href => new_games_support_request_path( :type => 'feedback' ) }
                .content_box.clearfix.center_contact
                  Give us Feedback
            .content_box_wrapper
              %a{ :href => new_games_support_request_path( :type => 'report_bug' ) }
                .content_box.clearfix.center_contact
                  Report a Bug
            .content_box_wrapper
              %a{ :href => new_games_support_request_path( :type => 'contact_support' ) }
                .content_box.clearfix.center_contact
                  Customer Support
