- @page_title = 'Link'

%h1 Link your account to your udid

- form_for([ :games, @gamer ], :url => { :action => :update }) do |f|
  .field
    = f.label :udid
    = f.text_field :udid
    = error_message_on @gamer, :udid
  .field
    = f.submit 'Submit'