-content_for :styles do
  = stylesheet_link_tag("games/get-app")
#show.current
  .mod.line-item.page-header
    .hd
      - if @gamer.get_avatar_url.present?
        %img{ :src => @gamer.get_avatar_url }
    .bd
      .title.elip.clearfix
        = @gamer.nickname
        %span.aside
          ="(#{t("text.games.thats_you")})"
      .sub-title
        [LAST PLAYED]
  .mod.titled-group
    .hd
      .group-title Friends
    .bd.soft-gray-gradient.beveled
      .mod.short-detail.inner-split
        .hd
          Following
        .bd
          343
      .mod.short-detail.inner-split
        .hd
          Followers
        .bd
          343
  %ul.basic.soft-gray-gradient
    %li.list-button
      My Profile
    %li.list-button
      Social Settings
    %li.list-button
      Help
