-content_for :styles do
  = stylesheet_link_tag("games/get-app")
#show.current
  .mod.line-item.page-header
    .container.pt10
      .left
        .squircle
          - if @gamer.get_avatar_url.present?
            %img{ :src => @gamer.get_avatar_url }
      .left.ml10
        .title.mt20
          = @gamer.nickname.present?  ? @gamer.nickname : 'Chuck Norris'
          %span.aside
            ="(#{t("text.games.thats_you")})"
        .subtitle
          [LAST PLAYED]

  .container
    .mod.titled-group
      .hd
        .group-title.pb10 Friends
      %ul.list-button-container.mb10
        %li.list-button.soft-gray-gradient.pt5.pl10.pb5
          .hd
            Following
          .bold
            343
        %li.list-button.soft-gray-gradient.pt5.pl10.pb5
          .hd
            Followers
          .bold
            343
    %ul.list-button-container.flush.nbb
      %li.list-button.charcoal.soft-gray-gradient
        My Profile
      %li.list-button.charcoal.soft-gray-gradient
        Social Settings
      %li.list-button.charcoal.soft-gray-gradient
        Help
