-content_for :styles do
  = stylesheet_link_tag("games/get-app")
#show.current
  .mod.line-item.page-header
    .hd
      - if @gamer.get_avatar_url.present?
        .icon
          %img{ :src => @gamer.get_avatar_url }
    .bd
      .title.elip.clearfix
        = @gamer.nickname
        %span.aside
          ="(#{t("text.games.thats_you")})"
      .sub-title
        [LAST PLAYED]
  .mod.titled-group
    .hd
      .group-title.pb10 Friends
    %ul.list-button-container.mb10
      %li.list-button.soft-gray-gradient.pt5.pl10.pb5
        .hd
          Following
        .bold
          343
      %li.list-button.soft-gray-gradient.pt5.pl10.pb5
        .hd
          Followers
        .bold
          343
  %ul.list-button-container.flush
    %li.list-button.charcoal.soft-gray-gradient
      My Profile
    %li.list-button.charcoal.soft-gray-gradient
      Social Settings
    %li.list-button.charcoal.soft-gray-gradient
      Help
