- @page_title = @app.name
- @dropdown_options = { :with_new_app_button => true }

#apps_main
  %h3 Thanks, your application has been added.
  Please note your application details below:

  %p &nbsp;

  %table.tjform
    %tbody
      %tr
        %tr
          %th App Name
          %td= @app.name
        %tr
          %th App Icon
          %td#app_icon= image_tag(@app.get_icon_url, :size => '57x57', :alt => 'icon')
        %tr
          %th App ID
          %td= @app.id
