!!! Transitional

%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %title Tapjoy Publisher Guidelines
    = render('shared/analytics')
  %body
    %p Tapjoy publishers must comply with the following guidelines, which may be updated by Tapjoy from time to time. Failure to comply with these guidelines may result in suspension or termination of a Tapjoy account at any time.
    %p Publishers shall not publish or use applications or the Tapjoy services to:
    %ul
      %li Use or encourage or facilitate others to use optimization services and/or software to fraudulently inflate user actions or information regarding user actions;
      %li Generate or facilitate actions that are based on fraudulent or deceptive practices, including the or use of deceptive implementation methods, robots or other automated tools to generate unintended user actions or encourage or facilitate any illegitimate user actions;
      %li Encourage or facilitate others to take actions with payments including offering cash, gift cards, etc.;
      %li Promote direct transfers of virtual awards into anything of monetary value, including cash, gift cards, etc.;
      %li Promote substances, services, products or materials that are illegal or prohibited in any state or country or other jurisdiction where the application is published;
      %li Promote the sale of beer or hard alcohol, tobacco or tobacco-related products, weapons or ammunition, or products that are replicas or imitations of designer goods;
      %li Disseminate content that includes or consists of illegal gambling, sweepstakes, or any similar activities;
      %li Display or disseminate any content of an explicit adult nature, including images, videos or text portraying nudity, sexual acts or products of an adult nature; 
      %li Violate any applicable law, statute, ordinance, rule or regulation, including the laws and regulations governing (i) misleading, false or deceptive advertising, (ii) mobile advertising or marketing, (iii) anti-discrimination, or (iv) unfair competition; 
      %li Disseminate content which (i) is defamatory or libelous or constitutes trade disparagement or libel, (ii) is lewd, pornographic or obscene, or (iii) promotes violence or hate speech; 
      %li Infringe on any third party’s copyright, patent, trademark, trade secret or other intellectual property or proprietary rights or any third party right of publicity or privacy;
      %li Disseminate harmful or deleterious programming routines that if downloaded could cause harm (intentionally or unintentionally) to a user's device;
      %li Disseminate content that has been modified in any respect from or is additional to that originally submitted and approved, or promote products or services different from or in addition to those initially represented or promoted when originally submitted and approved; or
      %li Engage in practices that Tapjoy, after considering established industry standards, but in its sole discretion, determines to be unfair, misleading, deceptive or damaging to Tapjoy's users or business or otherwise inappropriate or unacceptable.
