/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/** Normal stuff below **/
body {
  color: #5b5b5b;
  background: url("/images/android/bg.jpg") repeat-x;
  font-family: helvetica, arial; }

h1 {
  font-weight: bold;
  font-size: 34px;
  line-height: 40px; }

h1 span {
  color: #7b7b7b; }

h2 {
  color: #94c147;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px; }

h3 {
  color: #5b5b5b;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px; }

h3 span {
  color: #94c147; }

.clear {
  clear: both; }

#header {
  height: 90px;
  margin: 0px auto;
  width: 980px; }

#logo {
  float: left;
  margin-top: 15px; }

#navigation {
  float: right;
  height: 86px;
  margin-top: 4px;
  width: 304px; }

#navigation a {
  color: #717171;
  float: left;
  font-size: 14px;
  margin-top: 37px;
  text-decoration: none;
  width: 100px;
  text-align: center; }

#navigation a.selected {
  color: #595959;
  font-weight: bold; }

#navigation a:hover {
  text-decoration: underline; }

.nav_divider {
  background: url("/images/android/nav_divider.jpg") repeat-y;
  float: left;
  height: 86px;
  width: 2px; }

#content {
  width: 980px;
  margin: 40px auto; }

#fund_details {
  width: 535px;
  float: left;
  line-height: 28px; }

#fund_details h2 {
  margin: 15px 0 10px 0; }

#fund_details p {
  font-family: 'Lucida Grande';
  font-size: 14px; }

#apply_btn {
  background: url("/images/android/apply_now_btn.jpg");
  float: left;
  margin-top: 25px;
  height: 38px;
  width: 176px; }

#apply_btn:hover {
  background-position: -176px; }

#phone {
  background: url("/images/android/phone.jpg");
  float: right;
  height: 197px;
  margin-top: 25px;
  width: 388px; }

.screenshot {
  display: none;
  margin: 16px 0 0 56px; }

.show {
  display: block; }

#icons {
  clear: right;
  float: right;
  margin: 12px 45px 0 0; }

.icon {
  float: left;
  width: 70px;
  height: 65px;
  margin-right: 5px; }

#icons .selected {
  background: url("/images/android/icon_selected.jpg"); }

#icons img {
  margin: 10px 0 0 14px; }

#bottom_info {
  background: url("/images/android/midpage_shadow.jpg") no-repeat;
  clear: both;
  float: left;
  margin-top: 35px;
  padding-top: 55px;
  width: 980px;
  min-height: 276px; }

#left {
  width: 550px;
  float: left; }

#right {
  width: 385px;
  float: right; }

#benefits {
  font-family: 'lucida grande';
  float: left;
  margin: 0px;
  margin-top: 25px;
  padding: 0px;
  list-style-type: none;
  width: 550px; }

#benefits li {
  clear: both;
  float: left;
  margin-bottom: 45px;
  width: 550px; }

#benefits img {
  float: left;
  margin-right: 22px; }

#benefits span {
  color: #292929;
  float: left;
  font-weight: bold;
  width: 461px; }

#benefits p {
  float: left;
  font-size: 12px;
  margin-top: 5px;
  line-height: 18px;
  margin-top: 13px;
  width: 461px; }

#testimonials {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 385px; }

#testimonials li {
  float: left;
  margin: 20px 0 10px 0; }

#testimonials span {
  color: #94c147;
  font-family: 'The Girl Next Door', helvetica, arial;
  float: left;
  font-size: 20px; }

#testimonial_line {
  background: url("/images/android/testimonial_line.png");
  float: left;
  height: 7px;
  margin: 5px 0 10px 0;
  width: 387px; }

#testimonials p {
  float: left;
  line-height: 21px;
  font-family: 'Lucida Grande';
  font-size: 12px; }

#video {
  float: left;
  margin: 0 0 0 -15px; }

#footer {
  clear: both;
  background: url("/images/android/footer_shadow.jpg") no-repeat;
  font-size: 14px;
  margin: 0px auto;
  margin-bottom: 60px;
  padding-top: 35px;
  width: 980px; }

#footer_links a {
  color: #98c34a;
  float: left;
  text-decoration: none; }

#footer_links a:hover {
  text-decoration: underline; }

#footer_links .divider {
  color: #818181;
  float: left;
  margin: 0 12px 0 12px; }

#copyright {
  float: right; }

/** Apply **/
form {
  float: left;
  margin: 35px 0 50px 0;
  width: 585px; }

.form_row {
  float: left;
  margin-top: 10px; }

form label {
  font-size: 13px;
  font-weight: bold;
  float: left;
  width: 175px;
  margin-top: 9px; }

form input {
  border: 1px solid #909090;
  height: 30px;
  width: 300px; }

form textarea {
  width: 400px;
  height: 150px; }

#send_it {
  border: none;
  background: url("/images/android/apply_btn.jpg");
  float: right;
  clear: both;
  margin-top: 20px;
  width: 140px;
  height: 38px; }

#send_it:hover {
  background-position: -140px; }

#error {
  font-weight: bold;
  color: red;
  float: left;
  margin-bottom: 20px;
  width: 100%; }

#success {
  font-weight: bold;
  color: green;
  float: left;
  margin-bottom: 20px;
  width: 100%; }
