#search_results {
  display: none;
  background-color: #eee;
  border: 1px solid #888;
  position: absolute;
  height: 320px;
  padding: 3px;
  overflow-y: auto;
}
#search_results img {
  max-width: 80px;
}
#app_icon img {
  max-width: 80px;
}
#search_results img.load-circle{
  display: none;
}
#search_results.searching img.load-circle{
  display: inherit;
}
#search_results .search-result:hover {
  background-color: #ccc;
}
.new_app_button {
  float: right;
}
#app_description {
  max-width: 400px;
  max-height: 200px;
  overflow: auto;
}
.tjform select {
  width: 80px;
}

.tjform input#app_name {
  width: 400px;
}

input#search_button {
  margin-top: 0px;
}
