#search_results {
  display: none;
  background-color: #eee;
  border: 1px solid #888;
  position: absolute;
  padding: 3px;
}
#search_results img.load-circle{
  display: none;
}
#search_results.searching img.load-circle{
  display: inherit;
}
tr.app_store_url, tr.app_icon, input.search{
  display: none;
}
#search_results .search-result:hover {
  background-color: #ccc;
}

td.integrated {
  color: #0f0;
}
td.not_integrated {
  color: #f00;
}
.new_app_button {
  float: right;
}
#app_description {
  max-width: 400px;
  max-height: 300px;
  overflow: auto;
}