body {
  font-family: 'AvantGardeDemiRegular', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  font-size: 0.8em;
  padding: 0;
  background-color: #053f7e; }

img, table, table tr td, h1, h2, h3, h4, h5, h6, ul, ul li, a, p {
  margin: 0;
  padding: 0; }

img {
  margin: 0;
  padding: 0;
  border: 0; }

form {
  margin: 0;
  padding: 0;
  border: 0; }

ul li {
  list-style: none;
  padding: 0;
  margin: 0; }

ul li a {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  color: #fff;
  text-decoration: none; }

ul li a:hover {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  text-decoration: dotted; }

ul#nav {
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
  display: block; }

ul#nav li {
  position: relative;
  list-style: none;
  float: left;
  padding: 15px 15px 10px 15px;
  font-size: 1.3em;
  border-right: 1px solid #d9d9d9; }

#nav li a {
  display: block;
  text-decoration: none;
  color: #000;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 8px 0px;
  /*border-right: 1px solid #d9d9d9;*/ }

#nav li a:hover {
  color: #0d034e;
  background: url(../images/site/menu_hover_bg.gif) repeat-x left bottom; }

#nav li:last-child {
  border-right: none;
  padding-right: none; }

/* Colored Links*/
a.link0 {
  color: #171492!important; }

a.link1 {
  color: #171492!important; }

a.link2 {
  color: #171492!important; }

a.link3 {
  color: #171492!important; }

a.link4 {
  color: #171492!important; }

a.selec {
  background: url(../images/site/menu_hover_bg.gif) repeat-x left bottom; }

div.mainmenu {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  height: 40px;
  display: table;
  width: 70%;
  float: right; }

.clear {
  clear: both;
  margin: 0;
  padding: 0;
  border: 0; }

div.outerwrapper {
  position: relative; }

div.wrapper {
  padding: 0px 0px 10px;
  margin: 10px auto;
  background: #fff;
  width: 990px;
  border: 1px solid #d5d5d5;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px; }

div.header {
  margin: 0px 0px 0px 0px;
  padding: 0px 35px 0px 20px;
  width: auto;
  background-color: #f4f4f4;
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0; }

div.header h1 {
  padding: 20px 0px 20px 15px;
  float: left; }

div.quickLinks {
  float: right;
  padding: 6px 10px 10px 10px;
  margin: 0px 5px 15px 5px; }

div.quickLinks a {
  text-align: left;
  font-size: 0.9em;
  padding: 8px 10px 10px 10px;
  margin: 0px 5px 15px 5px;
  background-color: #eee;
  border: 2px solid #bbb;
  border-top: none;
  border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -webkit-border-radius: 0 0 7px 7px;
  color: #171492;
  text-decoration: none; }

div.quickLinks:hover a {
  background-color: #171492;
  color: #fff; }

div.banner {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background: url(../images/site/banner_bg.gif) repeat-x top left;
  width: 100%;
  display: table; }

div.nobannerbg {
  background: none;
  padding: 10px 10px 0px 10px; }

div.nobannerbg a img {
  float: left!important; }

div.banner img {
  float: right; }

div.ticker {
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 15px 50px;
  padding: 10px 10px 15px 10px;
  color: #fff;
  background-color: #000; }

div.ticker p {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 1.1em;
  font-weight: normal; }

div.ticker p span {
  font-size: 1.4em;
  color: #f75f00;
  margin: 0px 10px 0px 15px;
  padding: 0px 0px 0px 0px; }

div.ticker p a {
  color: #f75f00;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-decoration: none; }

div.contentArea {
  border-top: 2px solid #ccc!important;
  margin-top: -10px !important;
  background-color: #fff;
  width: 100%;
  display: table;
  margin: 0;
  padding: 0; }

div.splitLayout {
  width: 100%;
  display: table;
  padding: 30px 0px 0px 0px;
  margin: 0px; }

div.leftNav {
  padding: 0px 0px 0px 40px;
  margin: 0px;
  width: 174px;
  float: left; }

div.leftNav h4 {
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 1.2em; }

div.leftNav ul {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; }

div.leftNav ul li {
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px; }

div.leftNav ul li a {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 4px 0px;
  color: #35329f;
  font-size: 1.1em; }

div.leftNav ul li a:hover {
  background: url(../images/site/menu_hover_bg.gif) repeat-x left bottom;
  color: #0c0a53; }

/*****************Management content******************/
div.team {
  border-left: 1px solid #acacac;
  width: auto;
  display: table;
  float: right;
  padding: 0;
  margin: 0; }

div.plain_template {
  float: left!important; }

div.innercontents {
  border-bottom: none!important;
  padding: 0px 0px 0px 35px!important;
  font-weight: normal!important;
  width: 680px!important;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }

div.innercontents h5 {
  margin-left: 0px!important;
  margin-bottom: 10px!important; }

div.innercontents p {
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 10px 0px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }

div.innercontents strong, div.innercontents b {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 1.2em; }

div.innercontents ul {
  margin: 10px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }

div.innercontents ul li {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 10px;
  background: url(../images/site/listBullets.gif) no-repeat left center; }

div.innercontents ul.nobg li {
  background: none;
  padding-left: 0px; }

div.innercontents a {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  color: #244b99;
  text-decoration: none;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }

div.innercontents a:hover {
  text-decoration: underline; }

div.fullcontent {
  width: 850px!important;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }

td.tblepadrgt {
  padding-right: 20px; }

div.management {
  margin: 0px 23px 20px 0px;
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid #acacac;
  width: auto;
  overflow: auto;
  display: table; }

div.management h5 {
  font-size: 2.1em;
  color: #f16613;
  margin: 0px 0px 20px 30px; }

div.management img {
  float: left;
  margin: 4px 20px 0px 0px;
  padding: 0px 0px 0px 30px; }

div.content {
  display: table;
  /* overflow:auto;*/
  float: left;
  width: 530px;
  min-height: 20em;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 10px 0px; }

div.content p {
  float: left;
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }

div.content a img {
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  clear: both; }

div.content h4 {
  color: #000;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 1.3em; }

strong.job_title {
  margin: 0px 0px 0px 0px;
  font-size: 1.3em;
  color: #555;
  font-weight: bold;
  padding: 0px 0px 0px 0px; }

/*****************Management content******************/
div.services {
  margin-top: 20px;
  padding: 20px 0px 0px 36px;
  width: 954px;
  display: inline-block;
  border-top: 2px solid #ccc; }

div.services a {
  text-decoration: none; }

div.section1, div.section2, div.section3 {
  float: left;
  border-right: 1px solid #acacac;
  width: 303px;
  padding: 20px 0px 0px 0px;
  text-align: center; }

div.section3 {
  border: none; }

div.section1 h2, div.section2 h2, div.section3 h2 {
  color: #f75f00;
  margin: 0px 0px 10px 0px;
  font-size: 1.4em;
  font-weight: bold; }

div.section1 p, div.section2 p, div.section3 p {
  color: #464646;
  padding: 0px 40px 0px 40px;
  margin: 0px 0px 10px 0px;
  text-align: center;
  font-family: "Trebuchet MS";
  font-size: 1em; }

div.types {
  padding: 30px 0px;
  width: 100%;
  display: table; }

div.block1, div.block2 {
  width: 430px;
  float: left;
  border-right: 1px solid #acacac;
  padding: 5px 10px 3px 35px;
  text-align: left; }

div.block1 h2, div.block2 h2 {
  color: #f75f00;
  margin: 0px 0px 10px 0px;
  font-size: 2em;
  font-weight: normal; }

div.block1 span, div.block2 span {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  color: #555;
  font-size: 1.2em;
  font-style: italic; }

div.block1 p, div.block2 p {
  color: #707070;
  font-size: 1.2em;
  font-family: "Trebuchet MS";
  width: 99%;
  line-height: 18px;
  margin: 15px 0px 15px 0px;
  padding: 0px 0px 0px 0px; }

div.block1 ul, div.block2 ul {
  margin: 0px 0px 15px 0px;
  padding: 0px 0px 0px 0px; }

div.block1 ul li, div.block2 ul li {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 15px;
  background: url(../images/site/listBullets.gif) no-repeat left center;
  font-family: "Trebuchet MS";
  font-weight: bold;
  color: #000;
  font-size: 1.1em; }

div.block1 img, div.block2 img {
  vertical-align: bottom; }

div.block1_bg {
  background: url(../images/site/arrows.gif) no-repeat 80% 7.6em;
  height: 250px; }

div.block2_bg {
  border: none;
  height: 250px; }

div.mobile_dev {
  height: 420px;
  position: relative; }

div.web_dev {
  height: 420px;
  position: relative; }

div.titleHeader {
  margin: 0px 0px 0px 0px;
  padding: 13px 35px;
  width: 920px;
  display: inline-block;
  background-color: #f3f3f3; }

div.titleHeader h3 {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 3em;
  color: #000000;
  float: left; }

div.titleHeader h3.sub {
  color: #616161; }

div.titleHeader h3.separator,
div.titleHeader h3.separater {
  color: #b1b1b1; }

/*
Conatct Form
*/
div.contact_form {
  padding: 0px 0px 0px 0px;
  margin: 20px 30px 0px 35px; }

div.contact_form h2 {
  padding: 0px 0px 10px 0px;
  margin: 0px 0px 10px 0px;
  border-bottom: 1px solid #666;
  font-size: 1.7em; }

div.contact_form p {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
  color: #666;
  font-weight: normal; }

div.form_row {
  width: 100%;
  display: table;
  padding: 10px 0px 10px 0px;
  margin: 0px 0px 0px 0px; }

div.form_row label {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 160px;
  display: block;
  float: left;
  color: #244b99; }

div.form_row input, div.form_row select {
  float: left;
  clear: right; }

div.form_row input, div.form_row textarea {
  width: 400px;
  border: 1px solid #ccc;
  padding: 2px 0px 2px 0px; }

div.form_row img {
  margin: 0px 0px 0px 310px;
  padding: 0px 0px 0px 0px;
  cursor: pointer; }

/*
Conatct Form
*/
div.footer {
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; }

div.partnerList {
  margin: 30px 52px;
  padding: 0px 0px 0px 0px; }

div.partnerList img {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; }

div.partnerList h2 {
  color: #F75F00;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 1.5em; }

div.partnerList table td {
  text-align: center; }

div.partnerList table td span {
  margin: 0px;
  padding: 0px;
  font-size: 0.9em;
  text-decoration: none;
  color: #666;
  display: block; }

div.footer a {
  margin: 0px 0px 0px 0px;
  padding: 0px 10px 0px 10px;
  font-size: 0.85em;
  color: #171492;
  text-decoration: none; }

div.footer a:hover {
  text-decoration: underline; }

div.footer p {
  font-size: 0.85em;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #555555;
  padding: 10px 0px 0px 0px; }

div.footer p a {
  font-size: 0.95em!important;
  padding: 0px; }

div.large-header {
  text-transform: uppercase; }

div.small-header {
  font-size: 1.2em;
  font-style: oblique;
  color: #444;
  letter-spacing: 1px;
  padding: 1.2em 0em; }

input[type=submit].blue, input[type=button].blue {
  width: 360px;
  height: 45px;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-family: 'AvantGardeDemiRegular', sans-serif;
  font-size: 1.2em;
  text-shadow: 1px 1px 1px #666;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 3px 10px;
  background-color: #083898;
  background: -webkit-gradient(linear, left top, left bottom, from(#083898), to(#224477));
  background: -moz-linear-gradient(top, #083898, #224477);
  border-width: 2px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 1px 1px 4px #444;
  -webkit-box-shadow: 1px 1px 4px #444;
  -moz-box-shadow: 1px 1px 4px #444; }

input[type=submit].blue:hover, input[type=button].blue:hover {
  background-color: #336999;
  background: -webkit-gradient(linear, left top, left bottom, from(#0848a8), to(#224488));
  background: -moz-linear-gradient(top, #0848a8, #224488); }

input[type=submit].blue:active, input[type=button].blue:active {
  background-color: #3868c8;
  background: -webkit-gradient(linear, left top, left bottom, from(#224466), to(#082868));
  background: -moz-linear-gradient(top, #224466, #082868);
  margin-top: 1px;
  margin-left: 1px;
  box-shadow: 0px 0px 4px #444;
  -webkit-box-shadow: 0px 0px 4px #444;
  -moz-box-shadow: 0px 0px 4px #444; }
