#right h2 { margin: 20px 0 20px 0; }
#right h3 { clear: left; margin-bottom: 20px; }
#right p { clear: left; margin-bottom: 20px; }

#jobs { float: left; margin-bottom: 30px; }
#jobs > span { color: #636363; clear: left; float: left; font-size: 16px; font-weight: bold; margin-top: 23px; }
#jobs ul { color: #000; list-style: disc; }
#jobs li { clear: left; color: #8b8b8b; float: left; margin: 8px 0 0 18px; }
#jobs li a { color: #087aad; font-size: 14px; } 