.jcarousel-skin-tj {
  margin-bottom: 10px;
}

.jcarousel-skin-tj .jcarousel-container {
  border-bottom: 1px solid #888;
  background: #f0f0f0;
  height: 90px;
}

.jcarousel-skin-tj .jcarousel-container-horizontal {
  margin: 0 20px;
}

.jcarousel-skin-tj .jcarousel-clip-horizontal {
  width: 100%;
}

.jcarousel-skin-tj .jcarousel-next-horizontal,
.jcarousel-skin-tj .jcarousel-prev-horizontal {
    position: absolute;
    cursor: pointer;
    top: 0;
    width: 20px;
    height: 55px;
    padding-top: 35px;
    border-bottom: 1px solid #888;
}
.jcarousel-skin-tj .jcarousel-next-horizontal:after {
  content: "\25B6";
}
.jcarousel-skin-tj .jcarousel-prev-horizontal:after {
  content: "\25C0";
}

.jcarousel-skin-tj .jcarousel-next-horizontal {
  right: -20px;
  text-align: right;
  background: #ccc;
  background: -webkit-gradient(linear, left top, right bottom, from(#f0f0f0), to(#ccc));
  background: -moz-linear-gradient(left,  #f0f0f0,  #ccc);
}
.jcarousel-skin-tj .jcarousel-next-horizontal:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#f0f0f0), to(#aaa));
  background: -moz-linear-gradient(left,  #f0f0f0,  #aaa);
}
.jcarousel-skin-tj .jcarousel-next-horizontal:active {
  background: -webkit-gradient(linear, left top, right bottom, from(#f0f0f0), to(#888));
  background: -moz-linear-gradient(left,  #f0f0f0,  #888);
}
.jcarousel-skin-tj .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tj .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tj .jcarousel-next-disabled-horizontal:active {
  background: -webkit-gradient(linear, left top, right bottom, from(#f0f0f0), to(#ccc));
  background: -moz-linear-gradient(left,  #f0f0f0,  #ccc);
  color: #777;
  cursor: default;
}

.jcarousel-skin-tj .jcarousel-prev-horizontal {
  left: -20px;
  background: #ccc;
  background: -webkit-gradient(linear, left top, right bottom, from(#ccc), to(#f0f0f0));
  background: -moz-linear-gradient(left,  #ccc,  #f0f0f0);
}
.jcarousel-skin-tj .jcarousel-prev-horizontal:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#aaa), to(#f0f0f0));
  background: -moz-linear-gradient(left,  #aaa,  #f0f0f0);
}
.jcarousel-skin-tj .jcarousel-prev-horizontal:active {
  background: -webkit-gradient(linear, left top, right bottom, from(#888), to(#f0f0f0));
  background: -moz-linear-gradient(left,  #888,  #f0f0f0);
}
.jcarousel-skin-tj .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tj .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tj .jcarousel-prev-disabled-horizontal:active {
  background: -webkit-gradient(linear, left top, right bottom, from(#ccc), to(#f0f0f0));
  background: -moz-linear-gradient(left,  #ccc,  #f0f0f0);
  color: #777;
  cursor: default;
}
