#articles {
  float: left;
  font-size: 12px;
  line-height: 15px;
  margin-top: 32px; }

#articles strong {
  color: #636363;
  font-size: 16px;
  font-weight: bold; }

.view_all, .hide_all {
  color: #636363;
  float: right;
  font-size: 10px;
  margin-top: 3px; }

.article_divider {
  background: #e0e0e0;
  float: left;
  height: 1px;
  margin: 10px 0 10px 0;
  width: 100%; }

.date {
  margin-top: 8px; }

#articles a {
  font-size: 12px; }

#articles ul li {
  float: left; }

#news {
  float: left;
  margin: 25px 0 25px 0; }

h1, h2 {
  clear: left;
  float: left;
  margin-bottom: 14px; }

h3 {
  font-weight: bold;
  font-size: 12px;
  color: #636363;
  float: none;
  margin-bottom: 6px; }

#right p, #right h2 {
  float: none; }

#right table, #right ul li, #right ol li {
  font-size: 12px;
  color: #636363;
  margin-top: 3px; }

#right ul li, #right ol li {
  margin-left: 20px; }

#right ul li {
  list-style: disc; }

#right ol li {
  list-style: decimal; }

#right ul, #right ol {
  margin-bottom: 25px; }

.contact {
  clear: left; }

a.bold {
  font-weight: bold; }

.hidden {
  display: none; }
