.anythingSlider {
  width: 933px;
  height: 357px;
  position: relative;
  margin: 0px 10px 0px 0px; }

.anythingSlider .slidewrapper {
  width: 875px;
  overflow: auto;
  height: 357px;
  margin: 0px 0px 0px 49px;
  position: absolute;
  top: 0;
  left: 0; }

/* Width below is max for Opera */
.anythingSlider .slidewrapper ul {
  width: 32700px;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  /*background: #eee;*/
  margin: 0; }

.anythingSlider .slidewrapper ul li {
  display: block;
  float: left;
  padding: 0;
  height: 317px;
  width: 933px;
  margin: 0; }

.anythingSlider .arrow {
  display: block;
  height: 200px;
  width: 67px;
  background: url(../images/site/arrows-alt.png) no-repeat 0 0;
  text-indent: -9999px;
  position: absolute;
  top: -250px;
  cursor: pointer; }

.anythingSlider .forward {
  background-position: 0 0;
  right: -58px; }

.anythingSlider .back {
  background-position: -67px 0;
  left: -18px; }

.anythingSlider .forward:hover {
  background-position: 0 -200px; }

.anythingSlider .back:hover {
  background-position: -67px -200px; }

.thumbNav {
  position: relative;
  top: 323px;
  text-align: center; }

.thumbNav li {
  display: inline; }

.thumbNav a {
  color: black;
  font: 11px/18px Georgia, Serif;
  display: inline-block;
  padding: 2px 8px;
  height: 18px;
  margin: 0 5px 0 0;
  text-align: center;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px; }

.thumbNav a:hover {
  background-image: none; }

.thumbNav a.cur {
  background: #e0a213; }

.anythingSlider .thumbNav ul li {
  display: none !important; }

.anythingSlider a.start-stop {
  display: none !important; }

.anythingSlider .thumbNav ul li.arrow {
  display: block !important; }

.start-stop {
  z-index: 10;
  background: green;
  background-repeat: repeat-x;
  color: white;
  padding: 2px 5px;
  width: 40px;
  text-align: center;
  position: absolute;
  right: 45px;
  top: 323px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px; }

.start-stop.playing {
  background-color: red; }

.start-stop:hover {
  background-image: none; }

/* Prevents */
.anythingSlider .slidewrapper ul ul {
  position: static;
  margin: 0;
  background: none;
  overflow: visible;
  width: auto;
  border: 0; }

.anythingSlider .slidewrapper ul ul li {
  float: none;
  height: auto;
  width: auto;
  background: none; }

.anythingSlider .slidewrapper ul li a {
  display: block;
  height: 357px; }
