.holder {
  display: inline-block; }

.bar {
  background-color: black;
  width: 2px;
  height: 400px;
  position: absolute;
  display: none;
  opacity: 0.5; }

.tooltip {
  position: absolute;
  background-color: #ffe;
  border: 1px solid #606060;
  color: black;
  display: inline;
  font-family: Tahoma;
  font-size: 10pt;
  text-align: left;
  overflow: hidden;
  padding-left: 3px;
  padding-right: 3px;
  z-index: 3;
  opacity: 0.8;
  margin: 0 6px 0 10px;
  -moz-border-radius: 5px 5px 5px 5px;
  -moz-box-shadow: 3px 3px 3px rgba(96, 96, 96, 0.5);
  -webkit-border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 3px 3px 3px rgba(96, 96, 96, 0.5);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 3px 3px 3px rgba(96, 96, 96, 0.5);
  display: none; }

.graph h3 {
  margin-bottom: 0; }

.error {
  font-style: italic;
  margin-bottom: 20px; }
