.user {
  float: left;
  margin-top: 25px; }

.teampic {
  clear: left;
  float: left;
  margin: 0px 20px 20px 0; }

.teampic img {
  height: 78px;
  width: 78px; }

.name {
  color: #474747;
  float: left;
  font-size: 17px;
  font-weight: bold;
  width: 530px; }

.title {
  float: left;
  font-size: 14px;
  margin: 5px 0 7px 0;
  width: 530px; }

.divider {
  background: #e1e1e1;
  float: left;
  height: 1px;
  margin-top: 25px;
  width: 100%; }

#about_us p {
  float: right;
  font-size: 12px;
  width: 593px; }

.questions {
  float: right;
  width: 593px; }

.question {
  float: left;
  font-size: 12px;
  margin-right: 27px;
  width: 170px; }

.question .header {
  background: #C7C7C7;
  border-radius: 4px;
  color: #454545;
  float: left;
  font-weight: bold;
  width: 100%;
  padding: 5px 0 5px 5px; }

.question .answer {
  color: #7E7E7E;
  float: left;
  margin: 8px 0 0 5px;
  line-height: 15px; }

.biolarge {
  display: none; }
