#user { float: left; margin-top: 20px; }
.teampic { clear: left; float: left; margin: 0px 20px 20px 0; }
.name { color: #474747; float: left; font-size: 17px; font-weight: bold; width: 530px; }
.title { float: left; font-size: 14px; margin-top: 5px; width: 530px; }
.divider { background: #e1e1e1; float: left; height: 1px; margin: 10px 0 10px 0; width: 530px; }
#about_us .about { float: right; font-size: 12px; width: 593px; }