body {
  font-family: arial, helvetica;
}
a img {
  border: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.centered {
  text-align: center;
}
.clear {
  clear: both;
}
.hidden {
  display: none;
}
#top_nav {
  text-align: right;
  margin: 0px 40px;
}
#content {
  margin: 0px 40px;
  border-top: 1px solid #888;
}
ul.navigation {
  margin-bottom: 9px;
}
ul.navigation li {
  display: inline;
  border: 1px solid #888;
  border-right: none;
  padding: 10px 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
  background: -moz-linear-gradient(top,  #fff,  #ccc);
  text-shadow: 0px 1px 1px #fff;
}
ul.navigation li:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#bbb));
	background: -moz-linear-gradient(top, #fff, #bbb);
}
ul.navigation li:last-child {
  border-right: 1px solid #888;
}
ul.navigation li a {
  text-decoration: none;
  line-height: 100%;
  padding: 10px;
  color: #444;
}
ul.navigation li:hover a {
  color: #222;
}
ul.navigation li.current {
  background: -webkit-gradient(linear, left top, left bottom, from(#37ADE0), to(#337BC8));
  background: -moz-linear-gradient(top, #37ADE0, #337BC8);
  text-shadow: 0px 1px 1px #6D6C9E;
}
ul.navigation li.current a {
  color: white;
}

div.flash {
  margin: 0px 40px;
  padding: 5px;
}

#flash_notice {
  background-color: #328F0D;
}

#flash_error {
  background-color: #7D1515;
}

input.date {
  width: 100px;
}
table.shaded {
  border: 1px solid gray;
  border-spacing: 0px;
  color: #3d3d3d;
}
table.shaded tr.even {
  background-color: #fff;
}
table.shaded tr.odd {
  background-color: #f0f0f6;
}
table.shaded th, table.shaded td {
  border: 1px solid gray;
}
