.left {
  float: left;
}

.right {
  float: right;
}
.centered {
  text-align: center;
}
.clear {
  clear: both;
}

ul.navigation {
}

ul.navigation li {
  display: inline;
  padding: 10px;
  border: 1px solid black;
  background-color: gray;
}

ul.navigation li.current {
  background-color: white;
}

div.flash {
  margin: 5px;
  padding: 5px;
  width: 60%;
}

#flash_notice {
  background-color: green;
}

#flash_error {
  background-color: red;
}

input.date {
  width: 100px;
}
#billing-summary table tr.subheader th {
  font-size: 10px;
}
#billing-summary table tr.statement td {
  border: 1px solid black;
}
#billing-summary table td.currency {
  text-align: right;
  min-width: 120px;
}
