body {
  font-family: arial, helvetica;
  background:url("/images/stripes.png") repeat scroll 0 0 #C7C7C7;
}
a img {
  border: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.centered {
  text-align: center;
}
.clear {
  clear: both;
}
.hidden {
  display: none;
}

#main {
  padding: 10px 15px;
  margin: 10px auto;
  background: white;
  border: 1px solid #d5d5d5;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  width: 960px;
}
#top_nav {
  text-align: right;
}
#tabs {
  padding-left: 10px;
}
#tabs li {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
}

#content {
  border-top: 1px solid #888;
}
#content-with-links {
  margin-left: 150px;
}

ul.navigation {
  margin: 6px 0 -1px;
  padding: 0;
}
ul.navigation li {
  display: inline-block;
  border: 1px solid #888;
  padding: 10px 0px;
  margin-right: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
  background: -moz-linear-gradient(top,  #fff,  #ccc);
  text-shadow: 0px 1px 1px #fff;
}
ul.navigation li:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#bbb));
	background: -moz-linear-gradient(top, #fff, #bbb);
}
ul.navigation li:last-child {
  border-right: 1px solid #888;
}
ul.navigation li a {
  text-decoration: none;
  line-height: 100%;
  padding: 10px;
  color: #444;
}
ul.navigation li:hover a {
  color: #222;
}
ul.navigation li.current {
  background: -webkit-gradient(linear, left top, left bottom, from(#37ADE0), to(#337BC8));
  background: -moz-linear-gradient(top, #37ADE0, #337BC8);
  text-shadow: 0px 1px 1px #6D6C9E;
}
ul.navigation li.current a {
  color: white;
}

div.flash {
  padding: 5px;
}
#flash_notice {
  background-color: #328F0D;
}
#flash_error {
  background-color: #AF1515;
}

form.tjform {
  display: inline-block;
}
.tjform th {
  text-align: right;
  vertical-align: top;
  padding-top: 3px;
  padding-right: 10px;
  white-space: nowrap;
}
.tjform textarea,
.tjform input[type=text] {
  border:1px solid #bec5cb;
  font-size: 16px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.tjform textarea:hover,
.tjform textarea:active,
.tjform input[type=text]:hover,
.tjform input[type=text]:active {
  background-color: #fffff0;
}
.tjform input[type=submit] {
  margin-top: 10px;
  float: right;
}
.tjform .fieldWithErrors,
.tjform .formError {
  display: inline-block;
}
.tjform .fieldWithErrors {
  border: 3px solid #af1515;
}
.tjform .formError {
  color: #af1515;
}
.tjform .ui-dialog .ui-dialog-titlebar {
  height: 5px;
}
.tjform .ui-dialog .ui-dialog-title {
  font-size: 14px;
  margin-top: -8px;
}
.tjform .ui-dialog .ui-dialog-content {
  overflow: visible;
  font-size: 12px;
}
.tjform .help {
  cursor: help;
  display: inline-block;
  width: 12px;
  height: 12px;
  font-weight: normal;
  font-size: 10px;
  text-align: center;
  background-color: #ddd;
  color: #444;
  text-shadow: 0px 1px 1px #fff;
  border: 1px solid #bbb;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  vertical-align: top;
}
.tjform .help:hover {
  background-color: #eee;
  color: #000;
}
.tjform .help:active {
  background-color: #fff;
  color: #444;
}

.help-dialog .ui-dialog-titlebar {
  height: 5px;
}

div.help-dialog .ui-dialog-title {
  font-size: 14px;
  margin-top: -8px;
  display: block;
  float: none;
}

.help-dialog .ui-dialog-content {
  overflow: visible;
  font-size: 12px;
}

.description {
  font-size: 85%;
}
