- @page_title = 'Featured Offer'

= render('shared/dropdown_select', :objects => current_partner_apps, :selected => @app)
= render('apps/actions', :app => @app)
#apps_main
  %h3 Featured Installs
  
  %p.description
    Featured Installs let you buy premium views for your app offer, such as being displayed full-screen when an app is launched. Like Pay-Per-Install, you only pay when a user installs your app.

  %br
  %br

  - form_tag(app_featured_offers_path(@app)) do
    = submit_tag('Create Featured Offer')