#apps_tools
  %ul
    %li= link_to 'Details', app_path(app)
    %li= link_to 'Pay-Per-Install', pay_per_install_app_path(app)
    %li= link_to 'Virtual Currency',  app_currency_path({:app_id => app.id, :id => app.currency.id}) unless app.currency.nil?
    %li= link_to 'Virtual Goods', '#'

- content_for :page_styles do
  :plain
    #apps_tools {
      float: left;
      width: 200px;
    }
    #apps_tools li {
      list-style: none;
      padding-bottom: 10px;
    }
    #apps_main {
      margin-left: 210px;
    }
