#apps_tools
  %ul
    - unless app.nil?
      - currency_path = app.currency.nil? ? new_app_currency_path({:app_id => app.id}) : app_currency_path({:app_id => app.id, :id => app.currency.id})
      - virtual_goods_path = app.virtual_goods.blank? ? new_app_virtual_good_path({:app_id => app.id}) : app_virtual_goods_path({:app_id => app.id})
      %li= link_to 'Details', app_path(app), :class => (request.path_parameters['controller'] == 'apps' ? 'selected' : '')
      %li= link_to 'Pay-Per-Install', app_offer_path(:id => app.primary_offer.id, :app_id => app.id), :class => (request.path_parameters['controller'] == 'offers' ? 'selected' : '')
      %li= link_to 'Virtual Currency', currency_path, :class => (request.path_parameters['controller'] == 'currencies' ? 'selected' : '')
      %li= link_to 'Virtual Goods', virtual_goods_path, :class => (request.path_parameters['controller'] == 'virtual_goods' ? 'selected' : '')
    - else
      %li.disabled Details
      %li.disabled Pay-Per-Install
      %li.disabled Virtual Currency

- content_for :page_styles do
  :plain
    #apps_tools {
      float: left;
      width: 150px;
    }
    
    #apps_tools ul {
      padding-left: 0;
    }
    
    #apps_tools li {
      list-style: none;
    }
    
    #apps_tools li.disabled,
    #apps_tools a {
      text-decoration: none;
      display: block;
      color: black;
      padding: 5px;
    }
    
    #apps_tools a:hover {
      background: #ccc;
      background: -webkit-gradient(linear, left top, right bottom, from(#ccc), to(#fff));
      background: -moz-linear-gradient(left,  #ccc,  #fff);
    }
    
    #apps_tools a.selected {
      background: #337BC8;
      background: -webkit-gradient(linear, left top, right bottom, from(#337BC8), to(#fff));
      background: -moz-linear-gradient(left,  #337BC8,  #fff);
    }
    
    #apps_tools li.disabled {
      color: #aaa;
    }
    
    #apps_main {
      margin-left: 160px;
    }
