%tr
  %th Country
  %td
    = select_tag 'app_country', options_for_select(App::APPSTORE_COUNTRIES_OPTIONS)
    .inline_help
      iPhone-only. This field is strictly for app store search, and setting this
      field has no bearing on offer country targeting.
