- @page_title = 'New application'

= render :partial => 'apps'

%h1 Add new application
%h3 Add a new application to the Tapjoy system.

#apps_main
  -form_for @app do |f|
    %table.app{:cellpadding => 0, :cellspacing => 0, :border => 1}
      %tbody
        %tr
          %th Application name
          %td
            = f.text_field :name, :size => 50
            -if @app.errors.on :name
              =error_message_on @app, :name
        %tr
          %th iTunes URL:
          %td
            = f.text_field :store_url, :size => 50
            -if @app.errors.on :store_url
              =error_message_on @app, :store_url
        %tr
          %th Platform
          %td=f.select :platform, %w(iPhone Android).zip(%w(iphone android))
    = f.submit 'Create'

