- @page_title = 'Service Stats'

%h1= @page_title

%h2 HTTP Codes

%h3 Last 60 Seconds
#chart_60sec
#legend_60sec
- include_rickshaw_js('http_codes.json', '60sec')

%h3 Last 5 Minutes
#chart_300sec
#legend_300sec
- include_rickshaw_js('http_codes.json?period=300', '300sec')
