#left
  %img{:src => "images/app_developers_header.png"}/
  %p
    Increase your app's revenue with our cross-promotion platform and app network
  %a.learn_more{:href => "/site/app_developers"}
#right
  %img{:src => "images/advertisers_header.png"}/
  %p
    Increase your app's revenue with our cross-promotion platform and app network
  %a.learn_more{:href => "/site/advertisers"}
.clear
.clear