#invites.page.current
  .panel
    %ul.slats.with-icons
      %li.slat
        &nbsp;
    .button-container
      .ui-joy-button.medium.facebook-btn
        %a.icon.text-left 
          .img.facebook
            =image_tag "/images/e.gif"
          .label
            =t('text.games.share_on_facebook')
      .ui-joy-button.medium.twitter-btn
        %a.icon.text-left 
          .img.twitter
            =image_tag "/images/e.gif"
          .label
            =t('text.games.share_on_twitter')
      .ui-joy-button.medium.email-btn
        %a.icon.text-left 
          .img.email
            =image_tag "/images/e.gif"
          .label
            =t('text.games.invite_by_email')
    =render "games/shared/footer"
