= render 'invite_social_friends', :channel => 'twitter', :friends => @twitter_friends, :send_path => games_social_send_twitter_invites_path, :invite_path => games_social_invite_twitter_friends_path, :abbreviation => "TWITTER"
