= fb_connect_async_js
= render 'invite_social_friends', :channel => 'facebook', :friends => @fb_friends, :send_path => games_social_send_facebook_invites_path, :invite_path => games_social_invite_facebook_friends_path, :abbreviation => 'FB'
