#a_dvertisers { float: left; margin-top: 42px; width: 980px; }
#about { clear: left; float: left; font-size: 14px; margin-top: 15px; width: 480px; }
#about p { color: #828282; line-height: 27px; float: left; margin-top: 15px; }
#about a { color: #6c6c6c; font-weight: bold; }
#about a label { color: #0077b1; }

#start_advertising { background: url('/images/start_advertising_sprite.png'); clear: left; float: left; height: 40px; margin-top: 25px; width: 189px; }
#start_advertising:hover { background-position: -189px 0; }

#stats { float: right; }

h2 { clear: both; }

.section { background: #f6f6f6; border-radius: 5px; box-shadow: inset 0 0 5px #C1C1C1; clear: both; float: left; margin-top: 49px; width: 477px; }
.section_right { clear: none; margin-left: 25px; }
.section img { float: left; margin: 15px 0 0 15px; }
.right { float: left; margin-left: 7px; width: 345px; }
.right h2 { margin-top: 18px; }
.right p { color: #919191; float: left; font-size: 14px; line-height: 19px; margin-top: 18px; width: 345px; }
.contact_us { background: url('/images/contact_us_sprite.png'); float: left; height: 36px; margin : 18px 0 18px 0; width: 122px; }
.contact_us:hover { background-position: -122px 0; }

/** screenshots **/

/** product info **/
#products { float: left; margin-top: 60px; width: 100%; }
.header_divider { background: #dfdfdf; float: left; height: 1px; width: 100%; }
#products h2 { font-size: 23px; margin: 13px 0 13px 0; }
#links { float: right; margin-top: 11px; }
.link_box { font-color: #fff; float: right; padding: 5px 18px 5px 18px; }
.link_box a { color: #9f9f9f; font-size: 17px; float: right; }
.selected { border-radius: 5px; background: #797979; }
.selected a { color: #fff; font-weight: bold; }
.details { display: none; float: left; margin-top: 28px; width: 465px}
.details h3 { font-size: 20px; }
.details p { float: left; font-size: 14px; line-height: 25px; margin-top: 18px; }
.screenshot { background: url('/images/products_screens_sprites.jpg') no-repeat; display: none; float: right; height: 239px; margin: 25px 0 25px 0; width: 467px; }
.marketplace { display: block; }
.marketplace_copy { display: block; }
.featured { background-position: 0 -239px; }
.banner { background-position: 0 -478px; }
.video { background-position: 0 -717px; }

.show { display: block; }

/** form **/

#contact_form { clear: both; }
#contact_form input, #contact_form label { font-size: 12px; margin-bottom: 5px; }
.content h2 { margin-top: 18px; }
.content p { color: #606060; float: left; font-size: 16px; line-height: 19px; margin: 12px 0 12px 0; width: 345px; }
#error { background: #fff; color: red; clear: both; margin: 0 0 10px 0; }
