#content { background: url('../images/home_content_bg.jpg') no-repeat; min-height: 490px; }

.appname { color: #fff; letter-spacing: .4px; text-shadow: 1px 1px 1px #212121; }
.company { color: #9c9c9c; font-size: 10px; }

#left, #right { margin-top: 104px; width: 284px; }
#left p, #right p { color: #606060; font: bold 19px 'myriad pro', 'Helvetica Neue', 'Helvetica', 'Arial'; margin-top: 36px; width: 100%; }

#left { float: left; text-align: right; }
#left .learn_more { float: right;  }
#middle { background: #fff; float: left; margin-top: 59px; }
#right { float: right; text-align: left; }
#right .learn_more { float: left; }

.learn_more { background: url('../images/learn_more_sprite.png'); height: 40px; margin-top: 36px; width: 143px; }
.learn_more:hover { background-position: -143px 0; height: 40px; width: 143px; }

#press_wrapper { background: url('../images/press_bg.png') repeat-x; height: 67px; width: 100%; }
#press { margin: 0px auto; width: 980px; }
#press img { float: left; }
#press a { float: left; margin: 22px 22px 0 22px; }

#clients_wrapper { width: 100%; }
#clients_holder { margin: 0px auto; width: 980px; }
#clients { float: left; margin-top: 35px; }
#clients .header { margin-bottom: 25px; }
#clients .on { background: url('../images/client_selected.png'); }
.client { float: left; font: bold 14px 'Helvetica Neue', 'Helvetica', 'Arial'; height: 52px; margin: 0 4px 15px 0; width: 192px; }
.client img { float: left; margin: 4px; }
.client .appname { float: left; margin-top: 10px; width: 138px; }
.client .company { float: left; }
.client, .client:hover { text-decoration: none; }

#quote { float: right; margin-top: 35px; width: 383px; height: 190px; }
#quote > div { display: none; }
#quote > div.show { display: block; }
#quote .header { margin-bottom: 25px;  }
.quote_content { background: url('../images/quote_bubble.png'); color: #fff; float: left; font: italic 16px Georgia, times; height: 69px; line-height: 22px; text-shadow: 1px 1px 1px #1E1E1E; width: 383px; }
.quote_content p { float: left; margin: 8px 0 0 15px; }
.view_case_study { background: url('../images/view_case_study.png'); float: left; height: 34px; margin-top: 14px; width: 152px; }
.view_case_study:hover { background-position: -152px 0; }
#byline { float: right; margin-top: 5px; width: 205px; }
#byline img { float: left; margin-right: 10px; }
#byline .appname { float: left; margin-top: 13px; width: 130px; }
#byline .company { float: left; margin-top: 5px; width: 130px; }

#footer_divider { background: url('../images/footer_divider.jpg') repeat-x; clear: both; float: left; height: 2px; margin-top: 43px; width: 980px; }
