table.with-border {
  border-collapse: collapse;
}
table.with-border td {
  border: 1px solid #888;
  padding: 2px;
}
table.with-border td.small {
  font-size: 12px;
}
.rewarded {
  background-color: #0d0;
}
.rewarded-failed {
  background-color: orange;
}
.not-rewarded {
  background-color: #644;
  color: #eee;
}
.blocked {
  background-color: #222;
  color: #eee;
}
.click-key-match {
  background-color: #8dbdd8;
}
.jailbroken {
  background-color: #d00;
  color: #eee;
}
.jailbroken a, .blocked a, .not-rewarded a {
  color: lightgray;
}
.more-apps, .more-clicks {
  display: none;
}
table.with-border ul.nobr li {
  white-space:nowrap;
}
