#main
  Thank you for completing the survey. You will receive your #{@click.currency_reward} #{@currency.name} shortly.
  
- content_for :page_styles do
  :plain
    #main {
      padding: 10px;
      color: #004E09;
      font-size: 85%;
      font-weight: bold;
      text-align: center;
    }
