body {
	font-size: 90%;
	font-family: "Helvetica", Arial, Helvetica, sans-serif;
	font-weight: normal;
}

input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
}
input::-webkit-input-placeholder {
  color: #ccc;
}

input:-moz-placeholder {
  color: #ccc;
}

input:placeholder {
  color: #ccc;
}

.text-center,
.center {
   text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.w25 {
  width: 25px;
}

.w50 {
  width: 50px;
}

.w64 {
  width: 64px;
}

.w75 {
  width: 75px;
}

.w100 {
  width: 100px;
}

.w125 {
  width: 125px;
}

.w150 {
  width: 150px;
}

.w175 {
  width: 175px;
}

.w190 {
  width: 190px;
}

.w200 {
  width: 200px;
}

.w225 {
  width: 225px;
}

.w250 {
  width: 250px;
}

.w275 {
  width: 275px;
}

.w300 {
  width: 300px;
}

.w350 {
  width: 350px;
}

.w370 {
  width: 370px;
}

.w400 {
  width: 400px;
}

.w425 {
  width: 425px;
}

.w450 {
  width: 450px;
}

.w475 {
  width: 475px;
}

.w500 {
  width: 500px;
}

.w535 {
  width: 535px;
}

.w550 {
  width: 550px;
}

.w575 {
  width: 575px;
}

.w600 {
  width: 600px;
}

.w650 {
  width: 650px;
}

.w740 {
  width: 740px;
}

.w750 {
  width: 750px;
}

.w775 {
  width: 775px;
}

.w800 {
  width: 800px;
}


.p1 {
  padding: 1px;
}

.pt1 {
  padding-top: 1px !important;
}

.pr1 {
  padding-right: 1px !important;
}

.pb1 {
  padding-bottom: 1px !important;
}

.pl1 {
  padding-left: 1px !important;
}

.p2 {
  padding: 2px;
}

.pt2 {
  padding-top: 2px !important;
}

.pr2 {
  padding-right: 2px !important;
}

.pb2 {
  padding-bottom: 2px !important;
}

.pl2 {
  padding-left: 2px !important;
}

.p3 {
  padding: 3px;
}

.pt3 {
  padding-top: 3px !important;
}

.pr3 {
  padding-right: 3px !important;
}

.pb3 {
  padding-bottom: 3px !important;
}

.pl3 {
  padding-left: 3px !important;
}

.p4 {
  padding: 4px;
}

.pt4 {
  padding-top: 4px !important;
}

.pr4 {
  padding-right: 4px !important;
}

.pb4 {
  padding-bottom: 4px !important;
}

.pl4 {
  padding-left: 4px !important;
}

.p5 {
  padding: 5px;
}

.pt5 {
  padding-top: 5px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.p10 {
  padding: 10px;
}

.pt10 {
  padding-top: 10px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.p15 {
  padding: 15px;
}

.pt15 {
  padding-top: 15px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.p20 {
  padding: 20px;
}

.pt20 {
  padding-top: 20px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.p25 {
  padding: 25px;
}

.pt25 {
  padding-top: 25px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.p30 {
  padding: 30px;
}

.pt30 {
  padding-top: 30px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.p40 {
  padding: 40px;
}

.pt40 {
  padding-top: 40px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pl40 {
  padding-left: 40px !important;
}

.p50 {
  padding: 50px;
}

.pt50 {
  padding-top: 50px !important;
}

.pr50 {
  padding-right: 50px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pl50 {
  padding-left: 50px !important;
}

.ptn {
  padding-top: 0 !important;
}

.prn {
  padding-right: 0 !important;
}

.pbn {
  padding-bottom: 0 !important;
}

.pln {
  padding-left: 0 !important;
}

.m1 {
  margin: 1px;
}

.mt1 {
  margin-top: 1px !important;
}

.mr1 {
  margin-right: 1px !important;
}

.mb1 {
  margin-bottom: 1px !important;
}

.ml1 {
  margin-left: 1px !important;
}

.m2 {
  margin: 2px;
}

.mt2 {
  margin-top: 2px !important;
}

.mr2 {
  margin-right: 2px !important;
}

.mb2 {
  margin-bottom: 2px !important;
}

.ml2 {
  margin-left: 2px !important;
}

.m3 {
  margin: 3px;
}

.mt3 {
  margin-top: 3px !important;
}

.mr3 {
  margin-right: 3px !important;
}

.mb3 {
  margin-bottom: 3px !important;
}

.ml3 {
  margin-left: 3px !important;
}

.m4 {
  margin: 4px;
}

.mt4 {
  margin-top: 4px !important;
}

.mr4 {
  margin-right: 4px !important;
}

.mb4 {
  margin-bottom: 4px !important;
}

.ml4 {
  margin-left: 4px !important;
}

.m5 {
  margin: 5px;
}

.mt5 {
  margin-top: 5px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.m10 {
  margin: 10px;
}

.mt10 {
  margin-top: 10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.m15 {
  margin: 15px;
}

.mt15 {
  margin-top: 15px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.m20 {
  margin: 20px;
}

.mt20 {
  margin-top: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.m30 {
  margin: 30px;
}

.mt30 {
  margin-top: 30px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.m40 {
  margin: 40px;
}

.mt40 {
  margin-top: 40px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.m50 {
  margin: 50px;
}

.mt50 {
  margin-top: 50px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.mtn {
  margin-top: 0 !important;
}

.mrn {
  margin-right: 0 !important;
}

.mbn {
  margin-bottom: 0 !important;
}

.mln {
  margin-left: 0 !important;
}

.mt35 {
  margin-top: 35px;
}

.mt70 {
  margin-top: 70px;
}

.mt90 {
  margin-top: 90px;
}

.ml140 {
  margin-left: 140px;
}

.ml150 {
  margin-left: 150px;
}

.b,
.bold {
  font-weight: bold;
}

.i,
.italic {
  font-style: italic;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.fixed {
  position: fixed;
}

.empty {
  color: #afafaf !important;
}

.auto-center {
  margin-left: auto;
  margin-right: auto;
}

.lh24 {
  line-height: 24px;
}

.lh20 {
  line-height: 20px;
}

.container {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}
