Our records indicate that your current earnings balance is #{number_to_currency(@earnings / 100.0)}.
In order for Tapjoy to pay you, you need to complete some information regarding
your tax identification and bank information. Please visit #{DASHBOARD_URL}#{payout_info_billing_path}
to complete this form.
