%h3=description
%table#recommendations_table.tablesorter
  %thead
    %tr
      %th App ID
      %th App Name
      - if @options[:with_weights] == 'true'
        %th weight
  %tbody{ :class => cycle('even', 'odd') }
    = render :partial => 'recommendation', :collection => recommendations
