%h2="Recommendations for #{recs_for}"
%table#recommendations_table.tablesorter
  %thead
    %tr
      %th App Name
      %th App ID
      - if collection.first.is_a? Array
        %th weight
  %tbody{ :class => cycle('even', 'odd') }
    = render :partial => 'recommendation', :collection => collection
