%h2=recommendations_header
%table#recommendations_table.tablesorter
  %thead
    %tr
      %th App ID
      %th App Name
      - unless @options[:with_weights].blank?
        %th weight
  %tbody{ :class => cycle('even', 'odd') }
    = render :partial => 'recommendation', :collection => recommendations
