.make_current
  - if current_partner == partner
    = submit_tag('Acting as this Partner', :disabled => true)
  - else
    - form_tag(make_current_partner_path(partner)) do
      = submit_tag('Act as this Partner')

- content_for :page_styles do
  :plain
    .make_current {
      margin: 10px;
      display: inline-block;
    }
