.radio_select
  - question.responses.each do |response|
    %span.radio_item
      = label_tag(response, response)
      - selected = response == params[question.id]
      = radio_button_tag(question.id, response, selected)
