<html>
<head>
  <style type='text/css'>
  body {
    overflow: auto;
    width: 320px;
    text-align: center;
    position:absolute;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -97px;
    font-size: 25px;
    font-family: arial;
  }
  </style>
</head>
<body>
Please click "Back" and then click "Open in Safari" to go to the App Store  
</body>
</html>