- @page_title = 'Payment Information'
= render :partial => 'actions'

.left-indented
  %h2 Payment Information
  %iframe.tipalti{ :src => current_partner.tipalti_payee_iframe_url('PayeeDashboard.aspx').html_safe }

- content_for :page_styles do
  :plain
    iframe.tipalti {
      border: none;
      margin-top: 15px;
      min-height: 700px;
      width: 100%;
    }
    .left-indented h2 {
      margin-bottom: 0;
    }
