%p Dear #{@username},
%p
  Thanks for signing up for our new Kontagent Premium Edition analytics package. With this offering,
  you will now gain deeper insights into your app’s performance allowing you to better monitor your
  user acquisition, engagement, and monetization metrics.
%p
  For next steps, Kontagent will reach out to you with self-service documentation to help you on-board
  and integrate this new offering.
%p If you have any questions, please reach out to us at integrations@tapjoy.com.
%p Get ready to dive deeper into your app’s metrics and improve performance!
%p Thanks,
%p Team Tapjoy
