%p Thanks for creating a Tapjoy Games account!

%p
  Please confirm your email address by clicking the following link.
  If the link doesn't work, just copy/paste it into your browser.

%p= link_to(@confirmation_link, @confirmation_link)

Thank you,
%br
Tapjoy Games
