%p Thanks for visiting Tapjoy!

%p
  %br
  %b To link your device to your Tapjoy, please visit the corresponding link for your device:
  %br
  %br
  %p
    %a{:href => @android_link}
      Android
    %small
      (#{@android_link})
  %br
  %p
    %a{:href => @ios_link}
      iOS
    %small
      (#{@ios_link})
  %br
  %br
%p
  If you have any questions please contact us at feedback@tapjoy.com and we’ll
  help you with what you need.
%br
%p Let the discovery begin!!

%p Team Tapjoy
