%p A request to reset your password has been made. If you did not make this request, simply ignore this email.

%p If you did make this request and still want to reset your password, click the following link or copy/paste it into your browser:

%p= link_to(@reset_link, @reset_link)

%p
  Please note that the link above is only good for 24 hours.
  Once it expires you will need to visit the login page and use
  the 'Forgot Password' link to have a new one emailed to you.

%p If you continue to have problems, please contact support by replying to this email.

Thank you,
%br
Tapjoy Games Support
