%p
  %h3
    Tapjoy Bug Report
  %div
    Email: #{ @email }
    %br
    Tapjoy Device ID: #{ @tapjoy_device_id }
    %br
    User Agent: #{ @user_agent }
    %br
    \-----------------------------------------------------------------
    %br

%p= @content
