// logged out view
.header-button {
  font-size: 1.4em;
  text-align: center;
  padding: 7px 40px 7px 20px;
  margin-bottom: 12px;
}
.menu-dropdown a {
  font-size: .8em;
}

#getting-started #signup {
  font-size: 1.3em;
}

@media screen and (max-width: 480px) {
  .phraseThatPays {
    font-size: 1em;
  }
}

@media screen and (max-width: 320px) {
  .phraseThatPays {
    font-size: 1em;
  }
}
>>>>>>> cb098afc4481f1c923e729dc3bfdcf1291d639df
