@media screen and (max-width: 480px) {
  .phraseThatPays {
    margin-top: 17px;
    font-size: 1.7em;
  }
}

@media screen and (max-width: 320px) {
  .phraseThatPays {
    margin-top: 20px;
    font-size: 1.1em;
  }
}
