%h1 Preview Experiment Offerwalls

- experiment_options = "<option></option>" + "<option value=\"featured\">Featured</option>" + options_for_select(@experiments.collect { |k, v| [ k.to_s.titleize + " (#{v})", v.to_s ] }, params[:id])
- form_tag('', :id => 'experiments-form') do
  %table
    %tr
      %td= label_tag 'experiments-list', 'Offers:'
      %td= select_tag 'experiments-list', experiment_options
      
- content_for :page_javascript do
  :plain
    $(function() {
      $('#experiments-list').change(function() {
        window.location = '#{preview_experiments_url}' + '/' + $('#experiments-list').val();
      });
    });