html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } 
table { border-collapse: collapse; border-spacing: 0; }
.web body, .ipad body {
    background: #434343 url('/images/games/bg.png');
}
.mobile body {
  background: #434343 url('/images/games/bg_mobile.png');
}
.mobile body .tan {
  background: #434343 url('/images/games/bg_tan.png');
  color: #605846;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 100%;
}
body .hd {
  background-size: 100%;
}
a, a:visited {
  text-decoration: none;
  color: #333;
}
#jqt {
  color: #FFF;
  opacity: 0.15;
  width: 100%;
  height: 100%;
}
.web #jqt .tan, .ipad #jqt .tan {
  background: #434343 url('/images/games/bg_tan.png');
  color: #605846;
}
.mobile #jqt .tan {
  background: #434343 url('/images/games/bg_tan_mobile.png');
  color: #605846;
} 
.web, .ipad, .android {
  font-size: 16px;
}
.ipod, .iphone, .android-phone {
  font-size: 14px;
}

/* Dialog */
.dialog_wrapper {
  background-color: #FFF;
  color: #FFF;
  opacity: 0.95;
  padding: 2px;
  position: absolute;
  text-align: center;
  z-index: 10;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 0 0 6px #555;
  -webkit-box-shadow: 0 0 6px #555;
  box-shadow: 0 0 6px #555;
}
.dialog {
  background-color: #222;
  color: #FFF;
  padding-top: 15px;
  z-index: 12;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.dialog_image {
  background: transparent url('/images/games/ajax_loader.png');
  height: 35px;
  margin: 10px auto;
  width: 35px;
  -webkit-transform: rotate(360deg);
  -webkit-animation-name: spin;
  -webkit-animation-duration: .8s;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes spin {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}
#loader.dialog_wrapper {
  width: 200px;
}
#loader.dialog_wrapper .dialog {
  height: 80px;
  padding: 30px;
}
#sign_up_dialog.dialog_wrapper, #bad_news.dialog_wrapper {
  width: 280px;
  z-index: 10;
}
#sign_up_dialog .dialog {
  height: 240px;
  z-index: 12;
}
#bad_news .dialog {
  height: 240px;
}
#sign_up_again a {
  color:#C1C1C1;
}
.dialog form#new_gamer {
  margin: 0 auto;
  padding:0 12px;
  text-align: left;
}
form#new_gamer input[type=text],
form#new_gamer input[type=email],
form#new_gamer input[type=password] {
  margin-top: 6px;
  padding: 4px;
  width: 244px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.dialog form#new_gamer .field_tos {
  margin-top: 8px;
}
.dialog form#new_gamer input[type=submit]{
  font-size: 12px;
}
.dialog form#new_gamer label, #form#new_gamer input {
  display: block;
  padding-top: 6px;
}
.dialog_title {
  font-size: 20px;
}
.dialog_header_left, .dialog_header_right {
  background:transparent url('/images/games/dialog_decoration.png') no-repeat;
  position: relative;
  height: 15px;
  top: 6px;
  width: 50px;
}         
.dialog_header_wrapper {
  padding: 0 36px;
}
.dialog_header_left {
  float: left;
}
.dialog_header_right {
  float: right;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}
.dialog_header {
  font-family: "Helvetica Neue", Helvetica; 
  font-size: 14px;
  margin: 10px 0; 
}
.dialog_content {
  font-size: 14px;
}
.close_dialog {
  
}
.close_button {
  background:transparent url('/images/games/close_btn.png') no-repeat;
  float: right;
  height: 36px;
  cursor: pointer;
  position: absolute;
  right: -15px;
  top: -15px;
  width: 36px;
}
#login_form, #signup_form {
  margin-top: 20px;
}
.mobile #login_form {
  margin-top: 8px;
  padding: 10px;
}
.login_header_wrapper {
  color: #6B5F54;
  font-size: 16px;
}
.login_header_wrapper a {
  color: #6B5F54;
}
.login_header {
  margin-bottom: 2px;
}
.circle {
  width: 90px;
}
.circle div {
  background-color: #FFF;
  float: left;
  height: 3px;
  margin-left: 3px;
  opacity: 0.1;
  width: 3px;
  -webkit-animation-name: circle_load;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -webkit-transform: scale(0.9);
}
.circle1 { 
  -webkit-animation-delay: 0.3s;
}
.circle2 {
 -webkit-animation-delay: 0.5s;
}
.circle3 {
 -webkit-animation-delay: 0.7s;
} 
@-webkit-keyframes circle_load {
  0%{opacity: 1;}
  100%{opacity: 0.1;}
}
.dialog_loader .circle {
  position: relative;
  top: 16px;
}

/* Nav */
.top_nav_bar {
  background: #333333 url('/images/games/nav_bar.png') repeat-x;
  color: #FFF;
  height: 26px;
  width: 100%;
}
.top_nav_bar a {
  color: #FFF;
}
.web .top_nav_bar .nav_content, .ipad .top_nav_bar .nav_content {
  padding: 4px 16px;
}
.mobile .top_nav_bar .nav_content {
  padding: 4px 4px;
}
.mobile .top_nav_bar .nav_content div {
  margin-left: 10px;
}              
.mobile .top_nav_bar .nav_content div {
 margin-left: 10px;   
}  
.web .page, .ipad .page, .android .page {
  background: transparent url('/images/games/header_bg_web.png') repeat-x;
}
.web #jqt .tan .page, .ipad #jqt .tan .page {
  background: transparent url('/images/games/header_bg_web_tan.png') repeat-x; 
}
.mobile .page, .ipod .page {
  background: transparent url('/images/games/header_bg_mobile.png') repeat-x;  
}
.mobile #jqt .tan .page {
  background: transparent url('/images/games/header_bg_mobile_tan.png') repeat-x;
}       
.mobile #jqt .tan .page.no_top_nav_bar {
  background: transparent url('/images/games/header_bg_mobile_tan.png') 0 -28px repeat-x;
}
.web .logo, .ipad .logo {
  background: transparent url('/images/games/logo_bg_web.png') no-repeat;
  height: 280px;                         
  margin: 0 auto;
  width: 640px;
}
.mobile .logo, .mobile.portrait .logo {
  background: transparent url('/images/games/logo_bg_mobile.png') no-repeat;
  height: 120px;                         
  margin: 0 auto;
  width: 320px;
}
.mobile.hd.portrait .logo {
  background: transparent url('/images/games/logo_bg_mobile_hd_p.png') no-repeat;
  background-size: 100%;
  margin: 0 auto;
  width: 100%;
}
.mobile.hd.landscape .logo {
  background: transparent url('/images/games/logo_bg_mobile_hd_l.png') no-repeat;
  background-size: 100%;
  margin: 0 auto;
  width: 100%;
}
.slide_nav {
  position: relative;
}
.web .slide_nav, .ipad .slide_nav {
  padding: 0 20px;
  top: 180px;
}
.mobile .slide_nav {
  padding: 0 6px;
  top: 70px;
} 
.slide_nav, .slide_nav a {
  color: #605846;
}
.web .slide_nav div, .ipad .slide_nav div {
  border: 1px solid #CEB896;
  padding: 12px 10px 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
}
.mobile .slide_nav div {
  border: 1px solid #CEB896;
  padding: 4px 4px 6px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
}
.slide_nav div.slider_active {
  background: transparent url('/images/games/bg_tan.png');
}
.mobile .slide_nav .title, .mobile .slide_nav a.title {
  font-size: 12px;
}  
.mobile .slide_nav .title.small, .mobile .slide_nav a.title.small {
  font-size: 11px;
}
/* Content */
.web .content, .ipad .content {
  color: #FFF;
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px 40px; 
}
.mobile .content {
  color: #FFF;
  margin: 0 auto; 
  min-height: 320px;
} 
.content a {
  color: #FFF;
}
.web .content.narrow, .ipad .content.narrow {
  max-width: 600px;
}
.mobile .content.narrow {
  padding: 0;
}  
.mobile .content {
  margin: 0 auto;
  padding: 20px 2px;
} 
.mobile .content {
  padding: 6px;
}
.web #earn_paper, .ipad #earn_paper {
  background: transparent url('/images/games/earn_paper_web.png') no-repeat;
  height: 208px;
  margin: 0 auto;
  width: 616px;
}
.mobile #earn_paper {
  background: transparent url('/images/games/earn_paper_mobile.png') no-repeat;
  height: 104px;
  margin: 0 auto;
  width: 308px;
}
.mobile #earn_content {
  padding: 0 6px 0 10px;
  position: relative;
  top: 70px;
}
.web #earn_content, .ipad #earn_content {
  padding: 0 12px 0 20px;
  position: relative;
  top: 140px;
}
.earn_title {
  cursor: pointer;
  font-size: 14px;
  font-weight: bold; 
  -webkit-transform: rotate(-1deg);	
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  transform: rotate(-1deg);
}
.web .earn_title {
  font-size: 20px;
}
.sign_up a {
  color: #2F8AA4;
}
.how_works a {
  color: #A87376;
}
.underline {
  height: 100%;
  position: relative;
  padding: 0 4px;
  overflow: visible;
}
.underline_blue {
  background-image: url('/images/games/underline_blue.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;     
  height: 100%;
  position: absolute;
  overflow: visible; 
  left: 0px;
  line-height: 105%;
  margin-left: 2px;
  padding-bottom: 6px;
  width: 95%;
}
.content_box {
  background-color: #FFF;
  border: 1px solid #CEC7B1;
  color: #7E7E7E;
  padding: 2px 0;
  width: 100%;
  z-index: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 2px 2px #AEA693;
  -webkit-box-shadow: 0px 2px 2px #AEA693; 
}
.web .content_box_top_arrow {
  background: transparent url('/images/games/content_box_top_arrow.png') repeat-x;
  display: block;
  height: 15px;
  position: relative;
  margin-top: 6px;
  left: 24px;
  top: 2px;
  width: 31px;
}
.mobile .content_box_top_arrow_wrapper {
  height: 9px;
  left: 28px;
  overflow-y: hidden;
  position: relative;
  top: 1px;
  padding:0 1px; 
}
.mobile .content_box_top_arrow {
  background-color: #FFF;
  border: 1px solid #CEC7B1;
  height: 12px;
  display: block;
  position: relative;
  top: 2px;
  width: 12px;
  z-index: 2;
  -webkit-transform: rotate(45deg);
}
a.forgot_pass {
  color: #6B5F54;
  font-size: 11px;
  position: relative;
  top: 1px;
}
form#new_gamer input[type=text]{}
form#new_gamer input#gamer_terms_of_service {  
  float: left;
  position: relative;
  top: 6px;
}
form#new_gamer label[for=gamer_terms_of_service] {
  float: left;
  font-size: 10px;
  width: 150px;
}  
.moble form#new_gamer_session {
  color: #7E7E7E;
  font-size: 12px;
}
.web form#new_gamer_session, .ipad form#new_gamer_session{
  color: #7E7E7E;
  font-size: 14px;
  padding: 12px 0;
}
form#new_gamer_session input[type=text],
form#new_gamer_session input[type=email],
form#new_gamer_session input[type=password]  {
  border: none;
  font-size: 12px;
  padding: 6px;
  outline: none; 
  -webkit-appearance: none;
}
form#new_gamer_session label {
    padding: 0 10px;
}
form#new_gamer_session .login_pass label {
  padding: 0 0 0 10px;
}
form#new_gamer_session .login_pass input[type=submit] {
  position: relative;
  top: 3px;
  left: -4px;
}  
form#new_gamer_session .login_email {
  border-bottom: 1px solid #DEDEDE;
}
.iphone form#new_gamer_session .login_btn, .ipod form#new_gamer_session .login_btn, .android-phone form#new_gamer_session .login_btn  {
  margin-left: 180px;
}
#sign_up_form {
  padding: 12px 0px 24px 12px;
}
#sign_up_form .sign_first_timer {
  font-family: "Helvetica Neue", Helvetica; 
  color: #605846;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}
.sign_up_button {
  margin: 6px auto;
  width: 140px;
}
.mobile .sign_up_button.button.lt_blue {
  font-size: 16px;
  padding: 10px 0 6px;
} 
/* Offer */    
.offer_item {
  border-bottom: 1px solid #5B5B5B;
  min-height: 60px;
  padding: 6px 0;
  width: 100%;
  -moz-box-shadow: inset 0 -1px #333333;
  -webkit-box-shadow: inset 0 -1px #333333;
}
.offer_image {
  background: #FFF;
  float: left;
  margin-right: 12px;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 0 4px #222;
  -webkit-box-shadow: 0px 2px 4px #222;
  box-shadow: 0px 2px 4px #222;
}
.mobile .offer_image {
  margin-right: 6px;
}
.offer_image, .offer_image.small {
  height: 57px;
  width: 57px;
}
.offer_text {
  float: left;
}
.offer_info {
  float: left;
  text-overflow: ellipsis;
}
.offer_title {
  font-size: 18px;
  padding-top: 6px;
}
.mobile .offer_title {
  font-size: 12px;
}    
.offer_button {
  float: left;
  margin-right: 6px;
  padding-top: 4px;
}
.button {
  border-radius: 8px;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 10px 8px 10px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #000F4D;
  white-space: nowrap;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.button.blue {
  background: #2F477D;
  background: -moz-linear-gradient(top, #1d81e9 0%, #0c62ba 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #1d81e9), color-stop(1, #0c62ba));
  text-shadow: 0 -1px 1px #000F4D;
  -moz-box-shadow: 0 0 4px #222;
  -webkit-box-shadow: 0px 0 4px #222;
}
.mobile .button.blue {
  font-size: 12px;
}
.offer_button .button.blue a {
  color: #FFF;
}
.button.blue a:hover, .button.blue a:active, .button.blue a:visited {
  color: #3f3f3f;
  text-shadow: none;
} 
.button.blue span.amount {
}
.button.blue:hover, .button.blue:active {
  background: -moz-linear-gradient(top, #E6E6E6 0%, #C4C4C4 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #E6E6E6), color-stop(1, #C4C4C4));
  color: #3f3f3f;
  cursor: pointer;
  text-shadow: none;
}
.button.lt_blue {
  background: #40A7C0;
  background: -moz-linear-gradient(top, #40A7C0 0%, #218BAD 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #40A7C0), color-stop(1, #218BAD));
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 12px 5px;
  text-shadow: 0 -1px 1px #1F81A0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.mobile .button.lt_blue {
  font-size: 12px;
} 
.button.m_width {
  padding: 6px 10px 7px 10px;
} 
.button.lt_blue a {
  color: #FFF;
}
.button.lt_blue:hover {
  background: #52A9BF;
  background: -moz-linear-gradient(top, #52A9BF 0%, #3490AD 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #52A9BF), color-stop(1, #3490AD)); 
  cursor: pointer;
}
.button.lt_blue:active {
  -moz-box-shadow: inset 0 0 20px 0 #40A7C0;
  -webkit-box-shadow: inset 0 0 20px 0 #40A7C0;
  box-shadow: inset 0 0 20px 0 #40A7C0;
  cursor: pointer;
}
.title {
  font-family: 'Cooper Std';
}
.title_2 {
  font-family: 'AmerType Md BT';
}
h1 {
  font-size: 22px;
}
h2.title {
  font-size: 16px;
}  
.right {
  float: right;
}
.left {
  float: left;
}
.hide {
  display: none;
}
.block {
  display: block;
}
.bold {
  font-weight: bold;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}
#jqt {
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  bottom: 0;
  font-family: "Helvetica Neue", Helvetica;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
#jqt .selectable, #jqt input, #jqt textarea {
  -webkit-user-select: auto;
}
#jqt.notransform {
  -webkit-transform: none !important;
}
#jqt > * {
  -webkit-box-sizing: border-box;
  display: none;
  left: 0;
  min-height: 100%;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  z-index: 0;
}
#jqt > .current {
  display: block !important;
  z-index: 10;
}
#jqt .in, #jqt .out {
  -webkit-animation-duration: 250ms;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
}
#jqt .in {
  z-index: 10;
}
#jqt .out {
  z-index: 0 !important;
}
#jqt.supports3d {
  -webkit-perspective: 800;
  -webkit-transform-style: preserve-3d;
}
#jqt.supports3d > * {
  -webkit-transform: translate3d(0,0,0) rotate(0) scale(1);
}
/* Fade */
#jqt .fade.in {
  -webkit-animation-name: fadeIn;
}

#jqt .fade.out {
  -webkit-animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  } 
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  } 
  100% {
    opacity: 0;
  }
}
#jqt .dissolve.in {
  -webkit-animation-name: dissolveIn;
}

#jqt .dissolve.out {
  -webkit-animation-name: dissolveOut;
}

@-webkit-keyframes dissolveIn {
  0% {
    opacity: 0;
  } 
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes dissolveOut {
  0% {
    opacity: 1;
  } 
  100% {
    opacity: 0;
  }
}
#jqt .pop.in {
  -webkit-animation-name: popIn;
}
#jqt .pop.out {
  -webkit-animation-name: popOut;
}
@-webkit-keyframes popIn {
  0% {
    -webkit-transform: scale(.2);
    opacity: 0;
  } 
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes popOut {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  } 
  100% {
    -webkit-transform: scale(.2);
    opacity: 0;
  }
}
#jqt .slideleft.in {
  -webkit-animation-name: slideLeftIn;
}

#jqt .slideleft.out {
  -webkit-animation-name: slideLeftOut;
}
@-webkit-keyframes slideLeftIn {
  0% {
    -webkit-transform: translateX(100%);
  } 
  100% {
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes slideLeftOut {
  0% {
    -webkit-transform: translateX(0px);
  } 
  100% {
    -webkit-transform: translateX(-100%);
  }
}
#jqt .slideright.in {
  -webkit-animation-name: slideRightIn;
}
#jqt .slideright.out {
  -webkit-animation-name: slideRightOut;
}
@-webkit-keyframes slideRightIn {
  0% {
    -webkit-transform: translateX(-100%);
  } 
  100% {
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes slideRightOut {
  0% {
    -webkit-transform: translateX(0);
  } 
  100% {
    -webkit-transform: translateX(100%);
  }
}
#jqt .slideup.in {
  z-index: 10;
  -webkit-animation-name: slideUpIn;
}
#jqt .slideup.out {
  z-index: 0;
  -webkit-animation-name: slideUpOut;
}
@-webkit-keyframes slideUpIn {
  0% {
    -webkit-transform: translateY(100%);
  } 
  100% {
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes slideUpOut {
  0% {
    -webkit-transform: translateY(0);
  } 
  100% {
    -webkit-transform: translateY(0);
  }
}
#jqt .slidedown.in {
  z-index: 0;
  -webkit-animation-name: slideDownIn;
}
#jqt .slidedown.out {
  z-index: 10;
  -webkit-animation-name: slideDownOut;
}
@-webkit-keyframes slideDownIn {
  0% {
    -webkit-transform: translateY(0);
  } 
  100% {
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes slideDownOut {
  0% {
    -webkit-transform: translateY(0);
  } 
  100% {
    -webkit-transform: translateY(100%);
  }
}
#jqt .flipleft {
  -webkit-backface-visibility: hidden;
}
#jqt .flipleft.in {
  -webkit-animation-name: flipLeftIn;
}
#jqt .flipleft.out {
  -webkit-animation-name: flipLeftOut;
}
@-webkit-keyframes flipLeftIn {
  0% {
    -webkit-transform: rotateY(180deg) scale(.8);
  } 
  100% {
    -webkit-transform: rotateY(0deg) scale(1);
  }
}
@-webkit-keyframes flipLeftOut {
  0% {
    -webkit-transform: rotateY(0deg) scale(1);
  } 
  100% {
    -webkit-transform: rotateY(-180deg) scale(.8);
  }
}
#jqt .flipright {
  -webkit-backface-visibility: hidden;
}
#jqt .flipright.in {
  -webkit-animation-name: flipRightIn;
}
#jqt .flipright.out {
  -webkit-animation-name: flipRightOut;
}
@-webkit-keyframes flipRightIn {
  0% {
    -webkit-transform: rotateY(-180deg) scale(.8);
  } 
  100% {
    -webkit-transform: rotateY(0deg) scale(1);
  }
}
@-webkit-keyframes flipRightOut {
  0% {
    -webkit-transform: rotateY(0deg) scale(1);
  } 
  100% {
    -webkit-transform: rotateY(180deg) scale(.8);
  }
}
#jqt .swapright {
  -webkit-animation-duration: .7s;
  -webkit-transform: perspective(800);
  -webkit-animation-timing-function: ease-out;
}
#jqt .swapright.in {
  -webkit-animation-name: swapRightIn;
}
#jqt .swapright.out {
  -webkit-animation-name: swapRightOut;
}
@-webkit-keyframes swapRightIn {
  0% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotateY(70deg);
    opacity:0;
  }
  35% {
    -webkit-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
    opacity:1;
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
    opacity:1;
  }
}
@-webkit-keyframes swapRightOut {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
    opacity:1;
  }
  35% {
    -webkit-transform:  translate3d(180px, 0px, -400px) rotateY(-20deg);
    opacity:.5;
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
    opacity:0;
  }
}
#jqt .swapleft {
  -webkit-animation-duration: .7s;
  -webkit-transform: perspective(800);
  -webkit-animation-timing-function: ease-out;
}
#jqt .swapleft.in {
  -webkit-animation-name: swapLeftIn;
}
#jqt .swapleft.out {
  -webkit-animation-name: swapLeftOut;
}
@-webkit-keyframes swapLeftIn {
  0% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
    opacity:0;
  }
  35% {
    -webkit-transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
    opacity:1;
  }
  100% {
    opacity:1;
    -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
  }
}
@-webkit-keyframes swapLeftOut {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
    opacity:1;
  }
  35% {
    -webkit-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
    opacity:.5;
  }
  100% {
    -webkit-transform:  translate3d(0px, 0px, -800px) rotateY(70deg);
    opacity:0;
  }
}
#jqt .cubeleft {
  -webkit-animation-duration: .55s;
}
#jqt .cubeleft.in {
  -webkit-transform-origin: 100% 50%;
  -webkit-animation-name: cubeLeftIn;
}
#jqt .cubeleft.out {
  -webkit-transform-origin: 0% 50%;
  -webkit-animation-name: cubeLeftOut;  
}
@-webkit-keyframes cubeLeftIn {
  0% {
    -webkit-transform: rotateY(90deg) translateZ(100%) scale(.5);
    opacity: .5;
  }
  100% {
    -webkit-transform: rotateY(00deg) translateZ(0) scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes cubeLeftOut {
  0% {
    -webkit-transform: rotateY(0deg) translateX(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(-90deg) translateZ(100%) scale(.5);
    opacity: .5;
  }
}
#jqt .cuberight {
  -webkit-animation-duration: .55s;
}
#jqt .cuberight.in {
  -webkit-transform-origin: 0% 50%;
  -webkit-animation-name: cubeRightIn;
}
#jqt .cuberight.out {
  -webkit-transform-origin: 100% 50%;
  -webkit-animation-name: cubeRightOut;  
}
@-webkit-keyframes cubeRightIn {
  0% {
    -webkit-transform: rotateY(-90deg) translateZ(100%) scale(.5);
    opacity: .5;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateZ(0) scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes cubeRightOut {
  0% {
    -webkit-transform: rotateY(0deg) translateX(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(90deg) translateZ(100%) scale(.5);
    opacity: .5;
  }
}
