html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } 
table { border-collapse: collapse; border-spacing: 0; }
body {
  background: #434343 url('../../images/games/bg.png');
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 100%;
}
body .hd {
  background-size: 100%;
}
a, a:visited {
  text-decoration: none;
  color: #333333;
}
#jqt {
  color: #FFFFFF;
  opacity: 0.15;
  width: 100%;
  height: 100%;
}
#jqt .tan {
  background: #434343 url('../../images/games/bg_tan.png');
  color: #605846;
}
.web, .ipad, .android {
  font-size: 16px;
}
.ipod, .iphone, .android-phone {
  font-size: 14px;
}

/* Dialog */
.dialog_wrapper {
  background-color: #FFFFFF;
  color: #FFFFFF;
  opacity: 0.95;
  padding: 2px;
  position: absolute;
  text-align: center;
  z-index: 10;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 0 0 6px #555555;
  -webkit-box-shadow: 0 0 6px #555555;
  box-shadow: 0 0 6px #555555;
}
.dialog {
  background-color: #222222;
  color: #FFFFFF;
  padding: 30px;
  z-index: 12;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.dialog_image {
  background: transparent url('../../images/games/ajax_loader.png');
  height: 35px;
  margin: 10px auto;
  width: 35px;
  -webkit-transform: rotate(360deg);
  -webkit-animation-name: spin;
  -webkit-animation-duration: .8s;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes spin {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}
#loader.dialog_wrapper {
  width: 200px;
}
#loader.dialog {
  height: 200px;
}
#sign_up_dialog.dialog_wrapper, #bad_news.dialog_wrapper {
  margin: 0px 10%;
  top: 30%;
  width: 80%;
  z-index: 10;
}
#sign_up_dialog .dialog {
  height: 200px;
  z-index: 12;
}
#bad_news .dialog {
  height: 200px;
}
.web #sign_up_dialog.dialog_wrapper {
  margin: 0px 30%;
  top: 30%;
  width: 40%;
  z-index: 10;
}
#sign_up_dialog .dialog {
  height: 240px;
  z-index: 12;
}
.dialog form#new_gamer input[type=text], form#new_gamer input[type=password] { 
  padding: 4px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.dialog form#new_gamer {
  margin: 0 auto;
  text-align: left;
  width: 240px;
}
.dialog form#new_gamer label, #form#new_gamer input {
  display: block;
  padding-top: 6px;
}
.dialog_title {
  font-size: 20px;
}
.dialog_header {
  font-size: 16px;
  margin: 10px 0; 
}
.dialog_content {
  font-size: 14px;
}
.close_button {
  background:transparent url('../../images/games/close_btn.png') no-repeat;
  float: right;
  height: 36px;
  cursor: pointer;
  position: relative;
  top: -30px;
  left: 16px;
  width: 36px;
}
#login_form, #signup_form {
  margin-top: 20px;
}
.iphone #login_form, .ipod #signup_form {
  margin-top: 20px;
  padding: 10px;
}
.login_header {
  font-size: 16px;
}
.circle {
  margin: 12px auto 0;
  width: 90px;
}
.circle div {
  background-color: #FFFFFF;
  float: left;
  height: 12px;
  margin-left: 8px;
  opacity: 0.1;
  width: 12px;
  -webkit-animation-name: circle_load;
  -webkit-border-radius: 4px;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -webkit-transform: scale(0.9);
}
.circle1 { 
  -webkit-animation-delay: 0.3s;
}
.circle2 {
 -webkit-animation-delay: 0.4s;
}
.circle3 {
 -webkit-animation-delay: 0.5s;
}
.circle4 {
 -webkit-animation-delay: 0.6s;
}   
@-webkit-keyframes circle_load {
  0%{-webkit-transform: scale(1.1); opacity: 1;}
  100%{-webkit-transform: scale(0.9); opacity: 0.1;}
}

/* Nav */
.top_nav_bar {
  background: #333333 url('../../images/games/nav_bar.png') repeat-x;
  color: #FFFFFF;
  height: 26px;
  width: 100%;
}
.top_nav_bar a {
  color: #FFFFFF;
}
.web .top_nav_bar .nav_content, .ipad .top_nav_bar .nav_content {
  padding: 4px 16px;
}
.ipod .top_nav_bar .nav_content, .iphone .top_nav_bar .nav_content, .android-phone .top_nav_bar .nav_content {
  padding: 4px 4px;
}
.web .top_nav_bar .nav_content div, .ipad .top_nav_bar .nav_content div {
  margin-left: 10px;
}              
.ipod .top_nav_bar .nav_content div, .iphone .top_nav_bar .nav_content div, .android-phone .top_nav_bar .nav_content div {
 margin-left: 10px;   
}  
.web .page, .ipad .page, .android .page {
  background: transparent url('../../images/games/header_bg_web.png') repeat-x;
}
.web #jqt .tan .page, .ipad #jqt .tan .page, .android #jqt .tan .page, #jqt .tan .page {
  background: transparent url('../../images/games/header_bg_web_tan.png') repeat-x; 
}
.iphone .page, .ipod .page, .android-phone .page {
  background: transparent url('../../images/games/header_bg_mobile.png') repeat-x;  
}
.ipod #jqt .tan .page, .iphone #jqt .tan .page, .android-phone #jqt .tan .page {
  background: transparent url('../../images/games/header_bg_mobile_tan.png') repeat-x;
}       
.ipod #jqt .tan .page.no_top_nav_bar, .iphone #jqt .tan .page.no_top_nav_bar, .android-phone #jqt .tan .page.no_top_nav_bar {
  background: transparent url('../../images/games/header_bg_mobile_tan.png') 0 -28px repeat-x;
}
.web .logo, .ipad .logo, .android .logo {
  background: transparent url('../../images/games/logo_bg_web.png') no-repeat;
  height: 280px;                         
  margin: 0 auto;
  width: 640px;
}
.ipod .logo, .iphone .logo, .ipod.portrait .logo, .iphone.portrait .logo {
  background: transparent url('../../images/games/logo_bg_mobile.png') no-repeat;
  height: 120px;                         
  margin: 0 auto;
  width: 320px;
}
.ipod.hd.portrait .logo, .iphone.hd.portrait .logo {
  background: transparent url('../../images/games/logo_bg_mobile_hd_p.png') no-repeat;
  background-size: 100%;
  margin: 0 auto;
  width: 100%;
}
.ipod.hd.landscape .logo, .iphone.hd.landscape .logo {
  background: transparent url('../../images/games/logo_bg_mobile_hd_l.png') no-repeat;
  background-size: 100%;
  margin: 0 auto;
  width: 100%;
}
.slide_nav {
  position: relative;
}
.web .slide_nav, .ipad .slide_nav {
  padding: 0 20px;
  top: 180px;
}
.iphone .slide_nav, .ipod .slide_nav {
  padding: 0 6px;
  top: 70px;
} 
.slide_nav, .slide_nav a {
  color: #605846;
}
.web .slide_nav div, .ipad .slide_nav div {
  border: 1px solid #CEB896;
  padding: 12px 10px 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
}
.iphone .slide_nav div, .ipod .slide_nav div {
  border: 1px solid #CEB896;
  padding: 4px 4px 6px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
}
.slide_nav div.slider_active {
  background: transparent url('../../images/games/bg_tan.png');
}
.iphone .slide_nav .title, .ipod .slide_nav .title,.iphone .slide_nav a.title, .ipod .slide_nav a.title {
  font-size: 12px;
}  
.iphone .slide_nav .title.small, .ipod .slide_nav .title.small,.iphone .slide_nav a.title.small, .ipod .slide_nav a.title.small {
  font-size: 11px;
}
                     
/* Content */
.web .content, .ipad .content {
  color: #FFFFFF;
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px 40px; 
}
.iphone .content, .ipod .content {
  color: #FFFFFF;
  margin: 0 auto; 
  min-height: 320px;
} 
.content a {
  color: #FFFFFF;
}
.web .content.narrow, .ipad .content.narrow {
  max-width: 600px;
}
.iphone .content.narrow, .ipod .content.narrow {
  padding: 0;
}  
.ipod .content, .iphone .content, #android-phone .content {
  margin: 0 auto;
  padding: 20px 2px;
} 
.ipod .content, .iphone .content, .android-phone .content {
  padding: 6px;
}
.ipod .tan .content, .iphone .tan .content, #android-phone .tan .content {
}
.web #earn_paper, .ipad #earn_paper {
  background: transparent url('../../images/games/earn_paper_web.png') no-repeat;
  height: 208px;
  margin: 0 auto;
  width: 616px;
}
.iphone #earn_paper, .ipod #earn_paper {
  background: transparent url('../../images/games/earn_paper_mobile.png') no-repeat;
  height: 104px;
  margin: 0 auto;
  width: 308px;
}   
.earn_title {
  cursor: pointer;
  font-size: 14px;
  font-weight: bold; 
  -webkit-transform: rotate(-1deg);	
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  transform: rotate(-1deg);
}
.web .earn_title {
  font-size: 20px;
}
.sign_up a {
  color: #2F8AA4;
}
.how_works a {
  color: #A87376;
}
.underline {
  height: 100%;
  position: relative;
  padding-right: 14px;
  overflow: visible;
}
.underline_blue {
  background-image: url('../../images/games/underline_blue.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;     
  height: 100%;
  position: absolute;
  overflow: visible; 
  left: 0px;
  line-height: 105%;
  margin-left: -8px;
  padding-bottom: 5px;
  width: 105%;
}
.content_box {
  background-color: #FFFFFF;
  border: 1px solid #CEC7B1;
  color: #7E7E7E;
  padding: 10px 0;
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 2px 2px #AEA693;
  -webkit-box-shadow: 0px 2px 2px #AEA693; 
}
.content_box_top_arrow {
  background: transparent url('../../images/games/content_box_top_arrow.png') repeat-x;
  display: block;
  height: 15px;
  position: relative;
  margin-top: 6px;
  left: 30px;
  top: 2px;
  width: 31px;
}
form#new_gamer_session input[type=text], form#new_gamer_session input[type=password]  {
  border: none;
  padding: 6px;
  margin: 4px 0;
  outline: none; 
  -webkit-appearance: none;
}
form#new_gamer_session label {
    padding: 0 10px;
}
form#new_gamer_session .login_pass label {
  padding: 0 0 0 10px;
}
form#new_gamer_session .login_pass input[type=submit] {
  position: relative;
  top: 3px;
  left: -4px;
}  
form#new_gamer_session .login_email {
  border-bottom: 1px solid #DEDEDE;
}
.iphone form#new_gamer_session .login_btn, .ipod form#new_gamer_session .login_btn, .android-phone form#new_gamer_session .login_btn  {
  margin-left: 180px;
} 
a.forgot_pass {
  font-size: 12px;
  position: relative;
  top: 3px;
}

/* Offer */  
.offer_item {
  border-bottom: 1px solid #5B5B5B;
  min-height: 60px;
  padding: 6px 0 4px;
  -moz-box-shadow: inset 0 -1px #333333;
  -webkit-box-shadow: inset 0 -1px #333333;
  box-shadow: inset 0 -1px #333333; 
}
.offer_image {
  background: #FFFFFF;
  float: left;
  margin-right: 12px;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 0 4px #222222;
  -webkit-box-shadow: 0px 2px 4px #222222;
  box-shadow: 0px 2px 4px #222222;
}
.ipod .offer_image, .iphone .offer_image {
  margin-right: 6px;
}
.offer_image, .offer_image.small {
  height: 57px;
  width: 57px;
}
.offer_info {
  float: left;
  padding-top: 6px;
  text-overflow: ellipsis;
}
.offer_title {
  font-size: 18px;
  padding-top: 6px;
}
.ipod .offer_title, .iphone .offer_title, .android-phone .offer_title {
  font-size: 12px;
}    
.offer_button {
  float: right;
  padding-top: 6px;
}
.button.blue {
  background: #2F477D;
  background: -moz-linear-gradient(top, #1d81e9 0%, #0c62ba 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #1d81e9), color-stop(1, #0c62ba));
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 0 8px 0;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #000F4D;
  width: 120px; 
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-box-shadow: 0 0 4px #222222;
  -webkit-box-shadow: 0px 0 4px #222222;    
}
.ipod  .button.blue, .iphone .button.blue, .android-phone .button.blue {
  font-size: 12px;
  width: 80px;
}
.offer_button .button.blue a {
  color: #FFFFFF;
}
.button.blue a:hover, .button.blue a:active, .button.blue a:visited {
  color: #3f3f3f;
  text-shadow: none;
} 
.button.blue span.amount {
}
.button.blue:hover, .button.blue:active {
  background: -moz-linear-gradient(top, #e6e6e6 0%, #c4c4c4 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #e6e6e6), color-stop(1, #c4c4c4));
  color: #3f3f3f;
  cursor: pointer;
  text-shadow: none;
}
.button.lt_blue {
  background: #2F477D;
  background: -moz-linear-gradient(top, #40A7C0 0%, #218BAD 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #40a7c0), color-stop(1, #218BAD));
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0 6px 0;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #1F81A0;
  width: 120px; 
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.ipod .button.lt_blue, .iphone .button.lt_blue, .android-phone .button.lt_blue {
  font-size: 12px;
  width: 80px;
}
.button.lt_blue a {
  color: #FFFFFF;
}
.button.lt_blue:hover {
  background: #48a5bd;
  background: -moz-linear-gradient(top, #52a9bf 0%, #3490ad 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #52a9bf), color-stop(1, #3490ad)); 
  cursor: pointer;
}
.button.lt_blue:active {
  -moz-box-shadow: inset 0 0 20px 0 #40A7C0;
  -webkit-box-shadow: inset 0 0 20px 0 #40A7C0;
  box-shadow: inset 0 0 20px 0 #40A7C0;
  cursor: pointer;
}

.title {
  font-family: 'Cooper Std';
}
.title_2 {
  font-family: 'AmerType Md BT';
}
h1.title {
  font-size: 16px;
}  
.right {
  float: right;
}
.left {
  float: left;
}
.hide {
  display: none;
}
.block {
  display: block;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}