html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } 
table { border-collapse: collapse; border-spacing: 0; }
body {
  background: #434343 url('../../images/games/bg.png');
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  min-height: 316px;
}
body .hd {
  background-size: 100%;
}
a, a:visited {
  text-decoration: none;
}
#jqt {
  color: #FFFFFF;
  width: 100%;
  opacity:0.15;
}
#jqt.tan {
  color: #605846;
}
.web, .ipad, .android {
  font-size: 16px;
}
.ipod, .iphone, .android-phone {
  font-size: 14px;
}
#loader {
  background-color: #C1C1C1;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  margin: 0px 20%;
  opacity: 1;
  padding: 4px;
  position: absolute;
  opacity: 0.8;
  top: 45%;
  width: 60%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 6px;
}

#progress {
  background-color: #222222;
  height: 60px;
  padding-top: 10px;
  text-align: center;
  z-index: 10;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#circle {
  margin: 12px auto 0;
  width: 90px;
}
#circle div {
  background-color: #FFFFFF;
  float: left;
  height: 12px;
  margin-left: 8px;
  opacity: 0.1;
  width: 12px;
  -webkit-animation-name: circle_load;
  -webkit-border-radius: 4px;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -webkit-transform: scale(0.9);
}
#circle1 { 
  -webkit-animation-delay: 0.3s;
}
#circle2 {
 -webkit-animation-delay: 0.4s;
}
#circle3 {
 -webkit-animation-delay: 0.5s;
}
#circle4 {
 -webkit-animation-delay: 0.6s;
}   
@-webkit-keyframes circle_load {
  0%{-webkit-transform: scale(1.1); opacity: 1;}
  100%{-webkit-transform: scale(0.9); opacity: 0.1;}
}
/* Nav */
.web .top_nav_bar, .ipad .top_nav_bar, .android .top_nav_bar {
  background: #333333 url('../../images/games/nav_bar.png') repeat-x;
  color: #FFFFFF;
  height: 44px;
  width: 100%;
}
.ipod .top_nav_bar, .iphone .top_nav_bar, .android-phone .top_nav_bar {
  background: #333333 url('../../images/games/nav_bar.png') repeat-x;
  color: #FFFFFF;
  height: 44px;
  width: 100%;
}
.web .top_nav_bar .nav_content, .ipad .top_nav_bar .nav_content {
  padding: 12px 16px;
}
.ipod .top_nav_bar .nav_content, .iphone .top_nav_bar .nav_content, .android-phone .top_nav_bar .nav_content {
  padding: 12px 4px;
}
.web .page, .ipad .page, .android .page {
  background: transparent url('../../images/games/header_bg_web.png') repeat-x;
}
.web #jqt.tan .page, .ipad #jqt.tan .page, .android #jqt.tan .page, #jqt.tan .page {
  background: transparent url('../../images/games/header_bg_web_tan.png') repeat-x; 
}
.iphone .page, .ipod .page, .android-phone .page {
  background: transparent url('../../images/games/header_bg_mobile.png') repeat-x;  
}
.ipod #jqt.tan .page, .iphone #jqt.tan .page, .android-phone #jqt.tan .page {
  background: transparent url('../../images/games/header_bg_mobile_tan.png') repeat-x;
}
.web .logo, .ipad .logo, .android .logo {
  background: transparent url('../../images/games/logo_bg_web.png') no-repeat;
  height: 280px;                         
  margin: 0 auto;
  width: 640px;
}
.ipod .logo, .iphone .logo, .ipod.portrait .logo, .iphone.portrait .logo {
  background: transparent url('../../images/games/logo_bg_mobile.png') no-repeat;
  height: 120px;                         
  margin: 0 auto;
  width: 320px;
}
.ipod.hd.portrait .logo, .iphone.hd.portrait .logo {
  background: transparent url('../../images/games/logo_bg_mobile_hd_p.png') no-repeat;
  background-size: 100%;
  margin: 0 auto;
  width: 100%;
}
.ipod.hd.landscape .logo, .iphone.hd.landscape .logo {
  background: transparent url('../../images/games/logo_bg_mobile_hd_l.png') no-repeat;
  background-size: 100%;
  margin: 0 auto;
  width: 100%;
}

.slide_nav {
  position: relative;
}
.web .slide_nav, .ipad .slide_nav {
  padding: 0 20px;
  top: 180px;
}
.iphone .slide_nav, .ipod .slide_nav {
  padding: 0 6px;
  top: 70px;
} 
.slide_nav, .slide_nav a {
  color: #605846;
}
.web .slide_nav div, .ipad .slide_nav div {
  border: 1px solid #CEB896;
  padding: 12px 10px 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius:5px;  
}
.iphone .slide_nav div, .ipod .slide_nav div {
  border: 1px solid #CEB896;
  padding: 6px 6px;
  -moz-border-radius: 5px;
  -webkit-border-radius:5px;  
}
.slide_nav div.slider_active {
  background: transparent url('../../images/games/button_bg_tan.png');
}
.iphone .slide_nav .title, .ipod .slide_nav .title,.iphone .slide_nav a.title, .ipod .slide_nav a.title {
  font-size: 12px;
}  
.iphone .slide_nav .title.small, .ipod .slide_nav .title.small,.iphone .slide_nav a.title.small, .ipod .slide_nav a.title.small {
  font-size: 11px;
}

.container {
  padding-bottom: 20px;
}
/* Offer */ 
.content {
  margin: 0 auto;
  max-width: 1000px;
  padding: 10px;
  position: relative;
  top: 36px;
}
.web .content {
  margin: 0 auto;
  max-width: 1000px;
  padding: 10px 40px;
  position: relative;
  top: 36px;
} 
.ipod .content, .iphone .content, #android-phone .content {
  margin: 0 auto;
  padding: 2px;
  position: relative;
  top: 18px;
} 
.ipod .content, .iphone .content, .android-phone .content {
  padding: 6px;
}
.offer_item {
  border-bottom: 1px solid #5B5B5B;
  min-height: 60px;
  padding: 6px 0 4px;
  -moz-box-shadow: inset 0 -1px #333333;
  -webkit-box-shadow: inset 0 -1px #333333;
  box-shadow: inset 0 -1px #333333; 
}
.offer_image {
  background: #FFFFFF;
  border-radius: 5px;
  float: left;
  margin-right: 12px;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 0 4px #222222;
  -webkit-box-shadow: 0px 2px 4px #222222;
  box-shadow: 0px 2px 4px #222222;
}
.ipod .offer_image, .iphone .offer_image {
  margin-right: 6px;
}
.offer_image, .offer_image.small {
  height: 57px;
  width: 57px;
}
.offer_info {
  float: left;
  padding-top: 6px;
  text-overflow: ellipsis;
}
.offer_title {
  font-size: 18px;
  padding-top: 6px;
}
.ipod .offer_title, .iphone .offer_title, .android-phone .offer_title {
  font-size: 12px;
}    
.offer_button {
  float: right;
  padding-top: 6px;
}
.offer_button button.blue {
}
.offer_button .button {}
.offer_button button.blue {
  background: #2F477D;
  background: -moz-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #7f8dad), color-stop(0.5, #4a5e8c), color-stop(0.5, #2f477d), color-stop(1, #364c80));
  border: 1px solid #172D6E;
  border-bottom: 1px solid #0E1D45;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  padding: 7px 0 8px 0;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #000F4D;
  width: 120px; 
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 0 4px #222222;
  -webkit-box-shadow: 0px 0 4px #222222;    
}
.ipod .offer_button button.blue, .iphone .offer_button button.blue, .android-phone .offer_button button.blue {
  font-size: 12px;
  width: 80px;
}
.offer_button button.blue a {
  color: #FFFFFF;
}
.offer_button button.blue span.amount {
   color: #FFFFFF;
}
.offer_button button.blue:hover {
  background: #486A9A;
  background: -moz-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #8c9cbf), color-stop(0.5, #546a9e), color-stop(0.5, #36518f), color-stop(1, #3d5691)); 
  cursor: pointer;
}
.offer_button button.blue:active {
  -moz-box-shadow: inset 0 0 20px 0 #3d5691, 0 1px 0 #444444;
  -webkit-box-shadow: inset 0 0 20px 0 #3d5691, 0 1px 0 #444444;
  box-shadow: inset 0 0 20px 0 #3d5691, 0 1px 0 #444444;
  cursor: pointer;
}
.title {
  font-family: 'Paytone One', 'Cooper Std';
}
.right {
  float: right;
}              
.left {
  float: left;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
} 
* html .clearfix {
  height: 1%;
}