- @page_title = "Device Description"

%h1 Device Description

#edit_device
  = form_for(@device, :html => { :class => 'tjform' }) do |f|
    %table
      %tr
        %th= f.label :description
        %td= f.text_field :description
      %tr
        %td= f.submit

