- @page_title = 'Unrecognized Computer or Device'

#left-panel
  %h2 Unrecognized Computer or Device

  %p
    Our system does not recognize the computer or device you are using to log in with.
    In order to verify your account we have emailed a verification link to you which you can click to confirm your device.
  %p Once you have verified this device it will be remembered for future logins.
  %b#new_device= link_to("Resend email", new_internal_device_path(:resend => true))
