%h3 Active Currency Sales
- if @active_currency_sales.present?
  %table
    = render 'table_header'
    = render :partial => 'sales_list', :locals => { :sales => @active_currency_sales }
- else
  %h4 No active currency sales
