= render 'active_currency_sales'
= render 'future_currency_sales'

- content_for :page_styles do
  :plain
    table {
      width: 100%;
      text-align: center;
    }
    td {
      padding:8px;
    }
    .wide {
      width: 18%;
    }
    .small {
      width: 9.3%;
    }
