%h3 Past Currency Sales
- if @past_currency_sales.present?
  %table
    = render 'table_header'
    = render :partial => 'sales_list', :locals => { :sales => @past_currency_sales }
  = will_paginate(@past_currency_sales)
- else
  %h4 No previous currency sales ran
