- content_for :apsalar_body do
  %p Find out what factors convert or engage your users better, which funnels perform more consistently and gather the research you need to make better business decisions.
  %p Click below to download Apsalar's latest SDK and start analyzing user behavior, targeting content, optimizing engagement, and increasing conversions across all your mobile apps.
  .inline= button_to 'Download Apsalar SDK', current_partner.apsalar_url + "&url=/app/sdk/"
  .inline= button_to 'Access your Apsalar Analytics', current_partner.apsalar_url + "&url=/app/dashboard/"

  - unless current_partner.apsalar_sharing?
    .clear &nbsp;
    %h3 App Data Sharing
    Currently, you are not sharing your app data with Apsalar.
    = link_to 'Find out more about this feature today.', share_data_analytics_path

= render :partial => 'features'
