.reviews_summary.clearfix
  .offer_image
    = image_tag(app.get_icon_url(:source => :cloudfront))
  .offer_text.clearfix
    .offer_title.title
      = app.name
    .review_meta.clearfix
      %span.gamer_overall_rating{ :rating => app_metadata.positive_thumbs_percentage, :threshold => "#{AppMetadata::RATING_THRESHOLD}", :total => "#{app_metadata.total_thumbs_count}" }

- content_for :page_javascript do
  :plain
    $(function($) {
      TJG.ui.loadSummaryGamerRating();
    });
