- @press_title = "Offerpal Media CEO Anu Shukla to Address User Engagement and Monetization at SNAP Summit"
- @press_subtitle = "Social advertising expert to provide insight on monetizing and engaging social Web users at one-day business event"

%p
  - press_date
  Offerpal Media CEO Anu Shukla will speak at tomorrow's SNAP Summit, San
  Francisco's premier conference on user experience and engagement for the social
  Web. Her session will address the key issues facing social publishers who seek
  to understand best practices on growing their traffic, engaging their users and
  monetizing their properties. Shukla's session, &quot;Incentivize and Monetize
  Social Traffic with Virtual Currency,&quot; is scheduled for 12:00 p.m. on the
  main stage of the Parc 55 Hotel.

%p
  Shukla is the founder of Offerpal Media, providers of the first advertising
  platform that helps publishers monetize social traffic while allowing
  advertisers to target interested consumers on Facebook, MySpace, Bebo, hi5 and
  other social networks. Prior to leading Offerpal, Shukla founded two successful
  companies in the personalization-marketing arena, Mybuys Inc. and Rubric, Inc.

%p
  The SNAP Summit, a full-day conference focusing on the business and design of
  social applications, is expected to draw industry leaders in the emerging and
  hot social networking space.

%p
  During her session, Shukla will get to the heart of the most pressing questions
  facing social application developers and other social publishers. While it's no
  longer a secret that the most effective way to monetize a social application is
  to leverage virtual currency, for many this is still a new and confusing
  prospect. Shukla will impart best practices for developers seeking to drive and
  monetize social traffic.

%p
  &quot;This is a rapidly growing market, with unparalleled opportunities for
  developers to grow their businesses, engage their users, increase their
  installs, and generate a strong revenue stream. Our platform helps developers
  achieve these results,&quot; said Shukla.

%p
  As part of the presentation, Shukla will showcase the Offerpal Media business
  model and the company's innovative turn-key, full-service &quot;Managed Offer
  Platform,&quot; which presents uniquely engineered offers and customized offer
  displays on social application and ecommerce sites. Offerpal also provides its
  application partners with 24/7 customer support, real-time reporting, custom
  account management and more.

%p
  A workshop at 1:30 p.m. will follow the presentation, taking a deeper dive into
  the role of virtual currency in driving real world revenues by looking at case
  studies from three popular applications, Friends For Sale!, Make a Baby, and
  PuzzleBee. The panel will explore the types of virtual goods or services sold on
  their applications and the fundamental principles accelerating their virtual
  economies forward.

%h2 About Offerpal Media
Offerpal Media is the first &quot;Managed Offer Platform&quot; for social
applications, online communities and e-commerce sites. The company's turnkey
platform allows developers of social applications on networks such as Facebook,
MySpace, Bebo, hi5 and others to monetize their traffic through uniquely
engineered offers. Meanwhile, advertisers can tap into Offerpal Media's expansive
network to reach more than 50 million highly engaged and targeted consumers on
social networks. The platform also helps online merchants generate incremental
revenue by using ad offers as an alternate payment method. Based in Fremont, CA,
and backed by top-tier venture capital firms, Offerpal Media features an
experienced management team with deep roots in online advertising,
personalization, and optimization technologies. For more information,
visit #{link_to_offerpal}.

%h2 Contact Information
= press_contact(:tapjoy)
