= render :partial => '/homepage/sub_nav.html.haml'

- @press_title = "Offerpal Media Launches Onboarding Application For MySpace Platform"
- @press_subtitle = "Allows MySpace developers to start monetizing their applications in minutes"

%p
  - press_date(:fremont)
  Offerpal Media, the first &quot;Managed Offer Platform&quot; for applications on
  Facebook, MySpace, Bebo, hi5 and other social networks, today announced the
  launch of its MySpace native onboarding application to help application
  developers implement Offerpal's turnkey advertising solution quickly and
  seamlessly. Though the company already powers ad supported payments on such Top
  20* MySpace apps as Own Your Friends!, Mobsters, Super Pets, Heroes, Speed
  Racing and others, the move now allows applications of any size or category to
  onboard and begin generating revenue in less than an hour. The application is
  available at
  #{link_to('http://www.myspace.com/offerpal', 'http://www.myspace.com/offerpal', :target => '_blank')}

%p
  &quot;There is a tremendous opportunity for application developers to continue
  to grow their businesses on the MySpace platform,&quot; said Kyle Brinkman,
  Vice President and General Manager, MySpace Developer Platform. &quot;We're
  glad to see Offerpal launch an onboarding app that helps application developers
  engage their users, increase their installs, and generate a strong revenue
  stream.&quot;

%p
  Offerpal Media's monetization platform has pioneered an innovative
  engagement-marketing model in which users can earn points, rewards or other
  types of virtual currency by participating in uniquely engineered offers such
  as free trials, surveys, big-brand discounts and more. The full-service
  platform appears in an I-frame within an application and comes complete with
  more than 1,000 advertising offers that are targeted to individual users based
  on behavioral patterns, relevance to the social graph, and Offerpal's
  proprietary targeting algorithms. Offerpal Media also provides its application
  partners with 24/7 customer support, real-time reporting, custom account
  management and more.

%p
  &quot;The MySpace platform is of great strategic importance to us, as it is to
  the entire application developer community, and we're committed to giving
  developers tools and guidance to generate more revenue from their MySpace
  apps,&quot; said Offerpal Media Founder and CEO, Anu Shukla. &quot;Today's
  launch strengthens our position as the leading monetization platform on social
  networks.&quot;

%p
  A variety of unique advertising formats and solutions are available for MySpace
  applications aside from the main Managed Offer I-Frame. For instance, developers
  can employ targeted banner ads within their application to encourage users to
  earn more points or virtual currencies by participating in relevant offers.
  Other formats include Reg-Path offers, Prestitial offers, a Shopping I-Frame and
  more. Offerpal Media also offers a powerful App Install program, allowing
  developers to grow their apps on a Cost-Per-Install, Cost-Per-Click or Free
  Click Exchange basis.

%p
  To learn more about Offerpal Media, visit #{link_to_offerpal}.

%p
  *Based on Most Installs as of 8/12/08.

%h2 About Offerpal Media
Offerpal Media is the first &quot;Managed Offer Platform&quot; for social
applications, online communities and e-commerce sites. The company's turnkey
platform allows developers of social applications on networks such as Facebook,
MySpace, Bebo, hi5 and others to monetize their traffic through uniquely
engineered offers. Meanwhile, advertisers can tap into Offerpal Media's expansive
network to reach more than 50 million highly engaged and targeted consumers on
social networks. The platform also helps online merchants generate incremental
revenue by using ad offers as an alternate payment method. Based in Fremont, CA,
and backed by top-tier venture capital firms, Offerpal Media features an
experienced management team with deep roots in online advertising,
personalization, and optimization technologies. For more information,
visit #{link_to_offerpal}.

%h2 CONTACT:
- press_contact(:tapjoy)
