- @press_title = "Offerpal Media Publishes Industry Report on Monetizing Social Traffic Through Virtual Currency "
- @press_subtitle = "'Top 20' report draws from successful case studies to highlight best practices for generating revenue using virtual goods and services"

%p
  - press_date(:fremont)
  #{link_to_offerpal('Offerpal Media')}, the leading monetization platform for
  social networks, social applications, virtual worlds and other forms of
  community-oriented web properties, today released an industry-first report
  showcasing strategies and best practices for monetizing social traffic using
  virtual currency. The company provided a sneak preview of the report at the
  Facebook Developer Garage in San Francisco, an event focused on generating
  revenues through social networking applications. The complete report is
  available for free at www.offerpalmedia.com/whitepaper.

%p
  Demand for virtual goods and services has grown exponentially of late, creating
  a highly lucrative market opportunity for publishers of social web properties
  such as social networks, applications, social games, virtual worlds and others.
  These publishers have found it very difficult to monetize their traffic through
  traditional forms of online advertising, but virtual goods and services offer
  them a way to generate significant revenues while simultaneously engaging and
  motivating their user bases.

%p
  Until now, however, there has been little education to help social web
  publishers understand how to achieve viral and financial success through
  this burgeoning channel.

%p
  &quot;Our goal is to help social web publishers turn their properties into
  thriving businesses. The 'Top 20' report is the essential guide for both
  established players and newcomers in this growing industry who wish to monetize
  their traffic using virtual currency,&quot; said Anu Shukla, founder and CEO of
  Offerpal Media. &quot;The most successful social publishers are those that have
  integrated virtual currency or goods into the overall user experience, and this
  report offers key insights on how to do that successfully.&quot;

%p
  The report contains 20 tried and tested techniques for monetizing social
  traffic using virtual goods and virtual currency, with real-world examples from
  popular properties including WeeWorld, Make a Baby, Friends For Sale!, (Lil)
  Green Patch, Mobsters and others.

%h2 Tips one through five include:
%ul
  %li Build virtual currency into your site or application from the ground up
  %li Understand your users' motivations
  %li Create multiple methods for users to earn virtual currency
  %li Sell decorative virtual goods
  %li Enable virtual gifting

%p
  With its clear, step-by-step approach to creating virtual economies and
  converting virtual currency into real dollars, the &quot;Top 20&quot; report is
  expected to help boost the revenues for a large number of social web publishers.

- about_blurb(:offerpal)

%h2 Contact Information:
- press_contact(:tapjoy)
