- @press_title = "Offerpal Media Named AlwaysOn OnMedia 100 Winner "
- @press_subtitle = "Company Selected as Category Winner Among Technology Enablers"

%p
  - press_date(:fremont)
  Offerpal Media, the leading monetization platform for social applications,
  online communities, social games, virtual worlds and mobile devices, today
  announced that it has been selected to the 2009 OnMedia 100 List. The OnMedia
  100 Award is given to private, emerging technology companies in the advertising,
  publishing, marketing, branding and public relations spaces. Offerpal Media,
  which was named as the category winner for the &quot;Technology Enablers&quot;
  category, was selected by the AlwaysOn editorial team based on demonstration of
  growth, market opportunity, quality of innovation and customer traction.

%p
  &quot;We are honored to be selected as an OnMedia 100 Winner for our technology
  innovations in social advertising and monetization,&quot; said Anu Shukla,
  Founder &amp; CEO of Offerpal Media. &quot;Our vision has always been to
  transform the industry by creating new and unique ways to engage with consumers
  on social applications and web sites, and for us to be recognized by an
  organization like AlwaysOn is an achievement we can cherish.&quot;

%p
  Offerpal Media and the other OnMedia 100 winners will be recognized at the
  OnMedia 100 Conference at the Ritz Carlton, New York City, on February 2
  &ndash; 4. This two-and-a-half day executive conference is co-presented by
  Forbes and will feature presentations and high-level debates from CEOs,
  journalists, industry experts, investors and publishing and advertising executives.

%p
  &quot;The 2009 OnMedia 100 companies have demonstrated their tenacity even in
  the toughest economic conditions that the technology world has ever
  encountered,&quot; said Tony Perkins, founder and editor of AlwaysOn. &quot;We
  applaud their success in pushing the boundaries of innovation, creating market
  opportunities and transforming the industry even in the earlier stages of their
  businesses.&quot;

%p
  The OnMedia 100 winners were selected from among hundreds of other technology
  companies nominated by investors, bankers, journalists and industry insiders.
  The AlwaysOn editorial team conducted a rigorous three-month selection process
  to finalize the 2009 list.

%p
  A full list of all the OnMedia 100 winners can be found on the AlwaysOn website at
  #{link_to('http://alwayson.goingon.com/permalink/post/30893', 'http://alwayson.goingon.com/permalink/post/30893')}

- about_blurb(:offerpal)

%h2 About AlwaysOn
AlwaysOn ignited the open-media revolution in early 2003 by being the first
media brand to launch a global blog network. In 2004, AlwaysOn continued to
lead the media industry in innovation by introducing a social network where
members can connect and engage. AlwaysOn is also revolutionizing the media
business by applying its open-media principles to its executive event series
(Stanford Summit, AlwaysOn Hollywood, AlwaysOn Media and GoingGreen) and
quarterly print &quot;blogozine&quot; by empowering its members to post and
share their ideas and meet each other online. As our loyal readers know,
AlwaysOn is committed to the free-market, merit-driven approach to reporting and
event programming. No other media brand has dared to create such open
interaction with its readers and event participants.



%h2 Contact Information:
- press_contact(:tapjoy)
