- @press_title = "Offerpal Media Partners with Aeria Games to Monetize Virtual Currency, Increase User Engagement"
- @press_subtitle = "Leading Social Gaming Publisher Taps Offerpal to Allow Users to Earn Aeria Points for Free"

%p
  - press_date(:fremont)
  #{link_to_offerpal('Offerpal Media')}, the leading monetization platform for
  social applications, social networks, social games, virtual worlds and mobile
  applications, today announced a partnership with
  #{link_to('Aeria Games', 'http://www.aeriagames.com/')},
  one of the Web's fastest growing free-to-play online gaming communities.

%p
  Offerpal Media already helps over 800 social web publishers earn eCPM rates in
  the hundreds of dollars. Now, Aeria Games, home to a 5 million+ member community
  and publisher of popular games including Last Chaos and Shaiya, similarly
  monetizes and engages its audience through Offerpal Media's Managed Offer
  Platform. By integrating its existing virtual currency system-Aeria Points-with
  Offerpal Media's platform, Aeria Games enables its users to earn Aeria Points
  for free in exchange for taking part in scientifically targeted advertising
  offers such as free trials, big-brand discounts, online surveys and more.

%p
  &quot;This partnership is a major step forward for us in both engaging and
  monetizing our loyal user base,&quot; said Aeria Games CEO Lan Hoang. &quot;It
  was extremely easy for us to deploy Offerpal's platform and begin generating
  incremental revenue from the in-game offers. Offerpal has not only improved user
  satisfaction by providing our audience with a new way to earn Aeria Points, but
  their solution has given us a significant new revenue stream as well.&quot;

%p
  As an alternate payment option, Offerpal Media provides millions of Aeria Games'
  users with a way to obtain Aeria Points for free, thereby allowing them to
  unlock more features and carry out more tasks within the many games offered by
  the company. With more Aeria Points in their account, users return more often
  and spend more time within the game.

%p
  The free-to-play online gaming industry is becoming an increasingly valuable
  space for both advertisers and publishers alike. With the help of Offerpal
  Media, Aeria Games is poised to become one of the most popular and diversified
  publishers in the space.

%p
  &quot;Offerpal Media is committed to providing highly effective monetization
  solutions for the social Web, including gaming communities like Aeria
  Games,&quot; said Offerpal Media Founder and CEO Anu Shukla. &quot;Aeria Games
  offers an exceptionally diverse and high quality range of games for their very
  large community of members. We are excited to partner with them and help
  generate real revenues from our offer network, while enhancing the gaming
  experience and engagement of Aeria's audience&quot;

%h2 About Aeria Games
%p
  Aeria Games is the dynamic gaming community where players of all backgrounds and
  interests can connect, share, and enjoy an unparalleled variety of Massive
  Multiplayer Online (MMO) games from all over the world. Our vision is to provide
  the best Community Gaming Experience and Service to each and every one of our
  players and best of all, every game is FREE to Play! Start playing our games
  today by registering here for your Aeria Games account. Founded in 2006, Aeria
  Games &amp; Entertainment, Inc. is based in Silicon Valley, California.

- about_blurb(:offerpal)

%h2 Contact Information:
= press_contact(:tapjoy)
