- @press_title = "Offerpal Media Launches OfferpalSECURE to Fight Virtual Currency Fraud"
- @press_subtitle = "Security and fraud prevention product reduces fraud by 60% for the social gaming industry"

%p
  - press_date(:fremont)
  Virtual currency has emerged as a significant source of revenue for online games
  and social applications, but the industry's above-average rate of fraudulent
  user behavior poses a serious threat to the growth and sustainability of those
  revenues. To combat fraud, Offerpal Media today announced the general release
  of OfferpalSECURE, a complete suite of security and fraud prevention services
  designed to help online gaming companies, social application developers and
  other social web publishers reduce the lost revenue and diminished user
  experience resulting from fraudulent activity in their virtual economies.
  Combining both manual and automated fraud monitoring systems with the latest
  Internet security technologies, OfferpalSECURE has proven to reduce publisher
  fraud by more than 60% in extensive tests. The entire suite is available to all
  publishers for free as an integrated part of Offerpal Media's offer-based
  payment platform.

%p
  Security experts estimate that when left unchecked, as much as 50% of a gaming
  publisher's transactions for intangible goods like virtual currency can be
  fraudulent-especially if player-to-player transfers are allowed. &quot;Fraud
  is a serious problem for the online gaming space,&quot; said
  #{link_to('TrustWho', 'http://www.trustwho.com')} Founder and CEO Marcus
  Eikenberry, whose company offers anti-fraud technologies and services to the
  video game industry. &quot;And the problem will get worse if it isn't tackled
  immediately, because scammers and hackers only become emboldened by their early
  successes. I'm glad to see a company like Offerpal helping to raise the bar for
  the entire industry.&quot;

%p
  Eikenberry estimates that even for online games where player-to-player transfers
  are not allowed, the fraud rates tends to hover around 10%, a number
  considerably higher than the Internet average and representing a significant
  source of lost revenue for the industry. Fraudulent activity also damages the
  user experience for legitimate users by creating inflated prices, unfair player
  advantages and imbalanced economies.
  #{link_to('Playdom', 'http://www.playdom.com')} is a leading social game
  developer and one of Offerpal Media's key publishing partners. According to Sean
  Phinney, Playdom's VP Business Development, &quot;As social games provide more
  immersive entertainment, player adoption of virtual currencies will only grow.
  Given our commitment to delivering a great player experience, Playdom sees this
  as a high priority issue. We commend Offerpal's leadership putting safety
  measures in place to protect our players.&quot;

%p
  Offerpal Media's virtual currency monetization platform has long included strict
  security controls such as IP Whitelisting and support of HTTPS protocols. With
  OfferpalSECURE, the company has now added even more security measures, including
  the use of a secure hash signature added to the callback URL, enabling
  publishers to verify the signature and authenticity of their callbacks with a
  secret key code. OfferpalSECURE also features the addition of several automated
  fraud monitoring and alert systems to go along with the dedicated fraud
  management team that Offerpal employs to identify, manage and reduce fraudulent
  activities. These new proprietary rules and triggers include real-time velocity
  controls to detect irregular patterns in user behavior and machine
  fingerprinting to prevent scammers from using multiple accounts in order to game
  the system.

%p
  Unlike e-commerce sites or other types of web properties, social gaming
  publishers have a unique set of fraudulent behaviors they must counteract.
  &quot;We've processed more than 200 million transactions since our inception in
  2007,&quot; said Anu Shukla, Founder and CEO of Offerpal Media, Inc. &quot;And
  from our learnings we've developed a comprehensive fraud prevention product that
  was designed from the ground up for online games and social applications. Our
  goal is to preserve revenues for our publishing partners, create a better,
  fairer gaming experience for legitimate users, and deliver high-value new
  customers to our advertising partners.&quot;

%p
  Fraudulent behavior on social games can take the form of fake account-creation,
  account takeover, credit card fraud, fraudulent offer completion or other
  strategies-and ultimately take money out of publishers' pockets. With the new
  security and fraud controls built into OfferpalSECURE, Offerpal Media is able to
  identify fraud as it happens and put an immediate hold on suspicious activities
  until they can be further investigated by the company's fraud management
  analysts. By catching fraud early and preventing it from escalating, Offerpal is
  able to preserve the integrity of its publishers' virtual economies.

%h2 About Playdom
Playdom is a leading social gaming company. As communicated in the tagline
&quot;Where players rule,&quot; Playdom is committed to delivering the best
possible player experience to its more than 20 million monthly active users on
Facebook, MySpace and Hi5. Playdom is located in Mountain View, CA. Please visit
#{link_to('www.playdom.com', 'http;//www.playdom.com')} for more information.
%br/
%br/

- about_blurb(:offerpal)

%h2 Tapjoy Contact:
- press_contact(:tapjoy)
