- @press_title = "Offerpal Media Introduces Offerpal SURVEYS, Enabling Game Developers to Monetize Through Online Survey Offers"
- @press_subtitle = "New standalone product features more than 1,000 survey offers; Over $12 million already paid out to publishers through survey completions"

%p
  - press_date('New York, NY')
  At the New York Games Conference today in New York City, Offerpal Media
  (#{link_to_offerpal}), the leader in virtual currency monetization, announced
  the release of Offerpal SURVEYS, a new monetization platform for game
  developers and social publishers that lets their users earn virtual currency
  in exchange for filling out online surveys. At launch, developers will be able
  to monetize through more than 1,000 survey offers available in over 50 countries
  from top market research firms including Nielsen NetRatings, Comscore, OTX
  Research Inc., Synovate and others.

%p
  &quot;Surveys are among the most popular offers we have, and they've always been
  an important part of our offer mix because they provide consumers with a simple,
  free way to earn virtual currency or digital goods,&quot; said Anu Shukla,
  Founder &amp; CEO of Offerpal Media. &quot;Offerpal SURVEYS is our new
  standalone product, and with it, game developers who want to focus exclusively
  on surveys can easily implement it and start making money in a matter of minutes.&quot;
%p
  Offerpal has traditionally included a survey option within its I-Frame,
  presented through both a &quot;Surveys&quot; tab as well as a &quot;Survey
  of the Day&quot; tab. Offerpal&quot;s all-inclusive I-Frame product displays
  more than 4,000 advertising offers in categories such as Mobile, Subscriptions,
  Personal Finance, Downloads, Small Business, Gaming, Dating, Auto and more.
  With the launch of Offerpal SURVEYS, all of the company&quot;s survey offers
  have been compiled together to form a standalone module. This new module
  provides developers with improved monetization and added stickiness through the
  &quot;Survey of the Day&quot; feature, which encourages users to return daily.
%p
  Offerpal SURVEYS will include the following features:
  %ol
    %li 1,000+ survey offers
    %li Availability in over 50 countries
    %li Direct sales staff constantly adding new survey offers
    %li Surveys backed by top market research firms
    %li Superior payouts

%p
  &quot;To date, more than 5 million surveys have been completed through Offerpal,
  and nearly $12 million has been paid out to publishers as a result of completed
  surveys,&quot; added Shukla. &quot;We are confident that Offerpal SURVEYS will
  be a terrific addition to our suite of offers, as we continue to develop
  powerful new ways for our developer partners to make more money.&quot;

%p
  Game developers and social publishers interested in learning more about Offerpal
  SURVEYS or the company&quot;s complete suite of monetization, analysis and
  distribution services can visit #{link_to_offerpal}.

- about_blurb(:offerpal)
%h2 Company Contact:
- press_contact(:tapjoy)
%h2 Media Contact:
- press_contact(:media)
