- @press_title = "Offerpal Media Launches the First Customizable Virtual Currency Analytics Package for Social Applications and Destination Sites"
- @press_subtitle = "Flexible, robust analytics tool gives social publishers the insight needed to effectively monetize their virtual economy"

%p
  - press_date(:fremont)
  Offerpal Media, the leader in monetization solutions for social networks and
  applications, online games, virtual worlds, mobile apps and other social
  publishers, today announced the launch of its Virtual Currency Analytics
  package, designed to provide valuable insights that help maximize publisher
  revenues while optimizing the user experience. Combining a simple, flexible
  interface with robust reporting features, Offerpal Media's analytics package
  enables social publishers to track the activity and monetization performance
  of their users based on any attribute they choose - such as User Level,
  Character Type, Install Source, Account Age, Basic Demographics and others
  &ndash; by passing a few parameters to Offerpal Media through the company's
  simple I-Frame integration. This powerful tool is now available for free to any
  publisher using Offerpal Media's &quot;Managed Offer Platform&quot; for monetization.

%p
  &quot;Our analytics package is like nothing else on the market,&quot; said Anu
  Shukla, Founder &amp; CEO of Offerpal Media. &quot;In building this tool, we
  worked closely with top social publishers to understand their needs, and from
  that we developed a powerful tool to help them slice and dice the data any way
  they'd like so they can better understand what's working within their economy
  and what areas need improvement.&quot;
%p
  With Offerpal Media's Virtual Currency Analytics, social publishers can track
  the monetization performance of up to seven different attributes per
  application, with up to 1,000 different parameters per attribute. The reports
  provide detailed analysis for each attribute, allowing publishers to home in
  on one or more key metrics at a time, including Revenue, Impressions, Unique
  Visitors, Offer Clicks, Offer Completions, eCPM, Click Through Rate, Conversion
  Rate, Revenue per Click or Earnings per Click. Two types of graphs are available
  &ndash; an Attribute Graph for charting the performance of any single attribute,
  and a Trend Graph for charting the performance over time.

%p
  This deep level of visibility into their virtual economies allows publishers to
  gain key insights into the dials and levers that have the biggest impact on
  their virtual economy. For instance, they can understand which user groups
  monetize the best, at what point users begin engaging with their virtual
  economy, or which game dynamics bring in the most revenue.

%p
  One of the beta testers of Offerpal Media's Virtual Currency Analytics package
  was Sibblingz, Inc., the developers behind the popular Make a Baby application
  on Facebook and MySpace.

%p
  &quot;Offerpal Media continues to be an innovative partner, developing products
  that not only help drive our monetization efforts, but assist in heightening the
  social experience for our users, &quot; said Rohit Dewan, Director of
  Engineering at Sibblingz, Inc. &quot;Offerpal's Virtual Currency Analytics tool
  has enabled us to get a better understanding of how our audience monetizes based
  on attributes such as the Age Level of their virtual babies, how many Growth
  points they've earned, and other key data points.&quot;

%p
  Configuring the package is quick and easy and can be conducted in less than ten
  minutes, allowing social app developers and site publishers to start tracking
  their monetization performance immediately. Cross-platform integration enables
  publishers to analyze their virtual economies across all social networks and
  destination Web sites from one central location. Developers and publishers
  interested in learning more about Offerpal Media's Virtual Currency Analytics
  can email #{mail_to('publishersupport@offerpal.com')} or call 510.257.5600.

- about_blurb(:offerpal)

%h2 Tapjoy Contact:
- press_contact(:tapjoy)
