- @press_title = "Offerpal Media Marks Two-Year Anniversary with 160 Million Users and 730 Billion Virtual Points Issued"
- @press_subtitle = "More than 2,000 publishers count on Offerpal's virtual currency payment platform to monetize online games, virtual worlds, social networks and subscription services"

%p
  - press_date(:fremont)
  Offerpal Media, the leader in virtual currency monetization, today marked its
  two-year anniversary by announcing the company has surpassed 160 million users
  and has issued more than 730 million virtual points globally. As one of the
  pioneers helping drive the $6 billion virtual goods economy, Offerpal's turnkey
  payment platform gives consumers the opportunity to earn or buy virtual currency
  by completing targeted advertising offers or by purchasing it through direct,
  global payment options. The company powers millions of transactions every month,
  with payment options in 190 countries and offers in more than 80 countries.

%p
  When Offerpal launched in October 2007 on the Facebook application (fluff)
  friends, it became the gaming industry's first offer-based monetization
  platform. Since then, Offerpal's network has grown to more than 2,000
  publishers around the world who rely on the company's full-service platform
  to monetize their virtual currency. Offerpal's scope of services relieves
  developers from having to manage multiple payment providers, customer service,
  ad inventory, optimization and testing, freeing them up to focus on what they
  do best: designing and managing their games or web sites.
%p
  &quot;When I first integrated Offerpal's platform into (fluff) friends, I knew
  it would work, I just didn't know how well,&quot; said Mike Sego, founder of
  (fluff) friends, which was since acquired by SGN. &quot;Offerpal helped me
  realize that I had a legitimate business model behind the application and could
  generate a lot of revenue. Obviously, they've helped a lot of other developers
  do the same.&quot;
%p
  Offerpal expects to roll out more enhancements to its platform throughout 2010.

%h2 Milestones Since Launch
In just over two years, Offerpal has introduced a steady stream of new features,
partnered with leaders in online gaming and virtual currency, and received
several industry accolades, including:
%ul
  %li October 2009 &ndash; Anu Shukla named finalist in Stevie Awards for Women in Business
  %li September 2009 &ndash; Partnered with MindSpark; launched Offerpal SURVEYS; named #7 among <em>San Francisco Business Times</em> Top 100-Women Owned Businesses
  %li August 2009 &ndash; Launched Multivariate Testing platform
  %li July 2009 &ndash; Launched OfferpalSECURE to fight virtual currency fraud; surpassed 100 million users
  %li June 2009 &ndash; Partnered with IMVU and Tapjoy; launched first customizable virtual currency analytics package for social applications and destination sites
  %li May 2009 &ndash; Named winner of 2009 TiE50 Award; surpassed 3,000 advertising offers
  %li April 2009 &ndash; Partnered with Jolt Online
  %li March 2009 &ndash; Partnered with Aeria Games and OutSpark; expanded into 190+ countries with 30+ languages
  %li February 2009 &ndash; Secured $15 million in Series B funding
  %li January 2009 &ndash; Introduced monetization platform for iPhone applications; named AlwaysOn OnMedia 100 Winner
  %li July 2008 &ndash; Named AlwaysOn Global 250 Winner
  %li May 2008 &ndash; Surpassed 1 million unique visitors per month
  %li February 2008 &ndash; Expanded to the MySpace platform
  %li October 2007 &ndash; Launched offer-based monetization platform with (fluff) friends on Facebook
  %li June 2007 &ndash; Received $5 million in Series A funding

%p
  &quot;We set out to do for virtual goods what Google has done for search: create
  a full-service solution that's accessible by both large and small
  publishers,&quot; says Anu Shukla, CEO and co-founder of Offerpal. &quot;The
  global market has exploded in the two years since we launched Offerpal, and
  we'll no doubt continue to experience a sharp incline - especially in social
  gaming and virtual worlds.&quot;

- about_blurb(:offerpal)
%h2 Company Contact:
- press_contact(:tapjoy)
%h2 Media Contact:
- press_contact(:media)
