- @press_title = "Offerpal Media Launches Multivariate Testing Platform for Online Game Developers"
- @press_subtitle = "Self-service solution enables developers to increase revenues by testing and optimizing virtual economy variables"

%p
  - press_date(:fremont)
  Offerpal Media, the leader in virtual currency monetization, today announced the
  launch of its self-service Multivariate Testing platform. Designed to help
  online game developers increase revenues from their virtual goods and services,
  the platform provides a simple way to test, measure and optimize critical
  monetization variables including exchange rates, price points, user interface
  options and more. The multivariate testing is available for free to users of
  Offerpal Media's virtual currency payment platform.

%p
  The initial version of the product allows developers to test their exchange
  rate, or rate at which real dollars convert to virtual currencies. Given the
  number of variables that go into determining the optimum exchange rate, it is
  often difficult, if not impossible, to identify through simple trial and error.
  Prior experience shows that an exchange rate that is too low, for instance,
  might not create enough perceived value, while an overly high exchange rate
  could lead to an inflated economy. Offerpal's testing platform provides a
  scientific framework for testing variations in a developer's exchange rate and
  optimizing the results accordingly.

%p
  &quot;Finding the right exchange rate is one of the most crucial factors in
  monetizing our games,&quot; said Markus Weichselbaum, CEO of TheBroth,
  developers behind popular Facebook games Barn Buddy, Kickmania and PuzzleBee.
  &quot;Offerpal's Multivariate Testing platform takes the guesswork out of
  exchange rate testing by allowing us to pinpoint the exact rate that generates
  the highest Revenue Per User without inflating the economy. We commend Offerpal
  for delivering yet another invaluable resource to help developers make more money.&quot;

%p
  Subsequent versions of Offerpal's Multivariate Testing platform will include
  features that let developers test critical elements including:
  %ul
    %li
      User interface options &mdash; such as background colors and font choices
      &mdash; to discover which combination encourages the most clicks and conversions
    %li
      Different prices points for virtual goods and services, to understand which
      pricing strategy monetizes best
    %li
      The offer mix, measuring the monetization impact of including or excluding
      certain advertising offers or categories of offers
    %li
      Which tab within the Offerpal I-Frame (&quot;All&quot; offers,
      &quot;Free&quot; offers, &quot;Mobile&quot; offers,
      &quot;Survey&quot; offers, etc.) generates the best performance when set
      to the default tab.

%p
  &quot;Based on our experience having issued more than 30 billion virtual points,
  one of the clear needs we identified for our partners is helping them establish
  an effective exchange rate,&quot; said Anu Shukla, Founder &amp; CEO of
  Offerpal Media. &quot;This new product is designed to help developers easily
  identify the ideal exchange rate that monetizes effectively while delivering an
  optimum user experience.&quot;

%p
  Game developers interested in learning more about Offerpal's Multivariate
  Testing platform or the company's complete suite of monetization, analysis
  and distribution services can visit #{link_to_offerpal}.

- about_blurb(:offerpal)
%h2 Company Contact:
= press_contact(:tapjoy)
