- @press_title ="Offerpal Media Launches Onboarding Application for Destination Web Publishers"
- @press_subtitle = "Allows virtual worlds, social games, social networks and other destination Web sites to start monetizing in minutes"

%p
  - press_date(:fremont)
  #{link_to_offerpal('Offerpal Media')}, the leading monetization platform for
  social applications, social games, virtual worlds, mobile applications and
  other community-oriented Web publishers, today announced the launch of its
  standalone onboarding application, which allows destination Web sites to
  implement Offerpal's Managed  Offer Platform quickly and seamlessly straight
  from the Offerpal Media Web site. Having already achieved unparalleled success
  on social networks such as <a href="http://www.facebook.com/">Facebook</a>,
  <a href="http://www.myspace.com/">Myspace</a>,
  <a href="http://www.bebo.com/c/site/index">Bebo</a>,
  and <a href="http://hi5.com/">hi5</a>,
  the company has now made its platform more easily accessible to destination
  Web publishers such as existing partners,
  <a href="http://www.weeworld.com/">WeeWorld</a>,
  <a href="http://www.acclaim.com/">Acclaim Games</a>,
  <a href="http://www.aeriagames.com/">Aeria Games</a>,
  and others. The application is now available at http://onboard.offerpalmedia.com.

%p
  &quot;This new onboarding application extends the Offerpal Media platform
  well beyond social networks to the wider publishing community,&quot; said Anu
  Shukla, Founder and CEO of Offerpal Media. &quot;While our platform has already
  been available to all publishers through our Facebook and MySpace onboarding
  applications, any developer from the social Web can now onboard directly from
  the Offerpal Web site and start monetizing their property immediately.&quot;

%p
  Offerpal Media's platform monetizes social traffic by enabling users to earn
  points or other types of virtual currencies in exchange for taking part in
  uniquely engineered and targeted advertising offers such as free trials, online
  surveys, big-brand discounts and more. The virtual currencies earned can then
  be redeemed for in-game goods and services, thereby enhancing the game
  experience and deepening user engagement. In turn, advertisers are able to tap
  into Offerpal Media's expansive network of 50 million active and engaged social
  gaming and social networking users.

%p
  The launch of this new onboarding application is an extension of Offerpal
  Media's long-term strategy to help monetize free-to-play, ad-supported gaming
  networks and virtual worlds beyond closed-Web social networks. Offerpal Media
  has gained significant headway in moving further into this space, recently
  <a href="http://www.marketwire.com/press-release/Offerpal-959799.html">announcing</a>
  a partnership with one of the fastest growing free-to-play online game networks,
  <a href="http://www.aeriagames.com/">Aeria Games</a>.

%p
  Offerpal Media's &quot;Managed Offer Platform&quot; is a full-service, turnkey
  advertising solution that can be embedded into any game, virtual world or social
  application simply by inserting a snippet of code. The new standalone onboarding
  application enables destination Web publishers to integrate Offerpal's platform
  into their site in just four simple steps:

%ul
  %li Enter contact and payment information
  %li Enter Web site and virtual currency information
  %li Configure and test callback server URL
  %li Drop a snippet of HTML code into the Web site and go live

%p
  The entire process takes approximately 30 minutes to complete.

- about_blurb(:offerpal)

%h2 Contact Information:
= press_contact(:tapjoy)

%h2 Media Information:
= press_contact(:media)
