- @press_title = "Offerpal Media Names Mihir Shah as Chief Revenue Officer"
- @press_subtitle = "Former RockYou and QuinStreet executive tasked with growing the company's revenue numbers and user base"

%p
  - press_date(:fremont)
  Offerpal Media (#{link_to_offerpal}), the leader in virtual currency
  monetization and online payment alternatives, today announced Mihir Shah is
  joining the company as Chief Revenue Officer. Bringing more than seventeen years
  of experience growing Internet and technology companies from the ground up, Shah
  will oversee all of Offerpal's commercial activities, including revenue growth
  and user acquisition. Shah will also be charged with managing the company's
  relationships with leading advertisers, developers and publishers.

%p
  &quot;These are exciting times for the entire social advertising industry, and
  Mihir's extensive background in rapidly growing successful Internet advertising
  companies puts us in an aggressive position for 2010,&quot; said Offerpal CEO
  George Garrick. &quot;As CRO of Offerpal, Mihir will maximize revenue
  opportunities and expand our 160 million user accounts exponentially. We're
  thrilled to have him on board.&quot;
%p
  Prior to joining Offerpal Media, Shah was Vice President, Ad Network for
  RockYou, a leading provider of applications and widgets across the social media
  space, with application properties on major social networks including Facebook,
  MySpace and Hi5. In a short time, Shah grew the company's revenues by more than
  500% and more than quadrupled gross margin. He was responsible for 15 billion
  monthly ad impressions, as well as sales, account management, performance
  marketing, analytics, and publisher management.
%p
  Previously, Shah was an investor and founder of CookEatShare.com, a vertical
  social network connecting home chefs from around the world. Prior to that, he
  joined QuinStreet pre-revenue as one of only three executives following a Series
  A round of venture funding. As VP and Worldwide General Manager, Direct Selling
  Services for QuinStreet, he was responsible for opening all significant
  international markets for the company, including Japan, China, Europe, and Latin
  America. Shah began his career as President, CEO and Founder of Liquid Software,
  where he employed up to 40 people and generated annual revenues in excess of $5
  million. Shah received his BA in Quantitative Economics from Stanford
  University. He can be reached at #{mail_to('mihir.shah@offerpal.com')}.

- about_blurb(:offerpal)
%h2 Company Contact:
- press_contact(:tapjoy)
%h2 Media Contact:
- press_contact(:media)
