- @press_title = "Offerpal Media Powers Virtual Currency Monetization for Mindspark's Zwinky&reg; and IWON&reg; Properties"
- @press_subtitle = "Mindspark employs Offerpal's offer-based payment platform for its avatar-based community and casual gaming destination"

%p
  - press_date(:fremont)
  Offerpal Media, the leading virtual currency monetization solution for game
  developers and social publishers, today announced a partnership with leading
  social media developer Mindspark Interactive Network, Inc., a wholly owned
  business of IAC (Nasdaq: IACI ) with over 40 million monthly uniques, to
  monetize virtual currency for top brands Zwinky and IWON.

%p
  &quot;The Offerpal Media platform allows us to earn additional revenues,
  while at the same time enhancing user engagement&quot;, said Mike Primiani,
  Senior Vice President of Strategic Partnerships, Mindspark. &quot;The concept
  has been strongly embraced by our user communities, especially our teen
  audience who have limited access to traditional forms of payment such as
  credit cards or PayPal.&quot;

%p
  MindSpark selected Offerpal Media's virtual currency payment platform to enable
  Zwinky and IWON players to earn virtual currency in the form of ZBucks, Zcards,
  and IWON coins, respectively, by taking part in demographically and behaviorally
  targeted consumer advertising offers such as free trials, big-brand discounts,
  online surveys and more. The virtual currencies can then be redeemed for in-site
  goods and services within Zwinky or IWON to further enhance the experience and
  reward users for their engagement.&nbsp;

%p
  &quot;We are extremely proud to add Mindspark to our growing list of more than
  1,200 publishing partners,&quot; said Anu Shuka, Founder and CEO, Offerpal
  Media. &nbsp;&quot;The decision by a company like Mindspark to implement our
  solution &ndash; and the success it has had on their properties so far &ndash;
  is a testament to the fact that consumers are clearly excited about offer-based
  payments.&quot;&nbsp;

%p
  Since launching in 2008, Mindspark has developed leading social applications,
  informational websites and portals, including
  #{link_to('Zwinky&reg;', 'http://www.zwinky.com/')}, one of the largest teen
  virtual worlds with more than 6 million unique users, and IWON &reg;, which
  features more than 150 free games and has paid out more than $72 million in
  prizes.

%h2 About Mindspark&trade;
Mindspark Interactive Network, Inc. a wholly owned business of IAC (Nasdaq:
IACI), is a leading developer of social networking applications, informational
websites and portals that enable users to creatively and visually express
themselves online. Mindspark brands include Zwinky&reg;, Zwinky Cuties&trade;
Girlsense&reg;, MyWebFace&trade;, Smiley Central&reg;, Webfetti&trade;,
IWON&reg;, Vimeo&reg;, Life123&trade;, Retrogamer&trade;, Kazulah&trade;,
Popular Screensavers&trade;, MyFunCards&trade;, Cardboiled&trade;, Cursor
Mania&trade;, as well as the Excite&reg; portal.
%br/
%br/
- about_blurb(:offerpal)
%h2 Company Contact:
- press_contact(:tapjoy)
