- @press_title = "Offerpal Media Surpasses 100 Million User Accounts"
- @press_subtitle = "Industry-first milestone demonstrates rapid growth for the company and high consumer enthusiasm for virtual economies"

%p
  - press_date('Seattle, WA')
  Offerpal Media, the leading virtual currency monetization platform for social
  applications, online games, virtual worlds, social networks, mobile applications
  and other social gaming publishers, today announced at the Casual Connect
  conference in Seattle, WA, that it has surpassed 100 million unique user
  accounts in its database. The milestone speaks to the tremendous growth of the
  social gaming industry and demonstrates the high consumer enthusiasm for taking
  part in virtual economies inside these social applications and gaming web sites.

%p
  &quot;Since our launch in September 2007, we have experienced growth at a nearly
  unprecedented rate,&quot; said Offerpal Media Founder and CEO, Anu Shukla.
  &quot;We're particularly proud of this latest milestone because it shows that we
  have delivered on our long-term vision of monetizing the social Web.&quot;

%p
  Offerpal Media was founded as the first offer-based payment solution for social
  applications on the Facebook platform. The company has since expanded to
  integrate with hundreds of applications across dozens of other top-tier social
  networks including MySpace, Bebo, hi5, Tagged and many more, as well as
  destination gaming, social networking and virtual world sites such as IMVU,
  Aeria Games, WeeWorld and others. The company has also aggregated several of the
  most popular direct payment options such as credit cards, PayPal, mobile
  payments and micro-transaction providers to deliver a full-service virtual
  currency payment platform.

%p
  The company has continued to expand in other ways as well. Through its
  OfferpalINSIGHT package, for instance, publishers and application developers can
  gain actionable insights into the dials and levers that drive the monetization
  of their virtual economies. Its partnership with mobile SDK provider Tapjoy,
  allows mobile developers to easily plug Offerpal's payment platform into their
  iPhone applications. Most recently, the company added OfferpalSECURE to its
  suite of monetization services as a means to reduce the lost revenues resulting
  from fraudulent user activity.

%p
  In February of this year, Offerpal received $15 million in Series B venture
  capital funding from D. E. Shaw Ventures, InterWest Partners and North Bridge
  Venture Partners. Although profitable since shortly after its launch, the
  company has used the additional funding to more rapidly extend its product
  offerings and expand into new markets.

%p
  Doug Pepper, General Partner, InterWest Partners, said, &quot;InterWest invested
  in Offerpal because we believe they have the vision to build a large,
  sustainable company with differentiated products to tap into the fast growing
  social and gaming markets.&quot;

- about_blurb(:offerpal)

%h2 Tapjoy Contact:
- press_contact(:tapjoy)
