- @press_title = "Offerpal Media Launches New Cross-Platform User Acquisition and Re-engagement Channel for Social Game Developers"
- @press_subtitle = "SocialKast provides reach to more than one billion users across major media sites"

%p
  - press_date('Seattle, WA')
  At the Casual Connect conference today in Seattle, Offerpal Media
  (#{link_to_offerpal}) announced the launch of SocialKast, a powerful new user
  acquisition and re-engagement solution that makes it easy for game developers to
  connect with massive audiences across multiple social channels and major media
  platforms. Offerpal's SocialKast will provide access to more than one billion
  users in over 150 countries through integrations with open application platform
  providers such as Yahoo! and others.

%p
  &quot;In the current environment, it has proven both costly and difficult for
  game developers to find new sources of distribution,&quot; said George Garrick,
  Chairman and CEO of Offerpal Media. &quot;SocialKast solves this problem by
  boosting a game's K-factor to accelerate viral growth and lower the developer's
  cost of acquisition. It also enables gamers to exchange detailed and timely
  notifications with each other regardless of which platform they're on, while
  benefiting publishers, platforms, networks and advertisers by attracting new
  users, generating more page views and broadening the social graph.&quot;

%p
  Offerpal's SocialKast allows game developers and social platforms to write once
  in order to interact with multiple platforms using a set of lightweight REST
  messaging APIs and javascript calls. Developers can distribute both user-to-user
  and application-to-user invites, gifts, notifications and other types of
  text-based or graphical messages directly into the activity streams, email
  inboxes and other key areas of Offerpal's partner sites. For example, messages
  from a game on any platform or web site using SocialKast will be distributed through
  #{link_to('Yahoo!\'s Updates API', 'http://developer.yahoo.com/social/updates/')},
  which will make it possible for those actions to be shared by users in a variety
  of formats across Yahoo!. By taking advantage of the open platforms and social
  sites linked together by Offerpal SocialKast, developers can further extend
  their reach and drive viral awareness and distribution of their games.

%p
  Access to SocialKast is available as a value-added service to select game
  developers and social platforms using Offerpal's full-service monetization
  platform, which allows gamers to earn virtual currency by taking part in
  alternative payment options such as advertising offers, surveys, shopping
  rewards and other brand engagements.

%p
  &quot;We have long trusted Offerpal as a strategic monetization partner, and we
  are extremely enthusiastic about this new distribution service as well,&quot;
  said Jason Loia, chief operating officer of Digital Chocolate. &quot;Offerpal
  Connect promises to give our viral distribution efforts an enormous boost, lower
  our advertising costs, drive user engagement, provide new sources of traffic,
  and reduce our dependence on any one platform - all with very little development
  resources or technical integration required.&quot;

- about_blurb(:offerpal)

%h2 Contact Information:
= press_contact(:tapjoy)

%h2 Media Information:
= press_contact(:media)
