- @press_title = "Offerpal Media Helps Game Developers Triple Offer-Based Revenue With In-Game Promotional Campaigns"
- @press_subtitle = "New white paper shares best practices in virtual currency monetization"

%p
  - press_date(:fremont)
  Offerpal Media (#{link_to_offerpal}), the leader in virtual currency payment
  alternatives, published a white paper today on best practices to help game
  developers and social publishers monetize their virtual currencies through
  in-game promotional offers and alternative payments. Titled &quot;Beyond the
  Offerwall: Monetizing virtual currency through in-game promotions,&quot; the
  white paper reveals actual data from in-game promotions the company conducted
  with several of its top publishing partners in May, 2010.

%p The paper is available for download at http://offerpalmedia.com/white-papers.php.

%p
  Key findings include:
  %ul
    %li Participating developers experienced a more than 3x increase in offer-based advertising revenue versus normal daily revenue
    %li 93% of the users who completed ad offers through the in-game promotions were new users who had never taken part in an offer in that game before
    %li Within the first week after completing an in-game promotional offer, over 10% of these newly monetized users had returned to fill out another offer or make a direct payment
    %li The effective CPM rate was $2.03, compared to typical CPM rates in the range of $0.10 to $1.00.

%p
  &quot;Traditional 'offerwalls' remain the most effective foundation for
  developers to monetize their virtual currency, but only about 10% of a game's
  audience tends to find them,&quot; said Mihir Shah, Chief Revenue Officer of
  Offerpal Media. &quot;In-game promotional campaigns allow our game developers to
  reach a broader audience, do much more interesting user and demographic
  targeting, and get best-in-industry payouts based on higher volumes and
  contextual relevance from major advertisers. We uniquely understand that this is
  a direct response business first and foremost, not only a payments business.&quot;

%p
  An &quot;in-game promotion,&quot; as used in the paper, refers to any
  advertising offer that is presented in certain junctions of a game that allow it
  to engage with users on a deeper level or to reach more users than a traditional
  &quot;offerwall.&quot; Examples of in-game promotions include promotional
  display banners, special notifications, in-game flash integrations, branded
  virtual goods and more.

- about_blurb(:offerpal)

%h2 Contact Information:
= press_contact(:tapjoy)

%h2 Media Information:
= press_contact(:media)
