- @press_title = "Offerpal Media Launches Display Ad Network for Social Media"
- @press_subtitle = "New solution gives advertisers more reach into social media"

%p
  - press_date
  Offerpal Media (#{link_to_offerpal}), the leader in monetization solutions for
  online games, virtual worlds and social networks, announced today the launch of
  a new display advertising network to enable brand and performance-based
  advertisers to reach their target audiences on social networks while monetizing
  a higher percentage of users for application developers and social publishers.
  Launched at the ad:tech digital marketing conference in San Francisco, the ad
  network features an array of IAB-standard ad units as well as rich-media
  opportunities to help advertisers connect with Offerpal's network of more than
  225 million users.

%p
  &quot;The display ad network is a critical piece in allowing us to offer a
  one-stop-shop for social advertising and monetization,&quot; said George
  Garrick, Chairman and CEO of Offerpal Media. &quot;Developers can now monetize
  their complete user experience with just one company, and advertisers can work
  with us to meet all of their marketing objectives from brand building and social
  reach to customer acquisition.&quot;

%p
  The Offerpal network averages nearly 100 million unique visitors per month and
  spans more than 2,000 social web sites and applications. Advertisers of all
  sizes are able to reach this highly engaged social audience through a variety of
  IAB compliant ad units as well as rich media ad units and expandable ads.
  Additionally, Offerpal caters to both brand advertisers and performance
  marketers by providing an assortment of flexible pricing options, including CPM,
  CPC, CPA and a Cost per Install model for game developers looking to acquire new users.

%p
  For game developers and social publishers, the addition of display advertising
  to Offerpal's current offers platform and alternative payment solutions enables
  them to monetize 100% of their traffic. The display network leverages Offerpal's
  advanced optimization engine to maximize publisher revenue, as well as the
  company's rigorous compliance processes to ensure all ads meet the advertising
  policies established by relevant social platforms and the company's own
  industry-leading quality standards. Publishers can take advantage of a
  self-serve onboarding interface to get up and running on the ad network within
  minutes, and they'll also benefit from Offerpal's global monetization, real-time
  analytics and bi-monthly payment terms.

%p
  &quot;We are excited to have another monetization solution from a company we
  know and trust,&quot; said Erik Hedges of Tall Tree Games, whose game Fish World
  has more than 4 million monthly active users. &quot;Given all the consolidation
  among social ad networks recently, there is definitely room in the marketplace
  for new competition, especially from a company with the advertiser relationships
  and industry know-how that Offerpal has.&quot;

- about_blurb(:offerpal)

%h2 Contact Information:
- press_contact(:tapjoy)

%h2 Media Information:
- press_contact(:media)
