- @press_title = "Offerpal Hosts Forum on the Future of Social and Mobile Gaming at GDC 2010"
- @press_subtitle = "Senior executives from top social and mobile gaming companies share their visions of the future"

%p
  - press_date(:fremont)
  Offerpal Media (#{link_to_offerpal}), the leader in virtual currency payment
  alternatives, today announced it will be hosting a forum during the Game
  Developers Conference 2010 in San Francisco, CA. The half-day forum, titled
  &quot;Social and Mobile Gaming: What's Next?,&quot; brings together many of the
  industry's most senior executives and visionary thought leaders to debate the
  future of social and mobile gaming. The event occurs on Friday, March 12, 2010,
  from 3:00 p.m. to 5:30 p.m. PT at Moscone Center South Hall, Room 310, with a
  networking reception to immediately follow.

%p Confirmed speakers include:
%ul
  %li Michael Arrington, Editor, TechCrunch
  %li Jeremy Liew, Managing Director, Lightspeed Venture Partners
  %li Trip Hawkins, CEO, Digital Chocolate
  %li Peter Relan, Co-Founder and Chairman, Crowdstar
  %li Vish Makhijani, COO, Zynga
  %li Christa Quarles, CFO, Playdom
  %li John Earner, General Manager, Playfish Europe Studios
  %li Arthur Chow, COO, 6 waves
  %li Neil Young, CEO, ngmoco
  %li Bart Decrem, CEO, Tapulous
  %li Aaron Wong, Sr. Product Manager, Zynga Mobile
  %li Lee Linden, Co-Founder, Tapjoy
  %li George Garrick, CEO, Offerpal Media

%p
  &quot;The social and mobile gaming industries ballooned in 2009, thanks in large
  part to the emergence of virtual goods business models,&quot; said George
  Garrick, CEO of Offerpal Media. &quot;But is all this growth sustainable, or are
  we experiencing a bubble? And if so, what can we do to keep it from popping? Our
  forum at the GDC will bring together more than a dozen of the industry's top
  visionaries to debate the future of the industry and help decide where we go
  from here.&quot;

%p
  The &quot;Social &amp; Mobile Gaming: What's Next?&quot; forum will feature two
  panels. The first, on social gaming, will be moderated by Michael Arrington of
  TechCrunch and will ask tough questions of panelists from Zynga, Playdom,
  Crowdstar, Playfish and 6 waves about what they think it will take for their
  industry to double in size this year, as many have predicted, and what threats
  could derail the industry as it grows. The second panel, on mobile gaming, will
  be moderated by Jeremy Liew of Lightspeed Venture Partners and will ask
  panelists from Digital Chocolate, ngmoco, Tapulous, Zynga, Playdom and Tapjoy
  how to overcome challenges to the distribution, user experience and monetization
  of free-to-play games on mobile platforms.
%p
  The forum is open to all attendees of GDC 2010. While there is no fee to attend,
  attendees must be registered with GDC 2010. For more information on &quot;Social
  &amp; Mobile Gaming: What's Next?,&quot; please visit www.offerpalmedia.com/gdc.
  To register for GDC 2010, please visit
  #{link_to('www.gdconf.com', 'http://www.gdconf.com')}.

- about_blurb(:offerpal)

%h2 Company Contact:
- press_contact(:tapjoy)
%h2 Media Contact:
- press_contact(:media)
%p
  If you're interested in speaking with Offerpal at GDC 2010, visit booth 2212 or
  contact Matt McAllister at #{mail_to('matt.mcallister@offerpal.com')} to
  schedule an appointment.
