- @press_title = "Offerpal Media Rolls Out New Direct Payment Options Worldwide, Hires Industry Veteran Alex Brutin"
- @press_subtitle = "Partnerships with Zeus Research, paysafecard, MyCard, Rixty, BillMyParents, ClickandBuy and others help boost developer monetization in nearly 200 countries"

%p
  - press_date(:fremont)
  Offerpal Media (#{link_to_offerpal}), the leader in virtual currency payment
  alternatives, announced today that it recently integrated several new direct
  payment options into its platform in order to help social developers and online
  game publishers accept payments from users who do not have or are unwilling to
  use credit cards. The new payment options include pre-paid debit cards, phone
  cards, e-payment systems, parent-approved payments and more, from such partners
  as Zeus Research and STi Prepaid, paysafecard, MyCard, Rixty, BillMyParents,
  ClickandBuy and others-covering nearly 200 countries in all.

%p
  The company also announced it recently hired payment industry veteran Alex
  Brutin as its Vice President of Business Development. Mr. Brutin is responsible
  for forging new relationships with other direct payment providers and
  monetization partners as well as new strategic initiatives. Having previously
  worked as the Head of Channel Partnerships at Google Checkout and in Merchant
  Services Business Development at PayPal, Mr. Brutin most recently was the VP of
  Business Development at FreeCause, a free, fully-customizable toolbar that
  helps organizations reach and engage their supporters in fundamentally new
  ways. He has his MBA from the Walter A. Haas School of Business at UC Berkeley.

%p
  &quot;Our vision is to help developers monetize larger portions of their user
  bases, whether through alternative payment options like offers, videos and
  surveys, or cash payment methods such as credit cards and all their substitutes,
  &quot; said George Garrick, Chairman and CEO of Offerpal Media. &quot;There's a
  lot of innovation in the online payment space at the moment, with all sorts of
  new payment products that enable developers to monetize distinct sets of users
  based on geography, demographics and behavior types. We're proud to bring on
  board someone like Alex to help us identify the most appropriate partners to
  work with and build up profitable relationships.&quot;

%p
  The following direct payment options have been added to Offerpal's alternative
  payment platform in recent months:
  %ul
    %li
      %strong STi Prepaid phone cards:
      Using Zeus Research's patent-pending conversion system, gamers can purchase virtual currency by typing in pin numbers found on the back of pre-paid phone cards from STi Prepaid, a long-established name recognized throughout the U.S. STi sells in excess of 200 million cards each year through more than 225,000 national retail outlets.
    %li
      %strong paysafecard:
      The leading online payment method in Europe, paysafecard allows users to purchase prepaid vouchers and authorize payments online by simply entering a 16-digit PIN code. Paysafecard is available at 280,000 outlets in more than 24 European countries.
    %li
      %strong MyCard:
      MyCard offers several types of stored value cards such as scratch cards, thermosensitive paper and more, available in retail outlets, convenient stores and websites all throughout Asia. Furthermore, it also provides diverse micropayment methods for purchase online. MyCard was founded in 1983 and is based in Taiwan.
    %li
      %strong Rixty:
      Rixty is an alternative payment platform that makes it easy for youth and adults without credit cards to convert their cash into online credits at more than 10,000 Coinstar kiosks and 10,000 convenience stores via the Rixty prepaid card. Rixty recently announced it had expanded its system to safely enable kids under the age of 13 to purchase online.
    %li
      %strong BillMyParents:
      BillMyParents is a youth payment system that lets teens and tweens shop online without a credit card and gives parents the ability to easily track and control their teen's spending &ndash; while ensuring that credit card numbers and personal information are kept safe and secure. BillMyParents is a product of Socialwise, Inc. (OTCBB:SCLW).
    %li
      %strong ClickandBuy:
      ClickandBuy is a leading Internet payment service provider that enables users to conduct one-click transactions in 120 currencies throughout the world and offers 50 national and international modes of payment. Founded in 1999, ClickandBuy is a wholly-owned subsidiary of Deutsche Telekom AG.

%p
  Offerpal already works with many other direct payment providers, from PayPal and
  Visa/MasterCard to Zong, Boku, DaoPay, Amazon Payments, Paymo, Ultimate Game
  Card, PayByCash, Social Gold and more. The company recently passed its Payment
  Card Industry (PCI) compliance validation, meaning that it meets the fraud
  prevention and data security standards established by the PCI and can now
  process credit card transactions more efficiently. The company expects to roll
  out several more payment options in coming months.

- about_blurb(:offerpal)

%h2 Contact Information:
- press_contact(:tapjoy)

%h2 Media Information:
- press_contact(:media)
