- @press_title = "Offerpal Media Publishes New Policies for Mobile Advertising Offers"
- @press_subtitle = "Establishes new standards to protect the user experience in mobile games and applications"

%p
  - press_date(:fremont)
  Offerpal Media (#{link_to_offerpal}), the leader in virtual currency payment
  alternatives, today published a set of formal advertising policies for offers
  and other marketing actions that appear in applications on mobile platforms
  such as the iPhone, Android and others. The policies can be found at
  http://www.offerpalmedia.com/mobile-ad-policies.

%p
  The policies echo those previously published by Offerpal Media for advertising
  offers on social networks, virtual worlds, online gaming sites and other web
  properties. One notable difference is that the policies for mobile offers take
  into consideration the limited screen size of mobile devices and dictate that
  the terms and conditions of all mobile offers must appear in sufficient font
  size to be easily identified and read by the user.

%p
  &quot;Offerpal raised the bar by setting acceptable standards for currency-based
  offers on social networking platforms and the open web. With the rapid growth of
  mobile gaming, it was time to set policies and standards for mobile offers as
  well,&quot; said George Garrick, Chairman and CEO of Offerpal Media. &quot;Our
  policies are more stringent than any other mobile advertising network, but we
  felt this was an important step to protect the user experience. We encourage
  other providers to follow our lead and ban any offers that are at all misleading
  or objectionable.&quot;

- about_blurb(:offerpal)

%h2 Contact Information:
- press_contact(:tapjoy)

%h2 Media Information:
- press_contact(:media)
