- @press_title = "Offerpal Media Launches GamePoints.com for Consumers to Earn Gaming Currency"
- @press_subtitle = "Gamers can earn free Game Points redeemable for virtual currency in more than 1,500 online games and social applications"

%p
  - press_date(:fremont)
  Offerpal Media (#{link_to_offerpal}), the leader in virtual currency payment
  alternatives, today announced the beta launch of
  #{link_to('GamePoints.com', 'http://www.gamepoints.com')}, a consumer Web site
  that rewards its members with virtual currency for use in their favorite online
  games when they shop at big-brand retailers, take part in offers from trusted
  advertisers, complete market research surveys, watch online videos, trade in
  unwanted gift cards or conduct other marketing actions. Game Points can be
  exchanged for in-game virtual currency in more than 1,500 online games and
  applications across the Web's top social networking platforms, virtual worlds,
  MMOs and other gaming sites.

%p
  &quot;Virtual currency has become an integral part of the online gaming
  experience, enabling consumers to purchase everything from clothes and
  accessories for their avatars to functional items that confer some type of
  advantage within the game,&quot; said George Garrick, CEO of Offerpal Media,
  Inc. &quot;We launched GamePoints.com to empower online gamers with ways to earn
  virtual currency for free rather than having to pay for it, and to give them the
  choice of spending that currency wherever they'd like within our vast network.&quot;

%p
  At launch, consumers have thousands of options for acquiring Game Points, including:

%ul
  %li
    %strong Shopping:
    Earn 2 &ndash; 30% of the total purchase price when shopping at big-brand retailers such as Macy's, Gap, Buy.com, Sears, Snapfish, Symantec, Eastern Mountain Sports, CostPlus and hundreds more.
  %li
    %strong Taking Part in Offers:
    Take advantage of coupons, discounts and other ad offers from advertisers including Netflix, Disney, Discover Card, New York Times, DirecTV and thousands more.
  %li
    %strong Completing Surveys:
    Fill out online surveys from top market research firms including Nielsen, comScore, Synovate and others.
  %li
    %strong Trading in Gift Cards:
    Send in unwanted gift cards using a free shipping label through Plastic Jungle and receive Game Points for the exchange value of the balance remaining on the card.
  %li
    %strong Recycle Used Electronics:
    Trade in old cell phones, laptops, PDAs, camcorders and other electronics through Gazelle.
  %li
    %strong Purchase Music or Movie Tickets:
    Purchase tickets to movies currently playing in theaters through Fandango or MP3 music downloads through iTunes.
  %li
    %strong Subscribe to Magazines:
    Choose from popular magazine titles such as Cosmopolitan, Cook's Illustrated, People, Men's Health and many more.
  %li
    %strong Direct Payments:
    Purchase virtual currency directly &ndash; often at discounted rates &ndash; through a number of cash payment options, including credit cards, e-wallets, pre-paid debit cards, mobile billing and more.

%p
  For game developers and social publishers, Offerpal Media's alternative payment
  platform is already the industry's leading solution for in-game virtual currency
  monetization. Through GamePoints.com, Offerpal now helps game developers capture
  revenue outside of their application or web site as well. At the same time,
  GamePoints.com represents a powerful new marketing channel for advertisers and
  marketers looking to conduct targeted brand building and customer acquisition
  campaigns. Placement is available in a wide variety of ad formats and on
  pay-for-performance or engagement-based pricing models.

%p
  At launch, participating gaming applications include Zynga's FarmVille, YoVille,
  Zynga Poker, Mafia Wars, Caf&eacute; World, PetVille, FishVille, Vampire Wars
  and others; Playdom's Mobsters, Sorority Life, Social City, Tiki Resort and
  others; Digital Chocolate's MMA Pro Fighter; HitGrab's Mousehunt; TheBroth's
  Barn Buddy; Tall Tree Game's Fish World; K-Factor Media's Castle Age; Tree
  Room's My Town; Apps-O-Rama-s Car Madness; Offbeat Creations' Be a Tycoon;
  BitRhymes' The Warlords; Five Minutes' Happy Farm; and many others.

%p
  During the beta program, Game Points can be spent in gaming applications on
  Facebook; after the general release Game Points will be able to be spent in
  games on MySpace, Bebo, Hi5 and other social networks as well as standalone
  MMO and virtual world sites.

- about_blurb(:offerpal)

%h2 Contact Information:
= press_contact(:tapjoy)

%h2 Media Information:
= press_contact(:media)
