- @press_title = "Offerpal Media Acquires Leading Mobile Monetization Provider Tapjoy"
- @press_subtitle = "Transaction strengthens Offerpal's position as the leader in monetizing and distributing mobile applications"

%p
  - press_date(:fremont)
  Offerpal Media (#{link_to_offerpal}), the leader in virtual currency payment
  alternatives, today announced it has acquired Tapjoy, creators of the Tapjoy
  platform for mobile developers and the leading provider of monetization and
  distribution services on the iPhone, Android and other emerging mobile
  platforms. The acquisition accelerates Offerpal's expansion into the rapidly
  growing mobile market by extending the company's virtual currency monetization
  model to mobile applications.

%p
  The Tapjoy platform includes a turnkey software library that enables mobile
  developers to embed fully functional virtual goods storefronts with the ability
  to process microtransactions. The library also comes with a built-in
  Pay-Per-Install user acquisition program, an ad optimization layer and
  application analytics. As part of the agreement, the co-founders of Tapjoy will
  join Offerpal in leadership positions to help expand its mobile business.
  Financial terms of the acquisition were not disclosed.

%p
  &quot;There are more than 200 million mobile phone users in the U.S. alone, and
  most of them will soon have a way to play games on their devices,&quot; said
  George Garrick, Chairman and CEO of Offerpal Media. &quot;We also expect the
  microtransaction model to move beyond games, and for there to be practically
  unlimited applications for microtransactions on mobile platforms as well as the
  Web. The addition of Tapjoy provides us with a proven product that dovetails
  nicely with our own platform strategy and creates tremendous economic advantages
  for mobile developers.&quot;

%p
  Offerpal Media's full-service monetization platform is a hosted service
  empowering more than 2,000 game developers and social publishers to monetize
  virtual currency through alternative payment methods such as offers, surveys,
  videos, shopping rewards, tasks and more. The company first announced its mobile
  program in January, 2009. Today, mobile-friendly versions of its network offers
  are running on top iPhone applications such as Tap Tap Revenge, Tap Farm,
  Papaya, Mobsters: Big Apple, and many others.

%p
  The Tapjoy founders, Lee Linden and Ben Lewis, originally developed top-ranked
  iPhone applications such as TapDefense, TapSudoku, TapWord and others. They used
  key learnings from building their own bestselling and highly profitable apps to
  create the Tapjoy services that now benefit other developers. Currently, more
  than 1,000 mobile developers have integrated all or parts of the Tapjoy
  library, and the company's annual installs, user base and revenue is expected to
  quadruple this year. Tapjoy's reach extends to over 35 million mobile consumers.
  The Tapjoy library is the leading virtual goods and virtual currency service on
  the iPhone and the only such service available on the Android.

%p
  &quot;The opportunity for innovation in mobile gaming is almost unlimited, but
  developers face great challenges when it comes to monetizing and distributing
  their applications,&quot; said Lee Linden, Co-founder of Tapjoy. &quot;Our goal
  is to help mobile developers improve their applications, grow their user bases
  and generate higher revenues, and through this deal with an industry leader like
  Offerpal, we can now do all of that more effectively.&quot;

- about_blurb(:offerpal)

%h2 Contact Information:
= press_contact(:tapjoy)

%h2 Media Information:
= press_contact(:media)
