- @press_title = "GamePoints.com Tops Half a Million Users in First Month"
- @press_subtitle = "Videos, surveys, shopping rewards among most popular alternative payment options"

%p
  - press_date(:fremont)
  Offerpal Media (#{link_to_offerpal}), the leader in virtual currency payment
  alternatives, announced today that its new consumer website,
  #{link_to('GamePoints.com', 'http://www.gamepoints.com')}, has received more
  than 500,000 users since its beta launch less than a month ago, quickly making
  it the Web's largest rewards site specifically for online gamers. Live since
  May 4, 2010, the site enables consumers to earn virtual currency to use in their
  favorite social games and MMOs by taking part in targeted advertising offers and
  other types of marketing actions.

%p
  &quot;The early success of GamePoints.com signifies the strong demand and clear
  enthusiasm social gamers have for earning virtual currency through alternative
  payment options, as well as their willingness to do so outside of the gaming
  environment,&quot; said George Garrick, Chairman and CEO of Offerpal Media.
  &quot;There is huge spending power being acquired by GamePoints.com members,
  and that translates into significant liquidity and a new, sustainable customer
  acquisition channel for our developer partners.&quot;

%p
  To date, GamePoints.com's most popular methods for earning virtual currency, in
  order, have been watching videos, completing surveys, earning shopping rewards,
  taking part in ad offers, downloading music and subscribing to magazines. Other
  popular ways of earning free Game Points include trading in unwanted gift cards,
  purchasing movie tickets, recycling old electronics and more.

%p
  &quot;Gamepoints.com represents an important new paradigm in how users can earn
  and redeem virtual currency,&quot; said Sumit Gupta of BitRhymes, developers of
  the popular social games Tag Me, Wild Paradise and many others. &quot;It gives
  our players a much larger variety of proven and unique ways to earn credit than
  the current in-game transactional model, as well as a seamless process for
  redeeming those credits for our own game currency. This model allows more of our
  users to engage more deeply in our games by giving them a place where they can
  earn credits without interrupting their game play.&quot;

%p
  While GamePoints.com is in beta, the site's virtual currency can be redeemed in
  approximately 100 applications on Facebook, including 8 of the top 10 games as
  ranked by AppData. Soon users will be able to spend Game Points in hundreds of
  other social games, virtual worlds and MMOs across multiple platforms and the
  open web. Offerpal will also be integrating new alternative payment options into
  the site in the near future.

- about_blurb(:offerpal)

%h2 Contact Information:
= press_contact(:tapjoy)

%h2 Media Information:
= press_contact(:media)
