- @press_title = "Offerpal Media to Deliver Monetization Services for Social Game Developers on the Yahoo! Application Platform"

%p
  - press_date(:fremont)
  Offerpal Media (#{link_to_offerpal}) today announced that its alternative
  payment solutions will now be available to developers of social games and
  other applications distributed through the Yahoo! Application Platform (Y!AP).
  Y!AP, which is part of Yahoo!'s Open Strategy, is an open application platform
  globally available to enable developers to build and deploy applications on
  leading Yahoo! properties, such as the Yahoo! homepage, MyYahoo!, Yahoo!
  Toolbar, and Yahoo! Pulse. Yahoo! reaches more than 600 million users every
  month.

%p Offerpal Media's alternative payment engine enables developers on the Yahoo! Application Platform to offer:

%ul
  %li Thousands of free trials, discounts, promotions and other currency-based advertising offers from big brands such as Netflix, Disney, Discover Card, New York Times, DirecTV and many others
  %li A complete suite of alternative payment options, including surveys, videos, shopping rewards, tasks and other methods of acquiring virtual currency for free
  %li Global direct payment options such as mobile billing, prepaid debit cards, electronic wallets, micro-transaction solutions and other worldwide, cash-based payment methods
  %li An application install program capable of delivering large numbers of new users to game developers on a scalable and cost-effective basis
  %li Complete customer service and fraud prevention capabilities, real-time reporting and analytics, an A/B split testing framework, currency fulfillment, proprietary optimization and targeting technologies, and other value-added services.

%p
  &quot;We are thrilled to be working with Yahoo! to help developers more easily
  and effectively monetize their applications on the Yahoo! Application
  Platform,&quot; said George Garrick, CEO of Offerpal Media. &quot;As the leading
  monetization engine of choice for thousands of games and applications across the
  open web, multiple platforms, and mobile channels, we see Yahoo! as a powerful
  channel to further extend our reach to one of the largest and most active
  communities on the Web.&quot;

- about_blurb(:offerpal)

%h2 Contact Information:
= press_contact(:tapjoy)

%h2 Media Information:
= press_contact(:media)
