- @press_title = "Tapjoy Launches Pay-Per-Action&trade; Distribution Model for Android, iOS Applications; Analytics Partnership with Apsalar"

%p
  - press_date('February 9, 2011')
  Tapjoy, Inc. (#{link_to_tapjoy}) today announced the mobile industry's first
  Pay-Per-Action&trade; app distribution service to significantly improve
  advertising effectiveness, engagement and reach for brand advertisers, mobile
  game developers and others looking to grow their mobile social app footprint.

%p
  The new service allows iOS and Android app developers to reward users for not
  only installing and downloading their app but also for completing some type of
  action within it, such as watching the tutorial, getting past a certain level or
  any other specific activity. Unlike other advertising methods, Tapjoy's new
  Pay-Per-Action service delivers a higher return on investment by tracking actions
  further along the conversion funnel and guaranteeing a much higher level of
  engagement and value.

%p
  Tapjoy also announced that it has partnered with Apsalar
  (#{ link_to 'http://apsalar.com', 'http://apsalar.com' }), the most comprehensive mobile behavioral
  analytics platform on the web. The Apsalar analytics platform defines and
  interprets conversion funnels in one app or across multiple apps and offers
  cohort-based segmentation to run life-cycle analysis of app users. Apsalar
  is the clear analytics choice for developers who want to optimize user
  monetization and retention. Tapjoy will make Apsalar's analytics available
  natively within the Tapjoy dashboard.

%p
  &quot;The Pay-Per-Install model has proven extremely successful in driving
  cost-effective user acquisition for mobile developers. The release of our
  Pay-Per-Action SDK, however, takes that model to the next level,&quot; said
  Linda Tong, senior product manager at Tapjoy. &quot;Now, instead of simply
  awarding virtual currency when a user installs your app, we allow you to
  incentivize users to get past Level 1, for instance, or do whatever it is you
  feel will truly engage them in your app and get them to keep using it.&quot;

%p
  &quot;Tapjoy is a highly trusted partner for our mobile advertising
  efforts,&quot; said Steve Hartman, VP of Marketing at GameFly. &quot;They have
  been very effective in driving installs of our GameCenter app, and with the
  launch of their new PPA model, we expect our ROI to get even better. We expect
  to significantly increase conversions that will lead to acquiring GameFly users
  who are more loyal and engaged than ever.&quot;

%p
  The new Pay-Per-Action SDK ties into Apsalar's user-level analytics platform,
  which allows developers to track and analyze their conversion funnels and to
  manage user retention and monetization by grouping users into cohorts or groups
  of users who downloaded their apps within a specific week. By identifying the
  point at which most users tend to stick around and incentivizing users to reach
  that stage, advertisers and developers can optimize retention and conversions
  in order to deliver a better user experience, conduct more cost-effective user
  acquisition campaigns, and increase their app's revenues and profitability.

%p
  &quot;We already use Tapjoy for distribution, and have implemented Apsalar for
  advanced engagement and conversion analytics,&quot; says Rizwan Virk, CEO of
  Gameview Studios, makers of popular iPhone games Tap Fish, Tap Ranch and Tap
  Town. &quot;We think that having both of these companies working together will
  be great for developers like us.&quot;

%p
  Developers or advertisers interested in utilizing the Pay-Per-Action SDK
  should email info@tapjoy.com.

%h2 About Apsalar
Apsalar is the most comprehensive mobile analytics platform for iOS and Android
developers. The company's user-level analytics enable mobile developers and
publishers to increase conversion rates, optimize retention &amp; monetization,
as well as enhance user experience within their apps. Apsalar's innovative
cohort-based engagement analyses and conversion funnels are helping major
mobile applications maximize their revenues. The company is headquartered in
San Francisco, California and was founded by a team of veterans in user-level
analytics and conversion optimization. Investors include 500 Startups and Morado
Ventures. For more information, visit
#{ link_to 'apsalar.com', 'http://apsalar.com' }.

- about_blurb

%h2 Tapjoy Contact:
- press_contact(:tapjoy)
%h2 Apsalar Contact:
- press_contact({ :name => 'Michael Oiknine', :company => 'Apsalar', :phone => '(415) 335-6459', :email => 'moiknine@apsalar.com' })
%h2 Media Contact:
- press_contact(:media)
