- @press_title = "Tapjoy Announces Program to Port Apps to Android, Backed by $5 Million Fund"
- @press_subtitle = "The Tapjoy Android Fund offers working capital, development, porting services and distribution to select developers"

%p
  - press_date
  With the largest market share among all mobile operating systems and
  approximately 400,000 new Android-enabled devices being activated every
  day, the Android platform is quickly becoming the go-to choice for many
  top app developers. To help them transition existing games over to Android,
  Tapjoy (#{link_to_tapjoy}), the leading discovery, engagement and monetization
  platform for mobile applications, today announced a new program, backed by a
  $5 million fund, that will port selected apps over to Android.

%p
  The Tapjoy Android Fund is designed to offer monetary and development support
  to game developers looking to port existing content and apps to the Android
  platform. Tapjoy will provide full porting and testing services to ensure the
  apps work on all of the leading Android handsets, and developers will have the
  option to leverage Tapjoy's virtual currency monetization engine, its game
  state server for virtual economy management, its mobile analytics platform and
  other value-added services. Additionally, selected games will receive a free,
  large-scale distribution campaign for new user acquisition through the
  company's performance-based advertising network.

%p
  &quot;Tapjoy is in the business of democratizing the application ecosystem by
  bringing innovative content and targeted experiences to consumers while
  providing a level playing field for developers large and small to get their
  apps discovered,&quot; said Mihir Shah, President and CEO of Tapjoy. &quot;The openness
  and skyrocketing popularity of the Android platform makes it a perfect match
  for our long-term objectives. This new porting program will identify great
  apps and give them the opportunities they deserve.&quot;

%p
  Tapjoy is the largest and most effective platform to help mobile app
  developers distribute and monetize their content, spanning more than 1,000
  mobile applications and reaching over 200 million mobile consumers. The
  company's ad-funded payment platform and app discovery marketplace is used
  by hundreds of leading Android developers.

%p
  &quot;Tapjoy's development funds and expertise have really helped SkyVu accelerate
  its Android development cycles,&quot; said Benjamin Vu, CEO of SkyVu. &quot;SkyVu is
  excited to be bringing several new BATTLE BEARS games to Android this year.
  Thanks to the development funds from Tapjoy, we're able to get to the market
  in record time.&quot;

%p
  Applications are currently being considered for the Tapjoy Android Fund and
  porting program based on the quality of the gaming experience and the talent
  of its developers. Those interested in applying for the program should visit
  #{link_to('www.tapjoy.com/AndroidFund', '/androidfund')} or email
  #{mail_to('publishing@tapjoy.com')} to learn more.

- about_blurb

%h2 Tapjoy Contact:
- press_contact(:tapjoy)
%h2 Media Contact:
- press_contact(:media)
