- content_for :page_head, stylesheet_link_tag('about_us')
- content_for :page_head, stylesheet_link_tag('press')

#about_us
  #left
    = render :partial => 'homepage/sub_nav'
    = render :partial => 'homepage/press_feed'
  #right
    %img.header{:src => "/images/tapjoy_in_the_press.png"}/
    .clear
    Empty Press Area
.clear