:ruby
  data = {
    'Date' => @date,
    'Timezone' => Time.zone.to_s,
    'TotalOffers' => @total_offers,
    'PageSize' => @page_size,
    'TotalPages' => @total_pages,
    'CurrentPage' => @current_page,
    'Apps' => @appstats_list.map do |offer_with_stats|
      offer = offer_with_stats[0]
      appstats = offer_with_stats[1]
      {
        "Name"                       => offer.name_with_suffix,
        "AppKey"                     => offer.id,
        "Platform"                   => offer.get_platform,
        
        "PaidInstalls"               => appstats.stats['paid_installs'].sum,
        "PaidInstallsHourly"         => appstats.stats['paid_installs'],
        "PaidClicks"                 => appstats.stats['paid_clicks'].sum,
        "PaidClicksHourly"           => appstats.stats['paid_clicks'],
        "Spend"                      => appstats.stats['installs_spend'].sum,
        "SpendHourly"                => appstats.stats['installs_spend'],
        
        "Sessions"                   => appstats.stats['logins'].sum,
        "SessionsHourly"             => appstats.stats['logins'],
        "NewUsers"                   => appstats.stats['new_users'].sum,
        "NewUsersHourly"             => appstats.stats['new_users'],
        "DailyActiveUsers"           => appstats.stats['daily_active_users'].sum,
        
        "OfferwallRevenue"           => appstats.stats['rewards_revenue'].sum,
        "OfferwallRevenueHourly"     => appstats.stats['rewards_revenue'],
        "OfferwallImpressions"       => appstats.stats['offerwall_views'].sum,
        "OfferwallImpressionsHourly" => appstats.stats['offerwall_views'],
        "OfferwallClicks"            => appstats.stats['rewards_opened'].sum,
        "OfferwallClicksHourly"      => appstats.stats['rewards_opened'],
        "OfferwallConversions"       => appstats.stats['rewards'].sum,
        "OfferwallConversionsHourly" => appstats.stats['rewards'],
        
        "FeaturedOfferRevenue"           => appstats.stats['featured_revenue'].sum,
        "FeaturedOfferRevenueHourly"     => appstats.stats['featured_revenue'],
        "FeaturedOfferRequests"          => appstats.stats['featured_offers_requested'].sum,
        "FeaturedOfferRequestsHourly"    => appstats.stats['featured_offers_requested'],
        "FeaturedOfferImpressions"       => appstats.stats['featured_offers_shown'].sum,
        "FeaturedOfferImpressionsHourly" => appstats.stats['featured_offers_shown'],
        "FeaturedOfferClicks"            => appstats.stats['featured_offers_opened'].sum,
        "FeaturedOfferClicksHourly"      => appstats.stats['featured_offers_opened'],
        "FeaturedOfferConversions"       => appstats.stats['featured_published_offers'].sum,
        "FeaturedOfferConversionsHourly" => appstats.stats['featured_published_offers'],
        
        "DisplayRevenue"             => appstats.stats['display_revenue'].sum,
        "DisplayRevenueHourly"       => appstats.stats['display_revenue'],
        "DisplayRequests"            => appstats.stats['display_ads_requested'].sum,
        "DisplayRequestsHourly"      => appstats.stats['display_ads_requested'],
        "DisplayImpressions"         => appstats.stats['display_ads_shown'].sum,
        "DisplayImpressionsHourly"   => appstats.stats['display_ads_shown'],
        "DisplayClicks"              => appstats.stats['display_clicks'].sum,
        "DisplayClicksHourly"        => appstats.stats['display_clicks'],
        "DisplayConversions"         => appstats.stats['display_conversions'].sum,
        "DisplayConversionsHourly"   => appstats.stats['display_conversions'],
      }
    end
  }

= data.to_json
