- @page_title = 'Password Reset'

%h1 Password Reset

%p Enter the email address associated with your account and we will send you a link to reset your password.

- form_tag(password_resets_path, :class => 'tjform') do
  %table
    %tr
      %th= label_tag(:email, 'Email Address')
      %td= text_field_tag(:email, '', :class => 'login')
    %tr
      %td{ :colspan => 2 }= submit_tag('Submit')

- content_for :page_javascript do
  :plain
    $(function() {
      $('#email').focus();
    });
  
- content_for :page_styles do
  :plain
    .login {
      width: 200px;
    }
