- @page_title = 'Reset Password'

%h1 Reset Password

%p Enter the email address associated with your account and we will send you a link to reset your password.

- form_tag(password_resets_path) do
  %table
    %tr
      %td= label_tag(:email, 'Email Address')
      %td= text_field_tag(:email, '', :size => '40')
    %tr
      %td{ :colspan => 2, :class => 'center' }= submit_tag('Submit')

- content_for :page_javascript do
  :plain
    $(document).ready(function() {
      $('#email').focus();
    });
  
- content_for :page_styles do
  :plain
    table {
      border-collapse: collapse;
    }
    
    td {
      padding: 3px 5px;
      text-align: right;
    }
    
    td.center {
      text-align: center;
    }
