:ruby
  selected = {
    :team => controller.action_name == 'team' ? 'selected' : '',
    :press => controller.controller_name == 'press' ? 'selected' : '',
    :careers => controller.controller_name == 'careers' ? 'selected' : '',
    :contact => controller.action_name == 'contact' ? 'selected' : '',
  }
- content_for :page_head, stylesheet_link_tag('facebox')
#sub_nav
  .thick_line
  = link_to "Meet the Team", '/site/team', :class => selected[:team]
  .dotted_line
  = link_to "Tapjoy in the Press", '/press', :class => selected[:press]
  .dotted_line
  %a{:href => "http://blog.tapjoy.com"}
    Read our Blog
  .dotted_line
  %a{:href => "/site/events", :rel => "facebox"}
    Events
  .dotted_line
  = link_to "Work at Tapjoy", '/careers', :class => selected[:careers]
  .dotted_line
  = link_to "Contact us", '/site/contact', :class => selected[:contact]
  .thick_line
