:ruby
  selected = {
    :press => controller.controller_name == 'press' ? 'selected' : '',
    :careers => controller.controller_name == 'careers' ? 'selected' : '',
    :contact => controller.action_name == 'contact' ? 'selected' : '',
  }
#sub_nav
  .thick_line
  %a{:href => "/site/team"}
    Meet the Team
  .dotted_line
  = link_to "Tapjoy in the Press", '/press', :class => selected[:press]
  .dotted_line
  %a{:href => "http://blog.tapjoy.com"}
    Read our Blog
  .dotted_line
  = link_to "Work at Tapjoy", '/careers', :class => selected[:careers]
  .dotted_line
  = link_to "Contact us", '/site/contact', :class => selected[:contact]
  .thick_line
