#sub_nav
  .thick_line
  %a{:href => "/site/team"}
    Meet the Team
  .dotted_line
  %a{:href => "/press", :class => "selected"}
    Tapjoy in the Press
  .dotted_line
  %a{:href => "http://blog.tapjoy.com"}
    Read our Blog
  .dotted_line
  %a{:href => "/site/careers"}
    Work at Tapjoy
  .dotted_line
  %a{:href => "/site/contact"}
    Contact us
  .thick_line