- @about_us = true
.titleHeader
  %h3 COMPANY OVERVIEW

.splitLayout
  = render :partial => 'about_left_nav'
  .team.plain_template
    .management.innercontents
      %h5 Fueling the growth of the largest social and mobile games since 2007.
      %p Tapjoy is the leader in monetization and distribution services for social and mobile gaming applications, MMOs, virtual worlds, social platforms and other publishers selling virtual goods or premium digital assets.
      %p Our alternative payment solutions enable developers to increase payment conversions and generate incremental revenue, while our cross-platform distribution channel delivers cost-effective user acquisition and re-engagement services across Yahoo, Google, Windows Live and other leading web sites and containers.
      %p The Tapjoy management team is led by seasoned Internet, gaming and advertising industry executives, and the company is backed by top-tier venture capital firms InterWest Partners, North Bridge Venture Partners, and D. E. Shaw Ventures.
      %p Tapjoy is headquartered in San Francisco, with offices in London, Tokyo and Silicon Valley.
