- @page_title = "About Tapjoy"
- content_for :page_head, stylesheet_link_tag('about_us')

#about_us
  #left
    = render :partial => 'homepage/sub_nav'
  #right
    %img.header{:src => "/images/about_tapjoy_header.png"}/
    %h1
      Fueling the growth of the largest social and mobile games since 2007.
    %p
      Tapjoy is the leader in monetization and distribution services for social and mobile gaming applications, MMOs, virtual worlds, social platforms and other publishers selling virtual goods or premium digital assets. Our alternative payment solutions enable developers to increase payment conversions and generate incremental revenue, while our cross-platform distribution channel delivers cost-effective user acquisition and re-engagement services across iOS, Android, Yahoo, Google, Windows Live and other leading web sites and containers.
    %p
      The Tapjoy management team is led by seasoned Internet, gaming and advertising industry executives, and the company is backed by top-tier venture capital firms InterWest Partners, North Bridge Venture Partners, Rho Ventures, and D. E. Shaw Ventures. Tapjoy is headquartered in San Francisco with an office in London.
    %h2
      Check out the links to the left to learn more or
      %a{:href => "/site/contact"}
        contact us right now!
.clear
