- content_for :page_head, stylesheet_link_tag('advertisers')
#advertisers
  %img.header{:src => "/images/tapjoy_for_advertisers.png"}/
  #about
    %p
      Our platform is deeply integrated into more than 2,000 of the most popular social and mobile gaming applications across every leading platform, helping you reach highly engaged consumers that no other ad network has access to.
    %p
      Not sold?
      %a{:href => "..."}
        Checkout how we made
        %label
          Kayak Mobile
        the #1 travel app
  #divider
  #become_an_advertiser
    %span
      Are you ready to start driving traffic to your mobile apps?
    %a
  %h2
    Advertiser Products
  #advertiser_phone
    %img.screenshot.offerwall.show{:src => "/images/offerwall.png"}/
    %img.screenshot.offerwall.show{:src => "/images/ppa.png"}/
    %img.screenshot.offerwall.show{:src => "/images/featured.png"}/
  #products
    .product
      %img{:src => "/images/offerwall_icon.png"}/
      %span
        Offerwall
      %p
        Our amazing documentation will melt in your mouth and not in your hand. You will feel like a new developer once you’re done reading! You will feel like a new developer once you’re done reading! You will feel like a new developer once you’re done reading!
    .product
      %img{:src => "/images/ppa_icon.png"}/
      %span
        Offerwall
      %p
        Our amazing documentation will melt in your mouth and not in your hand. You will feel like a new developer once you’re done reading! You will feel like a new developer once you’re done reading! You will feel like a new developer once you’re done reading!
    .product
      %img{:src => "/images/featured_icon.png"}/
      %span
        Offerwall
      %p
        Our amazing documentation will melt in your mouth and not in your hand. You will feel like a new developer once you’re done reading! You will feel like a new developer once you’re done reading! You will feel like a new developer once you’re done reading!
.clear