- content_for :page_head, stylesheet_link_tag('advertisers')
#advertisers
  %img.header{:src => "/images/tapjoy_for_advertisers.png"}/
  #about
    %p
      Whether you're looking to find new users for your paid app or drive users to complete defined actions within your apps, Tapjoy is the solution for your distribution needs. We reach 200M+ unique users and drive millions of marketing actions per day through our network. You only pay when users complete your defined marketing action, compared to other distribution channels where you pay per click of impression. 
    -#%p
      Not sold?
      %a{:href => "..."}
        Checkout how we made
        %label
          Kayak Mobile
        the #1 travel app
  #divider
  #become_an_advertiser
    %span
      Are you ready to start driving users to your mobile apps?
    %a{:href => "/register"}
  %h2
    Advertiser Products
  #advertiser_phone
    %img.screenshot.offerwall.show{:src => "/images/offerwall.png"}/
    %img.screenshot.featured{:src => "/images/featured.jpg"}/
    %img.screenshot.ppa{:src => "/images/ppa.png"}/
  #products
    .product{:title => "offerwall"}
      %img{:src => "/images/offerwall_icon.png"}/
      %span
        Offerwall
      %p
        The Tapjoy Offerwall is a subset of the app store where users can browse and discover exciting apps. By listing your app in our offerwall, Tapjoy helps you break through the noise and show your app to millions of users. You buy on a CPA basis, you only pay when someone downloads and tries your app.
    .product{:title => "featured"}
      %img{:src => "/images/featured_icon.png"}/
      %span
        Featured App
      %p
        Looking for premium placement within our marketplace? The Tapjoy Featured App ad unit is a full page interstitial that is displayed when the app is first run. You gain maximum exposure for your app or marketing action with this full screen, rich ad unit. 
    .product{:title => "ppa"}
      %img{:src => "/images/ppa_icon.png"}/
      %span
        Pay Per Action
      %p
        The Tapjoy Pay-Per-Action ad platform allows you to drive deep user engagement with your app. PPA allows you to define the specific action that you're looking for, whether it's completing a tutorial, watching a video, beating a level, or performing a product search. This flexible platform enables you to buy on a CPA basis and direct users to perform actions that you value. 
.clear