- @page_title = "Advertisers"
- content_for :page_head, stylesheet_link_tag('advertisers')
#a_dvertisers
  %img.header{:src => "/images/tapjoy_for_advertisers.png"}/
  #about
    %p If you're looking to find new users or drive engagement within your app, Tapjoy is the solution for your needs. We reach over 200 million Android and iOS users through our network and help them discover new apps with a great user experience. You only pay when users engage with your application.
    -#%p
      Not sold?
      %a{:href => "..."}
        Checkout how we made
        %label
          Kayak Mobile
        the #1 travel app
  #divider
  #become_an_advertiser
    %span Are you ready to start driving users to your mobile apps?
    = link_to ""
  %h2 Advertiser Products
  #advertiser_phone
    %img.screenshot.offerwall.show{:src => "/images/offerwall.png"}/
    %img.screenshot.featured{:src => "/images/featured.jpg"}/
    %img.screenshot.ppa{:src => "/images/ppa.jpg"}/
  #products
    .product{:rel => "offerwall"}
      %img{:src => "/images/offerwall_icon.png"}/
      %span Offerwall
      %p The Tapjoy Offerwall allows users to browse and discover exciting apps. By listing your app in our offerwall, Tapjoy helps you break through the noise and show your app to millions of Android and iOS users. By buying on a CPA basis, you only pay when someone downloads and tries your app.
    .product{:rel => "featured"}
      %img{:src => "/images/featured_icon.png"}/
      %span Featured Ad Placement
      %p Looking for premium placement within our marketplace? The Tapjoy Featured ad unit is a full page interstitial that is displayed when an app is first run. You gain maximum exposure for your app or marketing action with this full screen, rich ad unit
    .product{:rel => "ppa"}
      %img{:src => "/images/ppa_icon.png"}/
      %span Pay-Per-Action and Engagement
      %p The Pay-Per-Action ad platform allows you to drive deep user engagement within your app. PPA enables you to define specific actions, such as completing a tutorial, watching a video, or performing a product search. This enables you to engage users to perform actions that you value.
.clear
