- content_for :page_head, stylesheet_link_tag('advertisers')
#advertisers
  %img.header{:src => "/images/tapjoy_for_advertisers.png"}/
  #about
    %p
      Whether you're looking to find new users for your app or drive users to engage within your apps, Tapjoy is the solution for your distribution needs. We touch over 200M+ Android and iOS users through our network and help them discover new apps with a great user experience. You only pay when users engage with your application.
    -#%p
      Not sold?
      %a{:href => "..."}
        Checkout how we made
        %label
          Kayak Mobile
        the #1 travel app
  #divider
  #become_an_advertiser
    %span
      Are you ready to start driving users to your mobile apps?
    %a{:href => "/register"}
  %h2
    Advertiser Products
  #advertiser_phone
    %img.screenshot.offerwall.show{:src => "/images/offerwall.png"}/
    %img.screenshot.featured{:src => "/images/featured.jpg"}/
    %img.screenshot.ppa{:src => "/images/ppa.jpg"}/
  #products
    .product{:title => "offerwall"}
      %img{:src => "/images/offerwall_icon.png"}/
      %span
        Offerwall
      %p
        The Tapjoy Offerwall allows users to browse and discover exciting apps. By listing your app in our offerwall, Tapjoy helps you break through the noise and show your app to millions of Android and iOS users. By buying on a CPA basis, you only pay when someone downloads and tries your app.
    .product{:title => "featured"}
      %img{:src => "/images/featured_icon.png"}/
      %span
        Featured Ad Placement
      %p
        Looking for premium placement within our marketplace? The Tapjoy Featured ad unit is a full page interstitial that is displayed when an app is first run. You gain maximum exposure for your app or marketing action with this full screen, rich ad unit
    .product{:title => "ppa"}
      %img{:src => "/images/ppa_icon.png"}/
      %span
        Pay-Per-Action and Engagement
      %p
        The Pay-Per-Action ad platform allows you to drive deep user engagement within your app. PPA enables you to define specific actions, such as completing a tutorial, watching a video, or performing a product search. This enables you to engage users to perform actions that you value. 
.clear