.banner.image_height#app-developer-banner
  .large-header
    Drive 100,000+ app installs
    %br/
    daily and grow your
    %br/
    revenue by 100%

  .small-header
    Tapjoy delivers the broadest distribution services and the
    %br/
    highest ARPU monetization for your web and mobile
    %br/
    applications, no matter what platform they are on.
  = button_to 'Sign up today', '/site/contactus.html', :method => 'get', :title => "Contact Us Today to Learn More", :class => 'blue'

.types
  .block1.block1_bg
    %h2 DOUBLE YOUR REVENUE
    %p Increase conversion rates and generate incremental revenue with Tapjoy’s industry-leading alternative payment solutions.
    %ul
      %li Earn 2–5 times more per day
      %li Convert 20% more from free to paid
      %li Monetize international audiences
  %div.block2.block2_bg
    %h2 DISTRIBUTE YOUR APP EVERYWHERE
    %p Acquire new users and re-engage with existing ones wherever they are on the Web or their mobile devices.
    %ul
      %li Pay-Per-Install starting at $0.35
      %li Drive 100,000+ installs daily
      %li Crack the Top 25 apps
    = image_tag "/images/site/icons_spray.png", :align => "right", :class => "spray"
.partnerList
  = image_tag '/images/site/partlist_img.gif'

- content_for :page_styles do
  :plain
    #app-developer-banner {
      background:url(/images/site/app_developers.gif) no-repeat right top!important;
      display: block;
      width: auto;
      margin: 20px 20px 20px 50px !important;
    }
    .types {
      border-top: 2px solid #ccc!important;
    }
    .block2_bg {
      overflor-y: hidden!important;
    }
    div.types {
      padding-bottom: 0px!important;
    }
    div.block2 img.spray {
      position:relative;
      left:35px;
      bottom:20px;
      z-index:100;
    }
