- content_for :page_head, stylesheet_link_tag('about_us')
- content_for :page_head, stylesheet_link_tag('contact')
#notice
  %span
    <b>Thanks!</b> Someone from our team will be in touch shortly
#about_us
  #left
    = render :partial => 'homepage/sub_nav'
  #right
    %img.header{:src => "/images/contact_tapjoy.png"}/
    %img#map{:src => "/images/map.jpg"}/
    #contact_info
      .info_box
        %h2
          Mailing Address
        %p
          111 Sutter St<br />13th Floor<br />San Francisco, CA 94104
      .info_box
        %h2
          Call/Fax Us
        %p
          Telephone: 415 766 6900<br />Fax: 415 296 9007
      .info_box
        %h2
          Email Us
        %p
          info [at] tapjoy.com<br />support [at] tapjoy.com
    %h2
      Support / Info Form
    %form#contact_form
      %div
        %label{:for => "name"}
          Your name
        %input{:name => "name"}
        %label{:for => "email"}
          Your email address
        %input{:name => "email"}
        %label{:for => "reason"}
          Reason for inquiry
        %select{:name => "reason"}
          %option
            Select One
      #details
        %label{:for => "details"}
          Details
        %textarea{:name => "details"}
    %a#send_it{:href => "..."}
.clear