.types
  .block1.mobile_dev
    %h2 MOBILE DEVELOPERS
    %p For developers with applications on the iPhone or Android, click here.
    .button
      = button_to 'Mobile developers start here', register_path, {:method => 'get', :title => "Mobile developers start here", :class => 'blue'}

  .block2.web_dev{:style => 'border:none;'}
    %h2 WEB DEVELOPERS
    %p For developers of web sites and applications on social platforms, click here.
    .button
      = button_to 'Web developers start here', 'http://onboard.offerpalmedia.com/', {:method => 'get', :title => "Web developers start here", :class => 'blue'}

- content_for :page_styles do
  :plain
    .types {
      background: url(/images/site/contact_us.png) no-repeat 20px 55px;
    }
    input.blue {
      position: absolute;
      bottom: 50px;
    }
    #mobile_dev_txt {
      position:absolute;
      left: 100px;
      top: 358px;
      width: 299px;
    }
    #web_dev_txt {
      position:absolute;
      left: 84px;
      top: 360px;
      width: 299px;
    }
    .button {
      margin-left: 20px;
    }
