.titleHeader
  %h3 CONTACT
.splitLayout
  .management.innercontents.fullcontent
    %table.fullContentSpan{ :cellpadding => "0", :cellspacing => "0" }
      %tbody
        %tr{ :valign => "top" }
          %td.leftColumn &nbsp;
          %td.middleColumn
            %p Thank you for your inquiry!
            %p A Tapjoy representative will respond to your request shortly.
            %p= link_to 'Back to Home', '/index.html'
