- url = 'https://www.google.com/calendar/b/0/embed?src=tapjoy.com_3uerjv8j1p7afg4hokf6b9qqdc@group.calendar.google.com&ctz=America/Los_Angeles'
%iframe{:src => url, :width => "800", :height => "600", :frameborder => "0", :scrolling => "no"}/
