.banner.image_height#gaming-platforms
  .large-header
    Tap into the $2 billion
    %br/
    Social gaming market
  .small-header
    Tapjoy gives platform publishers access to content and
    %br/
    users from thousands of the most popular gaming
    %br/
    applications, plus a powerful currency engine to help
    %br/
    monetize it.
  = button_to 'Contact us today to learn more', '/site/contact.html', :title => "Contact Us Today to Learn More", :class => 'blue'
.types
  .block1
    %h2 ACCESS 2000+ TOP GAMING APPS
    %p Give your users the fun, social gaming content they crave. We offer access to the largest applications on the web and leading mobile platforms.
    %ul
      %li Extend your social graph
      %li Re-engage users with game notifications
      %li Integrate tightly with your viral channels
    = image_tag "/images/site/game_apps.gif", :title => "Game Applications"
  .block2{ :style => "border:none;" }
    %h2 MONETIZE VIRTUAL CURRENCY
    %p
      Quickly and easily create a turnkey virtual economy that
      provides additional revenue streams by selling in-game upgrades and digital goods.
    %ul
      %li Accept microtransactions and alternative payments
      %li Get robust analytics and reporting
      %li Integrate seamlessly with our APIs
    = image_tag "site/money_graphic.gif"
.partnerList
  %h2 FEATURED PLATFORMS
  = image_tag "site/featured_platform.gif"

- content_for :page_styles do
  :plain
    #gaming-platforms {
      background:url(/images/site/gaming_banner.jpg) no-repeat right top!important;
      height: 308px;
      display: block;
      width: auto;
      padding: 25px 20px 0px 80px !important;
    }
    .large-header {
      font-size: 3.5em;
    }
    .small-header {
      padding-bottom: 20px;
    }
    .types {
      border-top: 2px solid #ccc!important;
    }
    .block2_bg {
      overflor-y: hidden!important;
    }
    div.types {
      padding-bottom: 0px!important;
    }
    div.block2 img.spray {
      position:relative;
      left:35px;
      bottom:20px;
      z-index:100;
    }
