#left
  %img{:src => "images/app_developers_header.png"}/
  %p
    Increase your app's revenue with our cross-promotion platform and app network
  %a.learn_more{:href => "..."}
#right
  %img{:src => "images/advertisers_header.png"}/
  %p
    Increase your app's revenue with our cross-promotion platform and app network
  %a.learn_more{:href => "..."}
.clear
.clear