- content_for :page_head, stylesheet_link_tag('about_us')
- content_for :page_head, stylesheet_link_tag('team')

#about_us
  #left
    = render :partial => 'homepage/sub_nav'
  #right
    %img.header{:src => "/images/meet_the_team.png"}/
    #user
      %img.teampic{:src => "/images/teampics/mihir.jpg"}
      %span.name
        Mihir Shah
      %span.title
        President & Chief Executive Officer
      %p.about
        Extensive background in social media / social apps, consumer behavior, advertising, direct marketing, and new media as well as in scaling growth-stage companies..
        %a.href{:href => "http://www.google.com"}
          [Full Bio]
        #questions
          .question
            %span
              Secret superpower
            %p
              Navigating through giants.
          .question
            %span
              Currently playing
            %p
              Google Maps.  I'd be lost without that app.
          .question
            %span
              Weapon of choice
            %p
              Red Wine.
    .divider
    #user
      %img.teampic{:src => "/images/teampics/mihir.jpg"}
      %span.name
        Mihir Shah
      %span.title
        President & Chief Executive Officer
      %p.about
        Extensive background in social media / social apps, consumer behavior, advertising, direct marketing, and new media as well as in scaling growth-stage companies..
        %a.href{:href => "http://www.google.com"}
          [Full Bio]
        #questions
          .question
            %span
              Secret superpower
            %p
              Navigating through giants.
          .question
            %span
              Currently playing
            %p
              Google Maps.  I'd be lost without that app.
          .question
            %span
              Weapon of choice
            %p
              Red Wine.
    .divider
    #user
      %img.teampic{:src => "/images/teampics/mihir.jpg"}
      %span.name
        Mihir Shah
      %span.title
        President & Chief Executive Officer
      %p.about
        Extensive background in social media / social apps, consumer behavior, advertising, direct marketing, and new media as well as in scaling growth-stage companies..
        %a.href{:href => "http://www.google.com"}
          [Full Bio]
        #questions
          .question
            %span
              Secret superpower
            %p
              Navigating through giants.
          .question
            %span
              Currently playing
            %p
              Google Maps.  I'd be lost without that app.
          .question
            %span
              Weapon of choice
            %p
              Red Wine.
.clear