- content_for :page_head, stylesheet_link_tag('about_us')
- content_for :page_head, stylesheet_link_tag('team')

#about_us
  #left
    = render :partial => 'homepage/sub_nav'
  #right
    %img.header{:src => "/images/meet_the_team.png"}/
    #user
      %img.teampic{:src => "/images/teampics/mihir.jpg"}
      %span.name
        Mihir Shah
      %span.title
        President & Chief Executive Officer
      .divider
      %p.about
        Prior to joining Tapjoy, Mihir was VP, Ad Network for RockYou. Mihir also founded CookEatShare.com, a vertical social network catering to home cooks and professional chefs. Prior to that, he was VP and GM for Direct Selling Solutions at QuinStreet and was President and CEO of Liquid Software. Mihir earned his BA in Quantitative Economics from Stanford University. 
    #user
      %img.teampic{:src => "/images/teampics/mihir.jpg"}
      %span.name
        Mihir Shah
      %span.title
        President & Chief Executive Officer
      .divider
      %p.about
        Prior to joining Tapjoy, Mihir was VP, Ad Network for RockYou. Mihir also founded CookEatShare.com, a vertical social network catering to home cooks and professional chefs. Prior to that, he was VP and GM for Direct Selling Solutions at QuinStreet and was President and CEO of Liquid Software. Mihir earned his BA in Quantitative Economics from Stanford University. 
.clear