---
recorded_with: VCR 2.2.5
http_interactions:
- request:
    method: get
    uri: http://api.payrad.com/PayerFunctions.asmx?WSDL
    body:
      string: ""
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=utf-8
    body:
      string: |-
        <?xml version="1.0" encoding="utf-8"?>
        <wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Tipalti.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://Tipalti.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
          <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Payer functions.</wsdl:documentation>
          <wsdl:types>
            <s:schema elementFormDefault="qualified" targetNamespace="http://Tipalti.org/">
              <s:element name="TestPaymentFile">
                <s:complexType>
                  <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="payerName" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:double" />
                    <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="totalAmount" type="s:double" />
                  </s:s[...]
- request:
    method: post
    uri: http://api.payrad.com/PayerFunctions.asmx
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tns="http://Tipalti.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ins0="http://Tipalti.org/"><env:Body><ins0:GetDynamicKey><ins0:key>2253daa3b583b6812555200397fa3ff03544ed583566ae8173d162f1d32c273d</ins0:key><ins0:payerName>Tapjoy</ins0:payerName><ins0:timestamp>1349469318</ins0:timestamp></ins0:GetDynamicKey></env:Body></env:Envelope>
    headers:
      content-type:
      - text/xml;charset=UTF-8
      soapaction:
      - "\"http://Tipalti.org/GetDynamicKey\""
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=utf-8
    body:
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetDynamicKeyResponse xmlns="http://Tipalti.org/"><GetDynamicKeyResult><errorMessage>OK</errorMessage><errorCode>OK</errorCode><Key>6dk/oVaRRnP3xJs2J060mh1Knh2YDvqaP7pEtoUUk6I+wf1Ov3BeojEY9B057Fag</Key><Token>FxiaCXX3jht38KTv</Token></GetDynamicKeyResult></GetDynamicKeyResponse></soap:Body></soap:Envelope>
  recorded_at: Fri, 05 Oct 2012 20:35:19 GMT
