//-------------------------------------------
// Global SASS mixins
//-------------------------------------------

$tj-red: #CD202C;
$tj-orange: #DD4814;
$tj-blue: #0088CE;
$tj-black: #000000;

@mixin rounded-corners($radius: 6px) {
  border-radius: $radius;
  overflow: hidden;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin button ($radius: 6px, $padding: 8px 8px) {
  display: inline-block;
  padding: $padding;
  text-align: center;
  @include rounded-corners($radius)
}

@mixin inset-button ($radius: 6px, $padding: 8px 8px) {
  @include inset-shadow;
  @include button($radius, $padding)
}

@mixin inset-shadow($x, $y, $length: 4px, $color: #CECECE) {
  -webkit-box-shadow: inset $x $y $length $color;
  -moz-box-shadow: inset $x $y $length $color;
  box-shadow: inset $x $y $length $color;
}

@mixin shadow($x: 0, $y: 0, $color: #CECECE, $length: 4px) {
  box-shadow: $x $y $length $color;
  -webkit-box-shadow: $x $y $length $color;
  -moz-box-shadow: $x $y $length $color;
}

@mixin box-shadow($x: 0, $y: 4px, $blur: 2px, $length: -2px, $color: #9D9990){
  box-shadow: $x $y $blur $length $color;
  -moz-box-shadow: $x $y $blur $length $color;
  -webkit-box-shadow: $x $y $blur $length $color;
}

@mixin gradient-inset-shadow ($r: 160, $g: 150, $b: 145){
  background-image: -moz-linear-gradient(top, rgba($r,$g,$b,.1) 0%, rgba($r,$g,$b,0) 30%, rgba($r,$g,$b,.2) 100%);
  background-image: -webkit-gradient(linear,left top, left bottom, color-stop(0%, rgba($r,$g,$b,0.1)), color-stop(30%, rgba($r,$g,$b,0)), color-stop(100%, rgba($r,$g,$b,160,150,145,.2)));
  background-image: -webkit-linear-gradient(top, rgba($r,$g,$b,.1) 0%, rgba($r,$g,$b,0) 30%, rgba($r,$g,$b,.2) 100%);
  background-image: -o-linear-gradient(top, rgba($r,$g,$b,.1) 0%, rgba($r,$g,$b,0) 30%, rgba($r,$g,$b,.2) 100%);
  background-image: linear-gradient(top, rgba($r,$g,$b,.1) 0%, rgba($r,$g,$b,0) 30%, rgba($r,$g,$b,.2) 100%);
}

@mixin inset-text-shadow ($r: 160, $g: 150, $b: 145, $r2: 0, $g2: 0, $b2: 0){
  text-shadow: rgba($r,$g,$b,.5) -1px 0, rgba($r,$g,$b,.3) 0 -1px, rgba($r2,$g2,$b2,.5) 0 1px, rgba($r2,$g2,$b2,.3) -1px -1px;
}

@mixin gradient($from, $to){
  background-image: -moz-linear-gradient(top, $from 0%, $to 100%);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, $from), color-stop(1, $to));
  background-image: linear-gradient(top,$from, $to);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$from', EndColorStr='$to');
}

@mixin rotate($deg: 45) {
  -webkit-transform: rotate(#{$deg}deg);
  -moz-transform: rotate(#{$deg}deg);
  -o-transform: rotate(#{$deg}deg);
  -ms-transform: rotate(#{$deg}deg);
  transform: rotate(#{$deg}deg);
}

@mixin fadeIn($time: 0.5s, $count: 1, $delay: 0) {
  -webkit-animation-delay: #{$delay}s;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: $time;
  -webkit-animation-iteration-count: $count;
  -webkit-animation-timing-function: linear;
  -moz-animation-delay: #{$delay}s;
  -moz-animation-name: fadeIn;
  -moz-animation-duration: $time;
  -moz-animation-iteration-count: $count;
  -moz-animation-timing-function: linear;
}

@mixin animate ($type: all, $time: 0.65s, $ease: ease-out) {
  transition: $type $time $ease;
  -moz-transition: $type $time $ease;
  -ms-transition: $type $time $ease;
  -o-transition: $type $time $ease;
  -webkit-transition: $type $time $ease;
}
