%h3 Want to run a video ad campaign with us? 

#main_text
  To get started, please contact your Tapjoy contact or
  %a{:href => "mailto:support@tapjoy.com"} support@tapjoy.com. 
  Please have the following ready:
  %ul
    %h4 Asset Requirements for Optimal Performance: 
    %li
      A 15 - 30 second, 15 - 20 fps (frames per seconds) video in MPEG-4 encoding
    %li
      Minimum 480x272 video size, maximum 960x640. 640x352 is recommended.
    %li
      A 200x125 banner asset to display on the offerwall
    %li
      Marketing call out (20 character limit)

  %ul
    %h4 Optional:
    %li
      Additional links you'd like the user to go to after the view (up to 3 total, including app link). If your app is Tapjoy integrated, we can include a direct link to your app in Google Play and/or the Apple App Store.
    %li
      Examples: Facebook Fan Page, Twitter, etc.

Please note: 
We can now track views to install, however, your app must have either the Tapjoy Advertising or Publishing SDK for proper tracking and reporting.
