- @page_title = 'Reporting'

= render :partial => 'shared/carousel', :locals => {:objects => current_partner_offers, :object => nil}

%p Multi-app reporting has not been implemented yet, select an individual app from above for now.
