- @page_title = 'Reporting'

%ul
  - current_partner_offers.each do |offer|
    %li= link_to(offer.name, reporting_path(offer.id))

%p Multi-app reporting has not been implemented yet, select an individual app from above for now.
