<html>
<head>
  <title>Tapjoy Statusz</title>
  <link rel="stylesheet" href="../stylesheets/themes/blue/style.css" type="text/css" media="print, projection, screen" />
  <script type="text/javascript" src="/javascripts/jquery-1.4.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.tablesorter.js"></script>
  <script type="text/javascript">
    $(function() {
      $("#freq_table").tablesorter({widgets: ['zebra']});
      loadApps()
    });
  </script>
</head>
<body>
  <h1>Tapjoy system status</h1>
  <h2>Domain put frequency</h2>
  <table id="freq_table">
    <thead>
    <tr>
      <th>Domain</th>
      <th>Saves/min</th>
      <th>Saves/sec</th>
    </tr>
    </thead>
    <tbody>
      <% @domain_save_freq.each do |domain_name, freq| %>
        <tr>
          <td><%= domain_name %></td>
          <td><%= freq %></td>
          <td><%= freq.to_f / 60 %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</body>
</html>