- if @offer.is_enabled?
  - if @offer.bid_is_bad?
    #offer_status.bad
      Your offer is displayed near the bottom of the offer wall. Increasing your bid will generate more views for your offer and more installs for your app.
  - elsif @offer.bid_is_passable?
    #offer_status.mediocre
      Your offer is displayed in the middle of the offer wall. Increasing your bid will generate more views for your offer and more installs for your app.
  - elsif @offer.bid_is_good?
    #offer_status.good
      Your offer is displayed near the top of the offer wall.
  - elsif @offer.needs_more_funds?
    #offer_status.bad
      Your offer is falling short of its daily budget because your account is running low on funds.
      = "#{link_to('Add funds', add_funds_billing_path)} to get more installs."
  - elsif @offer.on_track_for_budget?
    #offer_status.good
      Your offer is on track to meet its daily budget of installs.