%p Hi!
%p
  We regret to inform you that after careful consideration we have decided to reject
  your account.

- if @reason
  %p Reason for rejection: #{@reason}

%p
  If you have any questions, or would like to set up a call with a Tapjoy
  member, please email
  = mail_to('support@tapjoy.com')
%p
  Best,
  %br
  The Tapjoy Team
