- size ||= '57x57'
.offer_name
  - unless show_icon == false
    .icon= image_tag(offer.get_icon_url, :size => size, :id => 'icon')

  %h1.name= offer.name_with_suffix
  .descriptors= offer.description
