- size ||= '57x57'
- hide_icon ||= false
- use_main = false if use_main.nil?
.offer_name
  - unless hide_icon
    .icon= image_tag(offer.get_icon_url, :size => size, :id => 'icon')

  %h1.name= offer.name_with_suffix
  .descriptors= offer.description(use_main)
