- @page_title = 'Unavailable Offer'

#main
  = t('text.unavailable_offer.message', :offer => @offer.name)
  %br
  %br

  - if @offer.item_type == 'App'
    %a{ :href => @destination_url }= t('text.unavailable_offer.optional_message', :offer => @offer.name)

- content_for :page_styles do
  :plain
    #main {
      padding-bottom: 15px;
      font-size: 115%;
    }
