- @page_title = 'Survey Complete!'

.container
  #main
    #survey_complete
      - currency_reward = @click.currency_reward.present? ? @click.currency_reward : ''
      - currency_name = testing? ? 'credits' : @currency.name
      Thank you for completing the survey. You will receive your #{currency_reward} #{currency_name} shortly.
  #footer
    = render '/shared/truste'

- content_for :page_styles do
  = stylesheet_link_tag("survey_results/style")
