.container
  #main
    #survey_complete
      - @currency_reward = @click.currency_reward.present? ? @click.currency_reward : ''
      - @currency = @currency.name.present? ? @currency.name : 'credits'
      Thank you for completing the survey. You will receive your #{@currency_reward} #{@currency} shortly.
  #footer
    = render '/shared/truste'

- content_for :page_styles do
  = stylesheet_link_tag("survey_results/style")
