.footer
  %ul.slats.simple
    %li.slat.chrome
      =link_to t('text.games.share_with_your_friends'), games_social_index_path
      .right.ui-list-arrow
        &nbsp;
    %li.slat.chrome
      =link_to t('text.shared.help'), "#"
      .right.ui-list-arrow
        &nbsp;
