#footer{:class=>@non_login_form_class_name}
  - if @show_partners_bar_in_footer
    .partners
      %a{ :href => 'https://www.kabam.com', :target => '_blank' }
        .kabam
          %img{ :src => BLANK_IMAGE }
      %a{ :href => 'http://www.glu.com', :target => '_blank' }
        .glu
          %img{ :src => BLANK_IMAGE }
      %a{ :href => 'http://papayamobile.com', :target => '_blank' }
        .papaya
          %img{ :src => BLANK_IMAGE }
      %a{ :href => 'https://zynga.com', :target => '_blank' }
        .zynga
          %img{ :src => BLANK_IMAGE }
      %a{ :href => 'http://blog.ngmoco.com', :target => '_blank' }
        .ngmoco
          %img{ :src => BLANK_IMAGE }

  .container
    .links
      %ul
        %li>= link_to(t('text.footer.developers'),  'http://developers.tapjoy.com/')
        %li>= link_to(t('text.footer.advertisers'), 'http://advertisers.tapjoy.com/')
        %li>= link_to(t('text.footer.about'),       'http://info.tapjoy.com/about-tapjoy/')
        %li>= link_to(t('text.footer.privacy'),     'http://info.tapjoy.com/about-tapjoy/privacy-policy/')
        %li>= link_to(t('text.footer.blog'),        'http://blog.tapjoy.com/')
      %small
        = t('text.footer.copyright', :year => Time.now.year).html_safe
  .container.center
    = render '/shared/truste'
