.footer
  %ul.list-button-container.flush
    -link_to games_social_index_path do
      %li.list-button
        .charcoal.left
          %span= t('text.games.share_with_your_friends')
        .right.rightarrow.icon16
          &nbsp;
    -link_to "#" do
      %li.list-button.ntb
        .charcoal.left
          %span= t('text.shared.help')
        .right.rightarrow.icon16
          &nbsp;
