.footer
  %ul.list-button-container.flush
    %li.list-button
      -link_to games_social_index_path do
        .charcoal.left
          %span= t('text.games.share_with_your_friends')
        .right.rightarrow.icon16
          &nbsp;
    %li.list-button.ntb
      -link_to games_help_path do
        .charcoal.left
          %span= t('text.shared.help')
        .right.rightarrow.icon16
          &nbsp;
  = render '/shared/truste'
