.footer
  %ul.basic
    %li.list-button
      -link_to games_social_index_path do
        .mod.right-arrow
          %span= t('text.games.share_with_your_friends')
    %li.list-button
      -link_to "#" do
        .mod.right-arrow
          %span= t('text.shared.help')
