.submenu
  %ul.list-button-container.flush.big
    - unless @exclude_social_from_submenu
      %li.list-button
        = link_to( games_social_root_path, :class =>'req-login') do
          .charcoal.left
            %span= t('text.games.share_with_your_friends')
          .right.rightarrow.icon16
            &nbsp;
    - unless @exclude_help_from_submenu
      %li.list-button{ :class => controller.controller_name == 'social' ? '' : 'ntb' }
        = link_to games_help_path do
          .charcoal.left
            %span= t('text.shared.help')
          .right.rightarrow.icon16
            &nbsp;
