- if current_gamer.present?
  .submenu
    %ul.list-button-container.flush.big
      - unless controller.controller_name == 'social'
        %li.list-button
          -link_to games_social_index_path do
            .charcoal.left
              %span= t('text.games.share_with_your_friends')
            .right.rightarrow.icon16
              &nbsp;
      - unless current_page?(games_help_path) || controller.controller_name == "support_requests"
        %li.list-button{ :class => controller.controller_name == 'social' ? '' : 'ntb' }
          -link_to games_help_path do
            .charcoal.left
              %span= t('text.shared.help')
            .right.rightarrow.icon16
              &nbsp;
