#show-profile.current
  .panel
    .page-header
      .container
        .left.ml10.pt3
          .big-title.mt10
            = t('text.shared.my_account')
    = render "fields"
    .container
      .ui-joy-group.p10.ptn
        .ui-joy-group-title= t('text.shared.password')
        %ul.list-button-container.mb10
          %li.list-button.soft-gray-gradient
            = link_to t('text.shared.change_password'), password_games_gamer_path
