- if @unresolved_clicks.any?
  .container.mb25.pb3
    = select_tag :click_id, options_for_select(@unresolved_clicks.collect { |c| [ c.advertiser_app.name, c.id ] }, params[:click_id].present? ? params[:click_id] : @unresolved_clicks.first.id)

- else
  .field.mb20
    = label_tag 'no_incomplete_offers', t('text.games.contact_support.no_incomplete_offers_label')
