#jqt
  #contact.tan.current
    .container.scroll.vertical-scroll
      .scroller.with-scrollbar
        .page
          .logo
            %a{ :href => games_root_path, :class => "slideright" }
              .logo_top
            .slide_nav
              %a{ :href => edit_games_gamer_path, :class => "slideright"}
                .slider_btn.left
                  .left
                    .slide_arrow_wrapper.left_arrow
                      .slide_arrow
                  .slider.back.slider_active.slider_left.left
                    %span.title
                      Back
          .content.narrow.pad
            .my_account_header_wrapper
              .my_account_header.title_2
                - if params[:type] === "feedback"
                  Feedback
                - elsif params[:type] === "report_bug"
                  Report a Bug
                - elsif params[:type] === "contact_support"
                  Contact Support
                - else
                  Contact Us
            .content_box_top_arrow_wrapper
              .content_box_top_arrow
            .content_box.contact_form.clearfix
              - if params[:type] === "feedback"
                Thanks for your feedback!
              - elsif params[:type] === "report_bug"
                Thank you for reporting the bug.  We'll examine and verify it as soon as possible.
              - elsif params[:type] === "contact_support"
                Thank you for contacting our support.  One of our agents will get back to you as soon as possible.
              - else
                Contact Us



#loader.dialog_wrapper.hide
  #progress.dialog
    .dialog_title
      Loading
    .dialog_image


- content_for :page_javascript do
  :plain

