- @page_title = 'Create Transfer'

%p
The transfer tool has been moved, and is now part of the
= link_to("partner page", partners_path) + "."

%p{:style => "font-size: 110%; font-weight: bold;"}
 Make sure the edit the Transfer Bonus field before making a transfer for the first time for a partner.

