- @page_title = 'Create a new Daily Reward'

%h3 Create a new Daily Reward!

%p Daily rewards allow you to provide a daily bonus to your users for returning to your application. A message will appear the first time the application is opened, asking users to return the next day for a currency bonus. When users return in the consecutive days, they are rewarded according to the number of days the campaign runs for, and the currency type and currency amount for each day you construct.

.tjform
  = render "day"
