body {
  background: url("/images/games/thatch_tile.png") repeat top left;
  font-size: 100.01%;
  font-family: "Helvetica Neue", "Helvetica", Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding: 10px;
}

a, a:visited {
  text-decoration: none }

ul.days {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  display: block;
  clear: both;
  width: 100%; }

li.box {
  margin-bottom: 15px;
  border-radius: 2px;
  overflow: auto;
  padding: 4px 10px;
  box-shadow: rgba(0, 0, 0, 0.398438) 1px 1px 3px 1px;
}

li.box.past{
  background-color: rgba(182, 177, 177, 0.6);
  border: none;
}

li.box.current{
  border: none;
  background-color: #d44a3e;
}

/*
li.box:first-child:nth-last-child(1) {
  width: 100%; }

li.box:first-child:nth-last-child(2), li.box:first-child:nth-last-child(2) ~ li {
  width: 50%; }

li.box:first-child:nth-last-child(3), li.box:first-child:nth-last-child(3) ~ li {
  width: 33.33%; }

li.box:first-child:nth-last-child(4), li.box:first-child:nth-last-child(4) ~ li {
  width: 25%; }

li.box:first-child:nth-last-child(5), li.box:first-child:nth-last-child(5) ~ li {
  width: 20%; }
*/


.day {
  overflow: hidden;
  margin: 10px 0px 10px 0px;
  width: 40px;
  height: 40px;
  display: block;
  float:right;
  border:solid 2px #7E7676;
}

.day.past, .day.current {
  margin:  0px 0px 10px 0px;
  border:none;
  width:50px;
  height:50px;
  background-size: 60px;
  background-image: url("/images/reengagement_rewards/1check.png"); }

.credits {
  clear: both;
  float:left;

}

.past h4{
  color: #7E7676;
}
h4{
  color:#7E7676;
  margin-bottom: 0px;
}
.current h4{
  color:white;
}

h4.day-text{
  text-align: left;
  font-size: 18px;
}



.footer {
  display: block;
  padding: 6px 15px;
  background: #D1D1D1;
  border-radius: 0px 0px 7px 7px;
  border-top: 1px solid #888;
  margin-top: 10px;
  clear: both; }
.footer h5 {
  margin-left: 6px;
  position: relative;
  top: 10px; }

.floatl {
  display: block;
  float: left; }

.floatr {
  display: block;
  float: right; }

.floatc {
  display: block;
  margin: 0 auto; }

.textc {
  display: block;
  text-align: center;
  clear: left;
  padding: 12px; }

.button {
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.1em;
  margin: 0 auto;
  width: 120px;
  padding: 10px 16px;
  text-align: center;
  border-radius: 8px; }

.button.disabled {
  color: #ff5763;
  cursor: pointer;
  text-shadow: 0 1px 0 #ac2831; }



.ui-joy-panel {
  background: #f4f4f4;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  margin: 0 auto 15px;
  position: relative;
  width: 100%;
  z-index: 100;
  max-width: 900px;
}

.ui-joy-panel .header, .button {
  background: #e82c2c;
  background: -moz-linear-gradient(top, #e82c2c 0%, #de2627 25%, #ce1f21 50%, #c31a1d 75%, #b41317 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e82c2c), color-stop(25%, #de2627), color-stop(50%, #ce1f21), color-stop(75%, #c31a1d), color-stop(100%, #b41317));
  background: -webkit-linear-gradient(top, #e82c2c 0%, #de2627 25%, #ce1f21 50%, #c31a1d 75%, #b41317 100%);
  background: -o-linear-gradient(top, #e82c2c 0%, #de2627 25%, #ce1f21 50%, #c31a1d 75%, #b41317 100%);
  background: -ms-linear-gradient(top, #e82c2c 0%, #de2627 25%, #ce1f21 50%, #c31a1d 75%, #b41317 100%);
  background: linear-gradient(top, #e82c2c 0%, #de2627 25%, #ce1f21 50%, #c31a1d 75%, #b41317 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e82c2c', endColorstr='#b41317',GradientType=0 );
  border-bottom: 1px solid #720101;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), inset 0 -2px 0 #dd3438;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px; }

.ui-joy-panel .header .heading {
  color: white;
  font-size: 24px;
  font-weight: 400;
  font-family: "Museo Slab";
  padding: 10px 0;
  text-align: center;
  text-shadow: 0 1px 0 #333;
}



.ui-joy-panel .instructions {
  box-shadow: inset 0 1px 0 #fff;
  color: #6e6e6e;
  padding: 15px 15px 0;
}
.ui-joy-panel .instructions span {
  display: block;
  font-size: 70%;
}
