.DS_Store
log
tmp
pids
coverage/
*.swp
*.swo
coverage.data
config/newrelic.yml
config/database.yml
db/production.sqlite
tapjoy.komodoproject
.project
config/local.yml
data/GeoIPCity.dat
public/stylesheets/*.css
public/stylesheets/*/*.css
