.DS_Store
log
tmp
pids
coverage
*.swp
*.swo
coverage.data
vendor/bundle
.bundle
config/newrelic.yml
config/database.yml
db/production.sqlite
tapjoy.komodoproject
.project
config/local.yml
data/*GeoIPCity*
public/stylesheets/*.css
public/stylesheets/*/*.css
.sass-cache
public/assets/*
**.orig
.rspec
public/translations
db/schema-dev.rb
db/webserver-dev.sqlite
cookbooks
.vagrant

# Bundler
vendor/bundle
.bundle
