.DS_Store
log
tmp
pids
coverage
*.swp
*.swo
coverage.data
vendor/bundle
.bundle
config/locales/*
config/newrelic.yml
config/database.yml
db/production.sqlite
tapjoy.komodoproject
.project
config/local.yml
data/*GeoIPCity*
public/stylesheets/*.css
public/stylesheets/*/*.css
.sass-cache
**.orig
.rspec
.powrc
public/translations
db/schema-dev.rb
db/schema-dev.sqlite
db/webserver-dev.sqlite
tapjoy_db


# Bundler
vendor/bundle
.bundle

