- @page_title = "Monthly UDIDs for offer: #{@offer.name_with_suffix}"

.icon= image_tag(@offer.get_icon_url, :size => '57x57')

%h1= @offer.name_with_suffix

.clear

- unless @keys.empty?
  %p UDIDs for:
  - @keys.each do |key|
    .month= link_to(key, download_udids_statz_path(@offer.id, :date => key))
- else
  (no UDID reports found)

- content_for :page_styles do
  :plain
    .icon {
      float: left;
      padding: 20px 0;
    }
