%p Dear #{@username},

%p
  Thanks for your interest. Unfortunately, your request for Kontagent support has
  been rejected at this time for the following reason:

%p= @rejection_reason

%p Thank you,
%br
%p Tapjoy Support
