#about_us { color: #a8a9ac; float: left; margin-top: 43px; }

#left { float: left; margin-right: 43px; width: 246px; }
#right { float: left; margin-bottom: 35px; width: 691px; }

#sub_nav { float: left; width: 100%; }
.thick_line { background: #a8a9ac; float: left; height: 5px; width: 100%; }
.dotted_line { background: url('../images/dots.png'); float: left; height: 2px; width: 100%; }
#sub_nav a { background: url('../images/sub_nav_arrows.png') no-repeat right 0px; color: #a8a9ac; float: left; height: 15px; margin: 14px 0 14px 0; width: 100%; }
#sub_nav a:hover { background-position: right -15px; color: #0476a8; text-decoration: none; }
#sub_nav .selected { background-position: right -15px; color: #0476a8; font-weight: bold; }

#right h1 { clear: left; float: left;  margin-bottom: 15px; margin-top: 23px; }
#about_us p { color: #636363; float: left; font-size: 12px; line-height: 18px; margin-bottom: 22px; }

#about_us ul li { line-height: 18px; }

.hidden { display: none; }
