%p Dear #{@name},

%p
  We're sorry to see you go. If you don't mind telling us, we'd love to hear
  why you want to leave. While Tapjoy continues to grow, your feedback makes a
  big difference. If there's something you found unsatisfying about Tapjoy,
  tell us about it at #{mail_to('delete@tapjoy.com')} and we'll do our best
  to do better.

%p
  Thank You,
  %br/
  Team Tapjoy
