%p
  %h3
    Tapjoy Feedback
  %div
    Email: #{ @email }
    %br
    UDID: #{ @udid }
    %br
    User Agent: #{ @user_agent }
    %br
    \-----------------------------------------------------------------
    %br

%p= @content
