%p
  You are being sent this email because an attempt was made to login to your
  account at Tapjoy.com from a device that was not recognized by our system.
  If it is you who is trying to access your account on this device then you
  can enter the verification number below into the appropriate box at Tapjoy.com.

%p
  Verification Key:
  %b= @verification_key


%p
  %b If you did not attempt to access Tapjoy.com from a new device your account may have been compromised.
  Please click the link below to block the device and and change your password.
  As an extra precaution, please make sure your password for this email account is different from your Tapjoy password.

%p
  Block device link:
  = @block_link
%p
  Password reset link:
  = @reset_link
