%p
  A new creative graphic was uploaded to an offer for <b>#{@offer.name}</b>. Creatives uploaded by partners must be approved by an account manager.

%p
  %b= link_to("View and approve offer creative", @approval_url)
