%p Thanks for signing up for Tapjoy, our newsletter to deliver the hottest games, tips, and tricks.

%p
  Your sign-up is not complete. Please
  = link_to("click here", "#{API_URL}/email_offer/confirm?click_key=#{@click_key}")
  to verify your email address.

%p Thanks,
%p Team Tapjoy
