Please click the following link to confirm your email address and receive <%= "#{@amount} #{@publisher_app_name} #{@currency_name}" %>. You will be signed up for an email list, and can unsubscibe anytime after receiving the first email.
<br><br>
<a href="<%= @url %>"><%= @url %></a>
<br><br>
This link will expire in 24 hours.
