%p Hi!
%p
  Thanks for creating an account at Tapjoy! You now have access to one of the
  largest monetization and distribution service providers for Android and iOS.

%p Here's a brief walk-through of the dashboard:
%ul
  %li
    %b Apps:
    set up a campaign to distribute your app and/or virtual currency to
    monetize through our ad units
  %li
    %b Reporting:
    monitor analytics for your revenue and advertising campaigns
  %li
    %b Billing:
    add payment information and funds, view your current balance and pending
    earnings
  %li
    %b Account:
    add additional user accounts and update your account info
  %li
    %b Premier:
    receive discounts by signing up with our Premier Program
%p
  For detailed instructions about how to integrate our SDK, please visit our
  Knowledge Center:
  = link_to('knowledge.tapjoy.com', 'http://knowledge.tapjoy.com')
%p
  If you have any questions, or would like to set up a call with a Tapjoy
  member, please email
  = mail_to('support@tapjoy.com')
%p We look forward to working with you!
%p
  Best,
  %br
  The Tapjoy Team
