%p Hi!
%p
  Thanks for creating an account at Tapjoy! Your account will be reviewed
  shortly, after which you can get started!
%p
  If you have any questions, or would like to set up a call with a Tapjoy
  member, please email
  = mail_to('support@tapjoy.com')
%p
  Best,
  %br
  The Tapjoy Team
