%h2 Whitepaper Request
%p Name: #{@info[:name]}
%p Company: #{@info[:company]}
%p Email: #{@info[:email]}
- if @info[:future] == '1'
  %p
    %b Please let me know about future white papers in this series
%p From: #{WEBSITE_URL}/site/whitepaper
