.vertical-menu
  %ul
    %li= link_to 'Summary', billing_index_path, :class => @selected_state[:index]
    %li= link_to 'Add Funds', add_funds_billing_path, :class => @selected_state[:add_funds]
    - if current_partner.pending_earnings > 0
      %li= link_to 'Transfer Funds', transfer_funds_billing_path, :class => @selected_state[:transfer_funds]
    - else
      %li.disabled Transfer Funds
    %li= link_to 'Payment Info', payout_info_billing_path, :class => @selected_state[:payout_info]
