%p.info
  By creating a virtual currency that allows users to earn such currency via Tapjoy's offerwall, your application will also be automatically added to Tapjoy's consumer site, which will allow users to earn currency for your application via Tapjoy's HTML5 products. You will continue to earn revenue at the same conversion rate you have set for your virtual currency; this will simply add an additional potential source of revenue for your application via the currency you create below. No additional integration needs to be done on your part.  If you would like your application to be excluded from Tapjoy’s consumer site or learn more about the product, please notify #{mail_to('support@tapjoy.com')} within seven days.

- content_for :page_styles do
  :plain
    .info { font-size: 13px; }