- @offer.banner_creative_sizes.each do |size_hash|
  %iframe.creative_upload{:src => offer_creatives_form_path(:id => @offer.id, :app_id => @app.try(:id), :image_size => size_hash[:image_size], :label => "#{size_hash[:label_image_size]} creative")}
