- if !offer.id.nil?
  - if defined?(show_featured_sizes_only) && show_featured_sizes_only
    .featured-only{:style => "background-color: #f0f0f0; display: none;"}
      %h3 Featured Ad Custom Creatives
      - Offer::FEATURED_AD_ALL_SIZES.each do |size|
        %iframe.creative_upload{:src => form_offer_creative_path(:offer_creative_id => offer.id, :image_size => size, :label => size, :desc => @desc)}

  - else
    - all_sizes = offer.banner_creative_sizes_with_labels
    - featured_sizes = all_sizes.select { |size_hash| Offer::FEATURED_AD_ALL_SIZES.include?(size_hash[:size]) }
    - new_featured_sizes = featured_sizes.select { |size_hash| Offer::FEATURED_AD_SIZES.include?(size_hash[:size]) }
    - old_featured_sizes = featured_sizes - new_featured_sizes

    - if featured_sizes.empty?
      - all_sizes.each do |size|
        %iframe.creative_upload{:src => form_offer_creative_path(:offer_creative_id => offer.id, :image_size => size[:size], :label => size[:label], :desc => size[:desc])}

    - else
      - [new_featured_sizes, old_featured_sizes].each_with_index do |arr, index|
        - if index == 0
          %div.featured-note.new_featured_ad= "The following creative sizes only apply to the new Featured Ad Unit."
        - else
          %div.featured-note= "The following creative sizes only apply to the old featured Ad Unit. We will show creatives based on what SDK the publisher has. Eventually, we plan to deprecate the old Featured ad unit."

        - arr.each do |size_hash|
          %iframe{:src => form_offer_creative_path(:offer_creative_id => offer.id, :image_size => size_hash[:size], :label => size_hash[:label], :desc => size_hash[:desc]), :class => "creative_upload#{index == 1 ? ' new_featured_ad' : ''}"}
